# Data Analysis for entire dataset

In [1]:
#importing libaries
%matplotlib inline
import numpy as np              
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
student_info=pd.read_csv('corpus-files\student_information.csv')
course=pd.read_csv('corpus-files\course.csv')
answer_df=pd.read_csv('answer.csv',index_col = 'answer_id', low_memory=False)

In [3]:
course_=course.drop(columns=['class_id','semester','section'])

student=student_info.drop(columns=['birth_year','language_used_at_home','non_native_language_1','yrs_of_study_lang1',
                                  'study_in_classroom_lang1','ways_of_study_lang1','non_native_language_2','study_in_classroom_lang2',
                                  'ways_of_study_lang2','non_native_language_3','yrs_of_study_lang3','study_in_classroom_lang3',
                                  'ways_of_study_lang3','yrs_of_english_learning','yrs_in_english_environment','yrs_of_study_lang2'])
answer_=answer_df[['question_id','anon_id','course_id','version','text_len','text','tokens']].reset_index()

In [4]:
#This function removes all of the rows that contain a string in the passed column
def rmStr (df, col):
    row_index=0
    row_ind=[]
    for i in df[col]:
        try:
            int(i)
        except:
            row_ind.append(row_index)
        row_index+=1
    return df.drop(labels=row_ind,axis=0)

In [30]:
#Cleaning the answer df
col='course_id'
answer=rmStr(answer_, col) #removes strings from answer_.course_id

,answer_id,question_id,anon_id,course_id,version,text_len,text,tokens
0,1,5,eq0,149,1,177,I met my friend Nife while I was studying in a...,"['I', 'met', 'my', 'friend', 'Nife', 'while', ..."
1,2,5,am8,149,1,137,"Ten years ago, I met a women on the train betw...","['Ten', 'years', 'ago', ',', 'I', 'met', 'a', ..."
2,3,12,dk5,115,1,63,In my country we usually don't use tea bags. F...,"['In', 'my', 'country', 'we', 'usually', 'do',..."
3,4,13,dk5,115,1,6,I organized the instructions by time.,"['I', 'organized', 'the', 'instructions', 'by'..."
4,5,12,ad1,115,1,59,"First, prepare a port, loose tea, and cup.\nSe...","['First', ',', 'prepare', 'a', 'port', ',', 'l..."
...,...,...,...,...,...,...,...,...
46312,48416,6139,dr8,1050,1,439,Many people enjoy a game in their free time. B...,"['Many', 'people', 'enjoy', 'a', 'game', 'in',..."
46313,48417,6137,fv1,1045,1,478,\n Marijuana Legalization 7/22/12\n Writing 4...,"['Marijuana', 'Legalization', '7', '/', '22', ..."
46314,48418,6137,fo1,1045,1,408,Some patients are suffering from their illnes...,"['Some', 'patients', 'are', 'suffering', 'from..."
46315,48419,6119,ge8,1033,1,110,My house looks amazing and modern. I decorated...,"['My', 'house', 'looks', 'amazing', 'and', 'mo..."
46316,48420,6027,ge8,1033,1,97,History and Geography aopsule\n\n My copsule ...,"['History', 'and', 'Geography', 'aopsule', 'My..."

# Binary Search Algorithm

In [31]:
#binary search for strings
def binarySearchArr(arr, x):
    l = 0
    r = len(arr)
    while (l <= r):
        m = l + ((r - l) // 2)
 
        res = (x == arr[m])
        # Check if x is present at mid
        if (res == True):
            return m
 
        # If x greater, ignore left half
    #problem is here
        elif (res == False):
            if (x>arr[m]):
                l = m+1
            elif (x<arr[m]):
                r=m-1
        # If x is smaller, ignore right half
    return -1

# Defining Functions

In [32]:
# function that finds the unique values in a list
def get_uniques(x):
    return list(x.unique())

# Seperating anon_ids by language

In [33]:
# creating a list of all the different languages
langs=[]
for i in student.native_language:
    lang=i
    if lang not in langs:
        langs.append(lang)

In [34]:
#This groups the anon_ids by their native language
count=0
lang_ids={}
for y in langs:
    count=0
    ids=[]
    key=y
    for i in student.anon_id:
        if (student.at[count, 'native_language'] == y):
            val=i
            ids.append(val)
        count=count+1
    lang_ids.update({key: ids})

In [48]:
print(langs)

['Arabic', 'Nepali', 'Korean', 'Chinese', 'Russian', 'Turkish', 'French', 'Other', 'Japanese', 'Spanish', 'Thai', 'Portuguese', 'Taiwanese', 'English', 'Mongol', 'Italian', 'Vietnamese', 'Polish', 'German', 'Swedish', 'Hebrew', 'Farsi', 'Romanian', 'Indonesian', 'Suundi', 'Azerbaijani', 'Swahili', 'Hindi', 'Russian,Ukrainian', 'Montenegrin', 'Zulu']

In [49]:
#shows how many particpants are in each language
lang_counts=student.groupby('native_language').count().drop(columns=['gender','course_history','age'])
lang_counts

                   anon_id
native_language
Arabic                 465
Azerbaijani              2
Chinese                249
English                  2
Farsi                    4
French                  13
German                   3
Hebrew                   6
Hindi                    1
Indonesian               2
Italian                 12
Japanese                81
Korean                 245
Mongol                   3
Montenegrin              1
Nepali                   1
Other                   23
Polish                   2
Portuguese              20
Romanian                 1
Russian                 12
Russian,Ukrainian        1
Spanish                 66
Suundi                   1
Swahili                  1
Swedish                  1
Taiwanese               12
Thai                    31
Turkish                 47
Vietnamese               4
Zulu                     1

In [36]:
len(lang_ids)

31

# Merging the two datasets

In [38]:
merge_ans=answer[['anon_id','course_id']]
student_merge=student.drop(columns=['course_history'])

      anon_id course_id
0         eq0       149
1         am8       149
2         dk5       115
3         dk5       115
4         ad1       115
...       ...       ...
46312     dr8      1050
46313     fv1      1045
46314     fo1      1045
46315     ge8      1033
46316     ge8      1033

[46230 rows x 2 columns]

In [41]:
student_ans=student_merge.merge(answer,on='anon_id').astype({'course_id':'int64'})

In [42]:
stu_ans_crs=student_ans.merge(course_, on='course_id')

In [43]:
stu_ans_crs

,anon_id,gender,native_language,age,answer_id,question_id,course_id,version,text_len,text,tokens,level_id
0,do6,Female,Russian,31.0,150,4,117,1,299,Some people prefer eat out and some like doing...,"['Some', 'people', 'prefer', 'eat', 'out', 'an...",5
1,do6,Female,Russian,31.0,1221,97,117,1,288,My opinion is that a person does need educatio...,"['My', 'opinion', 'is', 'that', 'a', 'person',...",5
2,do6,Female,Russian,31.0,1957,189,117,1,321,There are two national rooms in the Cathedral ...,"['There', 'are', 'two', 'national', 'rooms', '...",5
3,do6,Female,Russian,31.0,2164,190,117,1,464,There are two nation rooms in the Cathedral of...,"['There', 'are', 'two', 'nation', 'rooms', 'in...",5
4,bv5,Male,Arabic,21.0,151,4,117,1,315,"""Not all learning takes place in the classroom...","['``', 'Not', 'all', 'learning', 'takes', 'pla...",5
...,...,...,...,...,...,...,...,...,...,...,...,...
46225,cy7,Female,Korean,NaN,47682,6066,1034,1,10,1. emphasis\n2. appropriate\n3. requires\n4. a...,"['1', '.', 'emphasis', '2', '.', 'appropriate'...",3
46226,fp7,Female,Turkish,NaN,47823,6066,1034,1,10,1.emphasis \n2.appropriate\n3.requires\n4.anal...,"['1', '.', 'emphasis', '2', '.', 'appropriate'...",3
46227,fq6,Male,Chinese,NaN,47824,6066,1034,1,10,1.emphasis\n2.appropriate\n3.requires\n4.analy...,"['1', '.', 'emphasis', '2', '.', 'appropriate'...",3
46228,di6,Male,Chinese,NaN,47787,6066,1034,1,10,1 emphasis\n2 normal\n3 requires\n4 analyze\n5...,"['1', 'emphasis', '2', 'normal', '3', 'require...",3
46229,fm3,Unknown,Arabic,NaN,47725,6066,1034,1,10,1- emphasis\n2- appropriate\n3- requires\n4- a...,"['1', '-', 'emphasis', '2', '-', 'appropriate'...",3

In [45]:
sac_lvls=stu_ans_crs[['anon_id','native_language','level_id']]
sac_lvls

      anon_id native_language  level_id
0         do6         Russian         5
1         do6         Russian         5
2         do6         Russian         5
3         do6         Russian         5
4         bv5          Arabic         5
...       ...             ...       ...
46225     cy7          Korean         3
46226     fp7         Turkish         3
46227     fq6         Chinese         3
46228     di6         Chinese         3
46229     fm3          Arabic         3

[46230 rows x 3 columns]

# Finiding who is in all three levels

first limit to list of who is in all three levels
then run them into a dictionary based on their language (lang list as keys)

In [ ]:
# from other notebook
# this code gets how many times an id appeared (n_anon_ids) as well as an array of what levels they participated in (lvl_nums)
clean_ids_lvl_loose=final_loose.groupby('anon_id').agg(
    n_anon_ids_loose=('level_id', 'nunique'),
    lvl_nums_loose=('level_id', get_uniques)
)

#changes the clean_ids_lvl's index so we can access the anon_id easier
ind_loose= clean_ids_lvl_loose.reset_index()
ind_loose

#seperates into all three
ind=0
all_three_loose=[]
append=''
for i in ind_loose.anon_id:
    if ind_loose.iat[ind, 1]==3:
        append=ind_loose.at[ind,'anon_id']
        all_three_loose.append(append)
    ind=ind+1

len(all_three_loose)

In [56]:
lvl_list=sac_lvls.groupby('anon_id').agg(n_uniq=('level_id','nunique'), lvl_nums=('level_id',get_uniques))
lvl_list=lvl_list.reset_index()

In [58]:
all_three=[]
ind=0
for i in lvl_list.anon_id:
    if lvl_list.iat[ind, 1]==3:
        append=lvl_list.at[ind, 'anon_id']
        all_three.append(append)
    ind+=1

149