# Data Analysis for entire dataset

In [1]:
#importing libaries
%matplotlib inline
import numpy as np              
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
student_info=pd.read_csv('corpus-files\student_information.csv')
course=pd.read_csv('corpus-files\course.csv')
answer_df=pd.read_csv('answer.csv',index_col = 'answer_id', low_memory=False)

In [3]:
course_=course.drop(columns=['class_id','semester','section'])

student=student_info.drop(columns=['birth_year','language_used_at_home','non_native_language_1','yrs_of_study_lang1',
                                  'study_in_classroom_lang1','ways_of_study_lang1','non_native_language_2','study_in_classroom_lang2',
                                  'ways_of_study_lang2','non_native_language_3','yrs_of_study_lang3','study_in_classroom_lang3',
                                  'ways_of_study_lang3','yrs_of_english_learning','yrs_in_english_environment','yrs_of_study_lang2'])
answer_=answer_df[['question_id','anon_id','course_id','version','text_len','text','tokens']].reset_index()

In [4]:
#This function removes all of the rows that contain a string in the passed column
def rmStr (df, col):
    row_index=0
    row_ind=[]
    for i in df[col]:
        try:
            int(i)
        except:
            row_ind.append(row_index)
        row_index+=1
    return df.drop(labels=row_ind,axis=0)

In [30]:
#Cleaning the answer df
col='course_id'
answer=rmStr(answer_, col) #removes strings from answer_.course_id

,answer_id,question_id,anon_id,course_id,version,text_len,text,tokens
0,1,5,eq0,149,1,177,I met my friend Nife while I was studying in a...,"['I', 'met', 'my', 'friend', 'Nife', 'while', ..."
1,2,5,am8,149,1,137,"Ten years ago, I met a women on the train betw...","['Ten', 'years', 'ago', ',', 'I', 'met', 'a', ..."
2,3,12,dk5,115,1,63,In my country we usually don't use tea bags. F...,"['In', 'my', 'country', 'we', 'usually', 'do',..."
3,4,13,dk5,115,1,6,I organized the instructions by time.,"['I', 'organized', 'the', 'instructions', 'by'..."
4,5,12,ad1,115,1,59,"First, prepare a port, loose tea, and cup.\nSe...","['First', ',', 'prepare', 'a', 'port', ',', 'l..."
...,...,...,...,...,...,...,...,...
46312,48416,6139,dr8,1050,1,439,Many people enjoy a game in their free time. B...,"['Many', 'people', 'enjoy', 'a', 'game', 'in',..."
46313,48417,6137,fv1,1045,1,478,\n Marijuana Legalization 7/22/12\n Writing 4...,"['Marijuana', 'Legalization', '7', '/', '22', ..."
46314,48418,6137,fo1,1045,1,408,Some patients are suffering from their illnes...,"['Some', 'patients', 'are', 'suffering', 'from..."
46315,48419,6119,ge8,1033,1,110,My house looks amazing and modern. I decorated...,"['My', 'house', 'looks', 'amazing', 'and', 'mo..."
46316,48420,6027,ge8,1033,1,97,History and Geography aopsule\n\n My copsule ...,"['History', 'and', 'Geography', 'aopsule', 'My..."

# Binary Search Algorithm

In [91]:
#binary search for strings
def binarySearchArr(arr, x):
    l = 0
    r = len(arr)
    while (l <= r):
        m = l + ((r - l) // 2)
 
        res = (x == arr[m])
        # Check if x is present at mid
        if (res == True):
            return m
 
        # If x greater, ignore left half
    #problem is here
        elif (res == False):
            if (x>arr[m]):
                l = m+1
            elif (x<arr[m]):
                r=m-1
        # If x is smaller, ignore right half
    return -1

# Defining Functions

In [32]:
# function that finds the unique values in a list
def get_uniques(x):
    return list(x.unique())

# Seperating anon_ids by language

In [33]:
# creating a list of all the different languages
langs=[]
for i in student.native_language:
    lang=i
    if lang not in langs:
        langs.append(lang)

In [34]:
#This groups the anon_ids by their native language
count=0
lang_ids={}
for y in langs:
    count=0
    ids=[]
    key=y
    for i in student.anon_id:
        if (student.at[count, 'native_language'] == y):
            val=i
            ids.append(val)
        count=count+1
    lang_ids.update({key: ids})

In [48]:
print(langs)

['Arabic', 'Nepali', 'Korean', 'Chinese', 'Russian', 'Turkish', 'French', 'Other', 'Japanese', 'Spanish', 'Thai', 'Portuguese', 'Taiwanese', 'English', 'Mongol', 'Italian', 'Vietnamese', 'Polish', 'German', 'Swedish', 'Hebrew', 'Farsi', 'Romanian', 'Indonesian', 'Suundi', 'Azerbaijani', 'Swahili', 'Hindi', 'Russian,Ukrainian', 'Montenegrin', 'Zulu']

In [49]:
#shows how many particpants are in each language
lang_counts=student.groupby('native_language').count().drop(columns=['gender','course_history','age'])
lang_counts

                   anon_id
native_language
Arabic                 465
Azerbaijani              2
Chinese                249
English                  2
Farsi                    4
French                  13
German                   3
Hebrew                   6
Hindi                    1
Indonesian               2
Italian                 12
Japanese                81
Korean                 245
Mongol                   3
Montenegrin              1
Nepali                   1
Other                   23
Polish                   2
Portuguese              20
Romanian                 1
Russian                 12
Russian,Ukrainian        1
Spanish                 66
Suundi                   1
Swahili                  1
Swedish                  1
Taiwanese               12
Thai                    31
Turkish                 47
Vietnamese               4
Zulu                     1

In [36]:
len(lang_ids)

31

# Merging the two datasets

In [38]:
merge_ans=answer[['anon_id','course_id']]
student_merge=student.drop(columns=['course_history'])

      anon_id course_id
0         eq0       149
1         am8       149
2         dk5       115
3         dk5       115
4         ad1       115
...       ...       ...
46312     dr8      1050
46313     fv1      1045
46314     fo1      1045
46315     ge8      1033
46316     ge8      1033

[46230 rows x 2 columns]

In [41]:
student_ans=student_merge.merge(answer,on='anon_id').astype({'course_id':'int64'})

In [42]:
stu_ans_crs=student_ans.merge(course_, on='course_id')

In [43]:
stu_ans_crs

,anon_id,gender,native_language,age,answer_id,question_id,course_id,version,text_len,text,tokens,level_id
0,do6,Female,Russian,31.0,150,4,117,1,299,Some people prefer eat out and some like doing...,"['Some', 'people', 'prefer', 'eat', 'out', 'an...",5
1,do6,Female,Russian,31.0,1221,97,117,1,288,My opinion is that a person does need educatio...,"['My', 'opinion', 'is', 'that', 'a', 'person',...",5
2,do6,Female,Russian,31.0,1957,189,117,1,321,There are two national rooms in the Cathedral ...,"['There', 'are', 'two', 'national', 'rooms', '...",5
3,do6,Female,Russian,31.0,2164,190,117,1,464,There are two nation rooms in the Cathedral of...,"['There', 'are', 'two', 'nation', 'rooms', 'in...",5
4,bv5,Male,Arabic,21.0,151,4,117,1,315,"""Not all learning takes place in the classroom...","['``', 'Not', 'all', 'learning', 'takes', 'pla...",5
...,...,...,...,...,...,...,...,...,...,...,...,...
46225,cy7,Female,Korean,NaN,47682,6066,1034,1,10,1. emphasis\n2. appropriate\n3. requires\n4. a...,"['1', '.', 'emphasis', '2', '.', 'appropriate'...",3
46226,fp7,Female,Turkish,NaN,47823,6066,1034,1,10,1.emphasis \n2.appropriate\n3.requires\n4.anal...,"['1', '.', 'emphasis', '2', '.', 'appropriate'...",3
46227,fq6,Male,Chinese,NaN,47824,6066,1034,1,10,1.emphasis\n2.appropriate\n3.requires\n4.analy...,"['1', '.', 'emphasis', '2', '.', 'appropriate'...",3
46228,di6,Male,Chinese,NaN,47787,6066,1034,1,10,1 emphasis\n2 normal\n3 requires\n4 analyze\n5...,"['1', 'emphasis', '2', 'normal', '3', 'require...",3
46229,fm3,Unknown,Arabic,NaN,47725,6066,1034,1,10,1- emphasis\n2- appropriate\n3- requires\n4- a...,"['1', '-', 'emphasis', '2', '-', 'appropriate'...",3

In [45]:
sac_lvls=stu_ans_crs[['anon_id','native_language','level_id']]
sac_lvls

      anon_id native_language  level_id
0         do6         Russian         5
1         do6         Russian         5
2         do6         Russian         5
3         do6         Russian         5
4         bv5          Arabic         5
...       ...             ...       ...
46225     cy7          Korean         3
46226     fp7         Turkish         3
46227     fq6         Chinese         3
46228     di6         Chinese         3
46229     fm3          Arabic         3

[46230 rows x 3 columns]

# Finiding who is in all three levels

first limit to list of who is in all three levels
then run them into a dictionary based on their language (lang list as keys)

In [ ]:
# from other notebook
# this code gets how many times an id appeared (n_anon_ids) as well as an array of what levels they participated in (lvl_nums)
clean_ids_lvl_loose=final_loose.groupby('anon_id').agg(
    n_anon_ids_loose=('level_id', 'nunique'),
    lvl_nums_loose=('level_id', get_uniques)
)

#changes the clean_ids_lvl's index so we can access the anon_id easier
ind_loose= clean_ids_lvl_loose.reset_index()
ind_loose

#seperates into all three
ind=0
all_three_loose=[]
append=''
for i in ind_loose.anon_id:
    if ind_loose.iat[ind, 1]==3:
        append=ind_loose.at[ind,'anon_id']
        all_three_loose.append(append)
    ind=ind+1

len(all_three_loose)

In [82]:
lvl_list=sac_lvls.groupby('anon_id').agg(n_uniq=('level_id','nunique'), lvl_nums=('level_id',get_uniques))
lvl_list=lvl_list.reset_index()

In [69]:
all_three=[]
ind=0
for i in lvl_list.anon_id:
    if lvl_list.iat[ind, 1]==3:
        append=lvl_list.at[ind, 'anon_id']
        all_three.append(append)
    ind+=1
len(all_three)

149

In [76]:
print(lvl_list)

     anon_id  n_uniq lvl_nums
0        aa0       1      [5]
1        aa1       2   [4, 3]
2        aa2       2   [4, 3]
3        aa3       1      [4]
4        aa5       1      [4]
...      ...     ...      ...
1172     hb7       2   [5, 4]
1173     hb8       2   [3, 4]
1174     hb9       2   [5, 4]
1175     hc0       2   [4, 5]
1176     hc1       1      [5]

[1177 rows x 3 columns]

In [78]:
print(sac_lvls)

      anon_id native_language  level_id
0         do6         Russian         5
1         do6         Russian         5
2         do6         Russian         5
3         do6         Russian         5
4         bv5          Arabic         5
...       ...             ...       ...
46225     cy7          Korean         3
46226     fp7         Turkish         3
46227     fq6         Chinese         3
46228     di6         Chinese         3
46229     fm3          Arabic         3

[46230 rows x 3 columns]

In [70]:
all_anon=[]
for i in sac_lvls.anon_id:
    all_anon.append(i)
len(all_anon)

46230

In [103]:
# gets unique ids
uanon=[]
index=0
for i in all_anon:
    if all_anon[index] not in uanon:
        uanon.append(all_anon[index])
    index=index+1
uanon.sort()

In [ ]:
lang_dict_in34lim={} #creates a dictionary where we can store the anon_id as the key and the language as the definition
for i in in34_lim:
    df_index=binarySearchArr(anon_lim,i) #utilizing binary search 
    qindex=binarySearchArr(uanon_lim, i)
    
    key=sorted_lim.at[df_index,'anon_id'] #adding the anon_id as a key
    val=sorted_lim.at[df_index,'L1'] #adding the language as the definition of that anon_ids
    val2=qcount_lim.at[qindex,'Number of Questions']
    
    if key not in lang_dict_in34lim.keys():#to account for duplicate entires. if the anon_id is not already a key, it will be added
        lang_dict_in34lim.update({key: [val,val2] })
print(lang_dict_in34lim)

In [75]:
lang_dict_all=dict.fromkeys(langs)
for i in all_three:
    df_index=binarySearchArr(uanon, i)
   # qindex=binarySearchArr(uanon, i)
    
    val=lvl_list.at[df_index,'anon_id']

SyntaxError: invalid syntax (<ipython-input-75-eb74d6865dbd>, line 6)

In [111]:
sorted_sac=sac_lvls.sort_values(by=['anon_id']).reset_index(drop=True)
print(sorted_sac)

      anon_id native_language  level_id
0         aa0         Spanish         5
1         aa0         Spanish         5
2         aa0         Spanish         5
3         aa0         Spanish         5
4         aa0         Spanish         5
...       ...             ...       ...
46225     hc1          Korean         5
46226     hc1          Korean         5
46227     hc1          Korean         5
46228     hc1          Korean         5
46229     hc1          Korean         5

[46230 rows x 3 columns]

In [130]:
lang_dict_all=dict.fromkeys(langs)

for key in langs:
    for i in uanon:
        df_ind=binarySearchArr(all_anon,i)
        if (key==sorted_sac.at[df_ind,'native_language']):
            val=sorted_sac.at[df_ind,'anon_id']
            lang_dict_all.update({key:val})
print(lang_dict_all)

{'Arabic': 'hb9', 'Nepali': None, 'Korean': 'hc1', 'Chinese': 'gz5', 'Russian': 'gi7', 'Turkish': 'ha9', 'French': 'hb6', 'Other': 'gw3', 'Japanese': 'hb7', 'Spanish': 'gx0', 'Thai': 'gy1', 'Portuguese': 'gx6', 'Taiwanese': 'hc0', 'English': 'ez7', 'Mongol': 'gg5', 'Italian': 'fd7', 'Vietnamese': 'cb5', 'Polish': 'bg6', 'German': 'fh4', 'Swedish': 'fo5', 'Hebrew': 'fq1', 'Farsi': 'gy9', 'Romanian': 'bm1', 'Indonesian': 'fc5', 'Suundi': 'cl9', 'Azerbaijani': 'fs5', 'Swahili': 'ee8', 'Hindi': 'am0', 'Russian,Ukrainian': 'am2', 'Montenegrin': 'ce1', 'Zulu': 'as8'}

In [138]:
lang_dict_all={}
for i in uanon:
    df_ind=binarySearchArr(all_anon,i)
    key=sorted_sac.at[df_ind,'native_language']
    val=sorted_sac.at[df_ind,'anon_id']
    
    if key in lang_dict_all:
        lang_dict_all[key].append(val)
    else:
        lang_dict_all[key]=[val]
    if key in lang_dict_all:
        lang_dict_all[key].append(val)
    
print(lang_dict_all)

{'Spanish': ['aa0', 'aa0', 'ac4', 'ac4', 'ae4', 'ae4', 'ag0', 'ag0', 'aj7', 'aj7', 'aw5', 'aw5', 'ax6', 'ax6', 'bi4', 'bi4', 'bj2', 'bj2', 'bl3', 'bl3', 'br2', 'br2', 'bt8', 'bt8', 'ch0', 'ch0', 'ci4', 'ci4', 'cm9', 'cm9', 'cn1', 'cn1', 'cn9', 'cn9', 'cq1', 'cq1', 'cq6', 'cq6', 'cu2', 'cu2', 'cv7', 'cv7', 'cw2', 'cw2', 'cx9', 'cx9', 'cy6', 'cy6', 'da6', 'da6', 'dc6', 'dc6', 'df4', 'df4', 'dg6', 'dg6', 'dj5', 'dj5', 'dk0', 'dk0', 'dr1', 'dr1', 'ea7', 'ea7', 'eh2', 'eh2', 'en1', 'en1', 'en3', 'en3', 'eo8', 'eo8', 'er5', 'er5', 'es6', 'es6', 'eu1', 'eu1', 'eu9', 'eu9', 'fa2', 'fa2', 'fe7', 'fe7', 'fg7', 'fg7', 'fj0', 'fj0', 'fn1', 'fn1', 'fs4', 'fs4', 'fx7', 'fx7', 'fy1', 'fy1', 'fy6', 'fy6', 'gc3', 'gc3', 'ge5', 'ge5', 'gk0', 'gk0', 'gq4', 'gq4', 'gs6', 'gs6', 'gu1', 'gu1', 'gu9', 'gu9', 'gx0', 'gx0'], 'Chinese': ['aa1', 'aa1', 'aa3', 'aa3', 'aa5', 'aa5', 'ab6', 'ab6', 'ac3', 'ac3', 'ac9', 'ac9', 'ad7', 'ad7', 'ae2', 'ae2', 'ae9', 'ae9', 'af4', 'af4', 'ag4', 'ag4', 'ag6', 'ag6', 'ai3', 'ai3', 'ai4', 'ai4', 'aj8', 'aj8', 'ak5', 'ak5', 'ak7', 'ak7', 'am3', 'am3', 'am5', 'am5', 'an7', 'an7', 'ao3', 'ao3', 'ap5', 'ap5', 'ap6', 'ap6', 'ap8', 'ap8', 'aq1', 'aq1', 'ar5', 'ar5', 'ar8', 'ar8', 'ar9', 'ar9', 'as5', 'as5', 'at2', 'at2', 'at6', 'at6', 'au3', 'au3', 'av8', 'av8', 'aw3', 'aw3', 'ax4', 'ax4', 'ax7', 'ax7', 'az8', 'az8', 'ba3', 'ba3', 'bb4', 'bb4', 'bd7', 'bd7', 'be4', 'be4', 'bf2', 'bf2', 'bf7', 'bf7', 'bf9', 'bf9', 'bi8', 'bi8', 'bi9', 'bi9', 'bj0', 'bj0', 'bk8', 'bk8', 'bl4', 'bl4', 'bl7', 'bl7', 'bm4', 'bm4', 'bm9', 'bm9', 'bn1', 'bn1', 'bo1', 'bo1', 'bo8', 'bo8', 'bo9', 'bo9', 'bp2', 'bp2', 'bp4', 'bp4', 'bp5', 'bp5', 'br7', 'br7', 'br9', 'br9', 'bu6', 'bu6', 'bu9', 'bu9', 'bv8', 'bv8', 'bw9', 'bw9', 'bx4', 'bx4', 'by2', 'by2', 'by5', 'by5', 'by6', 'by6', 'bz1', 'bz1', 'bz2', 'bz2', 'ca4', 'ca4', 'ca7', 'ca7', 'cb0', 'cb0', 'cb3', 'cb3', 'cc1', 'cc1', 'cd2', 'cd2', 'cd4', 'cd4', 'cd6', 'cd6', 'cf0', 'cf0', 'cf9', 'cf9', 'cg1', 'cg1', 'cg2', 'cg2', 'ci2', 'ci2', 'ci9', 'ci9', 'cj5', 'cj5', 'ck3', 'ck3', 'ck9', 'ck9', 'cl2', 'cl2', 'cl3', 'cl3', 'cl6', 'cl6', 'cq2', 'cq2', 'cq9', 'cq9', 'cs4', 'cs4', 'cs5', 'cs5', 'ct0', 'ct0', 'cu8', 'cu8', 'cu9', 'cu9', 'cw8', 'cw8', 'cw9', 'cw9', 'cx0', 'cx0', 'cx5', 'cx5', 'cz2', 'cz2', 'cz4', 'cz4', 'dc0', 'dc0', 'de6', 'de6', 'dg0', 'dg0', 'dh2', 'dh2', 'dh9', 'dh9', 'di1', 'di1', 'di6', 'di6', 'di7', 'di7', 'dk6', 'dk6', 'dk9', 'dk9', 'dl7', 'dl7', 'dl8', 'dl8', 'dm2', 'dm2', 'dm4', 'dm4', 'dm8', 'dm8', 'dn0', 'dn0', 'do4', 'do4', 'do7', 'do7', 'dp1', 'dp1', 'dq9', 'dq9', 'ds0', 'ds0', 'ds5', 'ds5', 'dt4', 'dt4', 'dt5', 'dt5', 'du2', 'du2', 'du9', 'du9', 'dw2', 'dw2', 'dx1', 'dx1', 'dx6', 'dx6', 'dz8', 'dz8', 'ea0', 'ea0', 'eb6', 'eb6', 'ec5', 'ec5', 'ee9', 'ee9', 'ef2', 'ef2', 'eg3', 'eg3', 'eg8', 'eg8', 'ei2', 'ei2', 'ei8', 'ei8', 'ej1', 'ej1', 'ek7', 'ek7', 'el9', 'el9', 'em1', 'em1', 'em6', 'em6', 'eo1', 'eo1', 'eq4', 'eq4', 'er3', 'er3', 'es4', 'es4', 'et4', 'et4', 'eu2', 'eu2', 'eu5', 'eu5', 'ev5', 'ev5', 'ev6', 'ev6', 'ev9', 'ev9', 'ew6', 'ew6', 'ey0', 'ey0', 'ey8', 'ey8', 'fc1', 'fc1', 'fd1', 'fd1', 'ff2', 'ff2', 'ff6', 'ff6', 'fg8', 'fg8', 'fi1', 'fi1', 'fi6', 'fi6', 'fj4', 'fj4', 'fk2', 'fk2', 'fk3', 'fk3', 'fk7', 'fk7', 'fk8', 'fk8', 'fk9', 'fk9', 'fm2', 'fm2', 'fm6', 'fm6', 'fn8', 'fn8', 'fo2', 'fo2', 'fo4', 'fo4', 'fo8', 'fo8', 'fq5', 'fq5', 'fq6', 'fq6', 'fr4', 'fr4', 'fu3', 'fu3', 'fu5', 'fu5', 'fw7', 'fw7', 'fy2', 'fy2', 'fy3', 'fy3', 'fz5', 'fz5', 'ga3', 'ga3', 'gb4', 'gb4', 'gc7', 'gc7', 'ge3', 'ge3', 'gf2', 'gf2', 'gf5', 'gf5', 'gg4', 'gg4', 'gh0', 'gh0', 'gi2', 'gi2', 'gi4', 'gi4', 'gl2', 'gl2', 'gm1', 'gm1', 'gn5', 'gn5', 'go3', 'go3', 'go7', 'go7', 'go8', 'go8', 'gp3', 'gp3', 'gp6', 'gp6', 'gp8', 'gp8', 'gq0', 'gq0', 'gr4', 'gr4', 'gt0', 'gt0', 'gt9', 'gt9', 'gu5', 'gu5', 'gv3', 'gv3', 'gw0', 'gw0', 'gw5', 'gw5', 'gw8', 'gw8', 'gx5', 'gx5', 'gy3', 'gy3', 'gz5', 'gz5'], 'Arabic': ['aa2', 'aa2', 'ab2', 'ab2', 'ab8', 'ab8', 'ac2', 'ac2', 'ac6', 'ac6', 'ac8', 'ac8', 'ad4', 'ad4', 'ad5', 'ad5', 'ad9', 'ad9', 'ae0', 'ae0', 'ae5', 'ae5', 'af3', 'af3', 'ag5', 'ag5', 'ag7', 'ag7', 'ai1', 'ai1', 'ai7', 'ai7', 'aj0', 'aj0', 'aj3', 'aj3', 'aj5', 'aj5', 'aj6', 'aj6', 'ak0', 'ak0', 'ak1', 'ak1', 'al0', 'al0', 'al1', 'al1', 'al9', 'al9', 'am1', 'am1', 'am7', 'am7', 'an2', 'an2', 'ao1', 'ao1', 'ao2', 'ao2', 'ao4', 'ao4', 'ao5', 'ao5', 'ao8', 'ao8', 'ap2', 'ap2', 'ap7', 'ap7', 'aq0', 'aq0', 'aq2', 'aq2', 'aq4', 'aq4', 'aq7', 'aq7', 'aq9', 'aq9', 'ar0', 'ar0', 'ar2', 'ar2', 'as1', 'as1', 'at1', 'at1', 'at3', 'at3', 'at9', 'at9', 'au7', 'au7', 'au8', 'au8', 'av7', 'av7', 'aw4', 'aw4', 'aw9', 'aw9', 'ax0', 'ax0', 'ax3', 'ax3', 'ax5', 'ax5', 'ay2', 'ay2', 'ay7', 'ay7', 'ay8', 'ay8', 'az4', 'az4', 'az6', 'az6', 'az9', 'az9', 'ba0', 'ba0', 'ba1', 'ba1', 'ba4', 'ba4', 'ba5', 'ba5', 'ba9', 'ba9', 'bb9', 'bb9', 'bc1', 'bc1', 'bc3', 'bc3', 'bc4', 'bc4', 'bd0', 'bd0', 'bd3', 'bd3', 'bd4', 'bd4', 'bd8', 'bd8', 'bf0', 'bf0', 'bf3', 'bf3', 'bg0', 'bg0', 'bg2', 'bg2', 'bh1', 'bh1', 'bh2', 'bh2', 'bh3', 'bh3', 'bi0', 'bi0', 'bi3', 'bi3', 'bi5', 'bi5', 'bi6', 'bi6', 'bi7', 'bi7', 'bj1', 'bj1', 'bj6', 'bj6', 'bj8', 'bj8', 'bk5', 'bk5', 'bk7', 'bk7', 'bl5', 'bl5', 'bm6', 'bm6', 'bm8', 'bm8', 'bn5', 'bn5', 'bn6', 'bn6', 'bn7', 'bn7', 'bp8', 'bp8', 'bq3', 'bq3', 'bq4', 'bq4', 'bq6', 'bq6', 'br1', 'br1', 'br3', 'br3', 'br4', 'br4', 'br6', 'br6', 'br8', 'br8', 'bs2', 'bs2', 'bs5', 'bs5', 'bs6', 'bs6', 'bs9', 'bs9', 'bt2', 'bt2', 'bt7', 'bt7', 'bu8', 'bu8', 'bv0', 'bv0', 'bv1', 'bv1', 'bv2', 'bv2', 'bv4', 'bv4', 'bv5', 'bv5', 'bw2', 'bw2', 'bw4', 'bw4', 'bw5', 'bw5', 'bw6', 'bw6', 'bx5', 'bx5', 'bx6', 'bx6', 'bx9', 'bx9', 'by1', 'by1', 'by4', 'by4', 'by8', 'by8', 'bz3', 'bz3', 'bz9', 'bz9', 'ca5', 'ca5', 'cb1', 'cb1', 'cb8', 'cb8', 'cb9', 'cb9', 'cc6', 'cc6', 'cd8', 'cd8', 'ce2', 'ce2', 'ce6', 'ce6', 'ce7', 'ce7', 'cf7', 'cf7', 'cg6', 'cg6', 'cg9', 'cg9', 'ch4', 'ch4', 'ch5', 'ch5', 'ch7', 'ch7', 'ci1', 'ci1', 'ci5', 'ci5', 'ci7', 'ci7', 'cj2', 'cj2', 'cj3', 'cj3', 'cj7', 'cj7', 'ck1', 'ck1', 'ck2', 'ck2', 'ck4', 'ck4', 'cl1', 'cl1', 'cl4', 'cl4', 'cl5', 'cl5', 'cl7', 'cl7', 'cm2', 'cm2', 'cm4', 'cm4', 'cm7', 'cm7', 'cn0', 'cn0', 'cn7', 'cn7', 'co0', 'co0', 'co4', 'co4', 'co8', 'co8', 'co9', 'co9', 'cp3', 'cp3', 'cp4', 'cp4', 'cp5', 'cp5', 'cp6', 'cp6', 'cq4', 'cq4', 'cq8', 'cq8', 'cr1', 'cr1', 'cr4', 'cr4', 'cr8', 'cr8', 'cr9', 'cr9', 'cs0', 'cs0', 'cs6', 'cs6', 'cs7', 'cs7', 'ct4', 'ct4', 'cu0', 'cu0', 'cu1', 'cu1', 'cu4', 'cu4', 'cu6', 'cu6', 'cv1', 'cv1', 'cv2', 'cv2', 'cv5', 'cv5', 'cv8', 'cv8', 'cw4', 'cw4', 'cw7', 'cw7', 'cx6', 'cx6', 'cy1', 'cy1', 'cy2', 'cy2', 'cy3', 'cy3', 'cz6', 'cz6', 'cz7', 'cz7', 'cz8', 'cz8', 'cz9', 'cz9', 'da7', 'da7', 'db1', 'db1', 'db3', 'db3', 'db4', 'db4', 'db6', 'db6', 'db8', 'db8', 'dc1', 'dc1', 'dd3', 'dd3', 'dd5', 'dd5', 'dd6', 'dd6', 'de1', 'de1', 'de4', 'de4', 'de7', 'de7', 'df2', 'df2', 'dg5', 'dg5', 'dg9', 'dg9', 'dh1', 'dh1', 'dh7', 'dh7', 'dh8', 'dh8', 'di2', 'di2', 'di3', 'di3', 'di8', 'di8', 'dj9', 'dj9', 'dk3', 'dk3', 'dl1', 'dl1', 'dl2', 'dl2', 'dl5', 'dl5', 'dl9', 'dl9', 'dn2', 'dn2', 'dn4', 'dn4', 'dn5', 'dn5', 'do0', 'do0', 'do1', 'do1', 'do3', 'do3', 'do5', 'do5', 'do9', 'do9', 'dp3', 'dp3', 'dp7', 'dp7', 'dq0', 'dq0', 'dq4', 'dq4', 'dq7', 'dq7', 'dr0', 'dr0', 'dr2', 'dr2', 'dr3', 'dr3', 'dr5', 'dr5', 'ds2', 'ds2', 'ds3', 'ds3', 'ds6', 'ds6', 'ds9', 'ds9', 'dt1', 'dt1', 'dt8', 'dt8', 'du3', 'du3', 'du5', 'du5', 'du6', 'du6', 'du8', 'du8', 'dv0', 'dv0', 'dv1', 'dv1', 'dv7', 'dv7', 'dv8', 'dv8', 'dw0', 'dw0', 'dw3', 'dw3', 'dw6', 'dw6', 'dx2', 'dx2', 'dx3', 'dx3', 'dx5', 'dx5', 'dx7', 'dx7', 'dx9', 'dx9', 'dy4', 'dy4', 'dz1', 'dz1', 'ea9', 'ea9', 'eb5', 'eb5', 'eb7', 'eb7', 'ec7', 'ec7', 'ed3', 'ed3', 'ed7', 'ed7', 'ee5', 'ee5', 'ef0', 'ef0', 'ef3', 'ef3', 'ef6', 'ef6', 'ef9', 'ef9', 'eg2', 'eg2', 'eh0', 'eh0', 'eh4', 'eh4', 'eh8', 'eh8', 'ei0', 'ei0', 'ei5', 'ei5', 'ej0', 'ej0', 'ej5', 'ej5', 'ej8', 'ej8', 'ej9', 'ej9', 'ek1', 'ek1', 'ek6', 'ek6', 'el0', 'el0', 'el2', 'el2', 'em5', 'em5', 'en4', 'en4', 'en8', 'en8', 'eo5', 'eo5', 'eq0', 'eq0', 'eq1', 'eq1', 'eq2', 'eq2', 'er2', 'er2', 'er4', 'er4', 'es2', 'es2', 'es5', 'es5', 'et0', 'et0', 'et5', 'et5', 'et8', 'et8', 'eu7', 'eu7', 'ev4', 'ev4', 'ew2', 'ew2', 'ew7', 'ew7', 'ew8', 'ew8', 'ew9', 'ew9', 'ex9', 'ex9', 'ey4', 'ey4', 'ez3', 'ez3', 'ez5', 'ez5', 'ez6', 'ez6', 'fa4', 'fa4', 'fa6', 'fa6', 'fb3', 'fb3', 'fb5', 'fb5', 'fb8', 'fb8', 'fc0', 'fc0', 'fd2', 'fd2', 'fd3', 'fd3', 'fe1', 'fe1', 'fe2', 'fe2', 'fe4', 'fe4', 'fe5', 'fe5', 'fe9', 'fe9', 'fg0', 'fg0', 'fg9', 'fg9', 'fh1', 'fh1', 'fh2', 'fh2', 'fh5', 'fh5', 'fj2', 'fj2', 'fj8', 'fj8', 'fj9', 'fj9', 'fk0', 'fk0', 'fl6', 'fl6', 'fm1', 'fm1', 'fm3', 'fm3', 'fm4', 'fm4', 'fm5', 'fm5', 'fm9', 'fm9', 'fn0', 'fn0', 'fn5', 'fn5', 'fo0', 'fo0', 'fo1', 'fo1', 'fo7', 'fo7', 'fp1', 'fp1', 'fp4', 'fp4', 'fq0', 'fq0', 'fr0', 'fr0', 'fr5', 'fr5', 'fr6', 'fr6', 'fr9', 'fr9', 'fs1', 'fs1', 'fs3', 'fs3', 'fs6', 'fs6', 'fs9', 'fs9', 'ft0', 'ft0', 'ft9', 'ft9', 'fu4', 'fu4', 'fu7', 'fu7', 'fv1', 'fv1', 'fv4', 'fv4', 'fv8', 'fv8', 'fw4', 'fw4', 'fw5', 'fw5', 'fx8', 'fx8', 'fy0', 'fy0', 'fy8', 'fy8', 'fz0', 'fz0', 'fz3', 'fz3', 'fz7', 'fz7', 'ga6', 'ga6', 'ga9', 'ga9', 'gb3', 'gb3', 'gc0', 'gc0', 'gd7', 'gd7', 'gd8', 'gd8', 'ge1', 'ge1', 'ge7', 'ge7', 'ge8', 'ge8', 'gf0', 'gf0', 'gf6', 'gf6', 'gf7', 'gf7', 'gf9', 'gf9', 'gg0', 'gg0', 'gg7', 'gg7', 'gh3', 'gh3', 'gh4', 'gh4', 'gh8', 'gh8', 'gi1', 'gi1', 'gj2', 'gj2', 'gj4', 'gj4', 'gj8', 'gj8', 'gk4', 'gk4', 'gk8', 'gk8', 'gl6', 'gl6', 'gl7', 'gl7', 'gm5', 'gm5', 'gm7', 'gm7', 'gm8', 'gm8', 'go0', 'go0', 'go2', 'go2', 'go4', 'go4', 'gp0', 'gp0', 'gp2', 'gp2', 'gp4', 'gp4', 'gp7', 'gp7', 'gq2', 'gq2', 'gr8', 'gr8', 'gs0', 'gs0', 'gs8', 'gs8', 'gt1', 'gt1', 'gt3', 'gt3', 'gt6', 'gt6', 'gt8', 'gt8', 'gu2', 'gu2', 'gu4', 'gu4', 'gu6', 'gu6', 'gv8', 'gv8', 'gv9', 'gv9', 'gw1', 'gw1', 'gw2', 'gw2', 'gw4', 'gw4', 'gw7', 'gw7', 'gx1', 'gx1', 'gx8', 'gx8', 'gy7', 'gy7', 'gz4', 'gz4', 'ha1', 'ha1', 'ha3', 'ha3', 'ha7', 'ha7', 'hb0', 'hb0', 'hb8', 'hb8', 'hb9', 'hb9'], 'Korean': ['aa8', 'aa8', 'aa9', 'aa9', 'ac5', 'ac5', 'ad1', 'ad1', 'af1', 'af1', 'ag3', 'ag3', 'ag9', 'ag9', 'ah6', 'ah6', 'ah9', 'ah9', 'ai0', 'ai0', 'al5', 'al5', 'an4', 'an4', 'an5', 'an5', 'an9', 'an9', 'ao6', 'ao6', 'ap4', 'ap4', 'aq5', 'aq5', 'as0', 'as0', 'as4', 'as4', 'as7', 'as7', 'at8', 'at8', 'au2', 'au2', 'au5', 'au5', 'au6', 'au6', 'av9', 'av9', 'aw6', 'aw6', 'ay1', 'ay1', 'az0', 'az0', 'az2', 'az2', 'az5', 'az5', 'bc0', 'bc0', 'be2', 'be2', 'be7', 'be7', 'bf1', 'bf1', 'bg1', 'bg1', 'bg3', 'bg3', 'bh0', 'bh0', 'bi1', 'bi1', 'bl8', 'bl8', 'bm0', 'bm0', 'bm3', 'bm3', 'bo0', 'bo0', 'bo4', 'bo4', 'bp6', 'bp6', 'bp9', 'bp9', 'bq0', 'bq0', 'bq8', 'bq8', 'bq9', 'bq9', 'br5', 'br5', 'bs0', 'bs0', 'bs3', 'bs3', 'bt1', 'bt1', 'bu0', 'bu0', 'bu4', 'bu4', 'bv9', 'bv9', 'bw3', 'bw3', 'bx3', 'bx3', 'bz5', 'bz5', 'ca6', 'ca6', 'ca8', 'ca8', 'ca9', 'ca9', 'cc4', 'cc4', 'cd3', 'cd3', 'ce3', 'ce3', 'ce8', 'ce8', 'cf1', 'cf1', 'cf6', 'cf6', 'ch2', 'ch2', 'ch9', 'ch9', 'ci0', 'ci0', 'cj8', 'cj8', 'ck0', 'ck0', 'cn3', 'cn3', 'co5', 'co5', 'cp0', 'cp0', 'cq0', 'cq0', 'cs9', 'cs9', 'ct5', 'ct5', 'cv3', 'cv3', 'cw0', 'cw0', 'cw1', 'cw1', 'cw6', 'cw6', 'cy5', 'cy5', 'cy7', 'cy7', 'cz3', 'cz3', 'da3', 'da3', 'da8', 'da8', 'dd1', 'dd1', 'dd9', 'dd9', 'df3', 'df3', 'df9', 'df9', 'dg7', 'dg7', 'dh0', 'dh0', 'dj0', 'dj0', 'dj6', 'dj6', 'dj7', 'dj7', 'dl3', 'dl3', 'dm3', 'dm3', 'dn7', 'dn7', 'dp4', 'dp4', 'dp5', 'dp5', 'dr8', 'dr8', 'dt0', 'dt0', 'du4', 'du4', 'dv9', 'dv9', 'dx8', 'dx8', 'dy0', 'dy0', 'dy7', 'dy7', 'dz7', 'dz7', 'ea3', 'ea3', 'ea4', 'ea4', 'eb3', 'eb3', 'eb4', 'eb4', 'eb9', 'eb9', 'ec1', 'ec1', 'ec9', 'ec9', 'ed1', 'ed1', 'ee3', 'ee3', 'ef1', 'ef1', 'ef4', 'ef4', 'eg4', 'eg4', 'eg5', 'eg5', 'eh7', 'eh7', 'eh9', 'eh9', 'ei7', 'ei7', 'ek8', 'ek8', 'el3', 'el3', 'en2', 'en2', 'eo2', 'eo2', 'ep6', 'ep6', 'eq6', 'eq6', 'eq8', 'eq8', 'es0', 'es0', 'es9', 'es9', 'et1', 'et1', 'et3', 'et3', 'et6', 'et6', 'eu6', 'eu6', 'ev0', 'ev0', 'ex0', 'ex0', 'ex3', 'ex3', 'ey3', 'ey3', 'ez2', 'ez2', 'fa0', 'fa0', 'fa5', 'fa5', 'fb4', 'fb4', 'fb9', 'fb9', 'fc7', 'fc7', 'fc9', 'fc9', 'fd6', 'fd6', 'ff1', 'ff1', 'fh7', 'fh7', 'fi4', 'fi4', 'fi5', 'fi5', 'fj7', 'fj7', 'fk1', 'fk1', 'fk5', 'fk5', 'fl0', 'fl0', 'fl4', 'fl4', 'fl5', 'fl5', 'fn2', 'fn2', 'fo3', 'fo3', 'fp2', 'fp2', 'fp5', 'fp5', 'fp9', 'fp9', 'fr2', 'fr2', 'fs0', 'fs0', 'ft2', 'ft2', 'ft6', 'ft6', 'fu6', 'fu6', 'fv7', 'fv7', 'fv9', 'fv9', 'fx4', 'fx4', 'fy5', 'fy5', 'fz8', 'fz8', 'fz9', 'fz9', 'ga1', 'ga1', 'gb0', 'gb0', 'gb7', 'gb7', 'gb9', 'gb9', 'gc2', 'gc2', 'gd1', 'gd1', 'ge6', 'ge6', 'ge9', 'ge9', 'gg2', 'gg2', 'gg6', 'gg6', 'gh6', 'gh6', 'gj0', 'gj0', 'gj1', 'gj1', 'gk5', 'gk5', 'gl1', 'gl1', 'gl4', 'gl4', 'gm4', 'gm4', 'gn0', 'gn0', 'gp1', 'gp1', 'gp9', 'gp9', 'gq8', 'gq8', 'gr0', 'gr0', 'gs3', 'gs3', 'gs5', 'gs5', 'gs9', 'gs9', 'gt7', 'gt7', 'gu0', 'gu0', 'gv1', 'gv1', 'gv7', 'gv7', 'gz0', 'gz0', 'gz1', 'gz1', 'gz2', 'gz2', 'gz7', 'gz7', 'ha0', 'ha0', 'ha2', 'ha2', 'ha6', 'ha6', 'hb4', 'hb4', 'hc1', 'hc1'], 'Hebrew': ['ab1', 'ab1', 'el8', 'el8', 'en9', 'en9', 'ex6', 'ex6', 'fb1', 'fb1', 'fq1', 'fq1'], 'Japanese': ['ac7', 'ac7', 'ad8', 'ad8', 'af7', 'af7', 'ag8', 'ag8', 'ah0', 'ah0', 'al2', 'al2', 'am9', 'am9', 'ao0', 'ao0', 'ap0', 'ap0', 'as2', 'as2', 'at4', 'at4', 'au9', 'au9', 'ay0', 'ay0', 'ay3', 'ay3', 'bb0', 'bb0', 'bb1', 'bb1', 'bc2', 'bc2', 'bh4', 'bh4', 'bh7', 'bh7', 'bh8', 'bh8', 'bl6', 'bl6', 'bn3', 'bn3', 'bs1', 'bs1', 'bu1', 'bu1', 'cb2', 'cb2', 'cg3', 'cg3', 'ck7', 'ck7', 'co2', 'co2', 'cp2', 'cp2', 'cs3', 'cs3', 'cx4', 'cx4', 'db2', 'db2', 'de2', 'de2', 'df0', 'df0', 'df7', 'df7', 'dg2', 'dg2', 'dg3', 'dg3', 'ds8', 'ds8', 'dt3', 'dt3', 'dw7', 'dw7', 'dz0', 'dz0', 'dz3', 'dz3', 'dz5', 'dz5', 'dz9', 'dz9', 'el5', 'el5', 'ew4', 'ew4', 'ey2', 'ey2', 'ez8', 'ez8', 'fg2', 'fg2', 'fh9', 'fh9', 'fq8', 'fq8', 'ft8', 'ft8', 'fu0', 'fu0', 'fu2', 'fu2', 'fw1', 'fw1', 'fx9', 'fx9', 'fz2', 'fz2', 'ga5', 'ga5', 'gh1', 'gh1', 'gh9', 'gh9', 'gj5', 'gj5', 'gl9', 'gl9', 'gs2', 'gs2', 'gu3', 'gu3', 'gx2', 'gx2', 'hb2', 'hb2', 'hb7', 'hb7'], 'Italian': ['ad2', 'ad2', 'aj9', 'aj9', 'bd1', 'bd1', 'by9', 'by9', 'cp7', 'cp7', 'cx8', 'cx8', 'db9', 'db9', 'dd4', 'dd4', 'df6', 'df6', 'dn1', 'dn1', 'ee4', 'ee4', 'fd7', 'fd7'], 'Portuguese': ['ad3', 'ad3', 'af2', 'af2', 'ah5', 'ah5', 'am6', 'am6', 'av0', 'av0', 'bm7', 'bm7', 'cr3', 'cr3', 'di0', 'di0', 'ee7', 'ee7', 'em8', 'em8', 'ep1', 'ep1', 'es7', 'es7', 'ex7', 'ex7', 'fe3', 'fe3', 'ff3', 'ff3', 'go9', 'go9', 'gx6', 'gx6'], 'Taiwanese': ['ae3', 'ae3', 'aj1', 'aj1', 'az3', 'az3', 'bb5', 'bb5', 'bg7', 'bg7', 'ci3', 'ci3', 'da0', 'da0', 'dt6', 'dt6', 'du7', 'du7', 'ea5', 'ea5', 'gb6', 'gb6', 'hc0', 'hc0'], 'Thai': ['af0', 'af0', 'ah1', 'ah1', 'am8', 'am8', 'aw2', 'aw2', 'ax2', 'ax2', 'be1', 'be1', 'be8', 'be8', 'bf8', 'bf8', 'bl2', 'bl2', 'bl9', 'bl9', 'bu3', 'bu3', 'by3', 'by3', 'ca0', 'ca0', 'cc7', 'cc7', 'cf2', 'cf2', 'cf3', 'cf3', 'ci6', 'ci6', 'cn4', 'cn4', 'cs1', 'cs1', 'dn8', 'dn8', 'ed8', 'ed8', 'ee1', 'ee1', 'ei3', 'ei3', 'ek5', 'ek5', 'ep4', 'ep4', 'eu0', 'eu0', 'fw3', 'fw3', 'gr9', 'gr9', 'gt4', 'gt4', 'gu7', 'gu7', 'gy1', 'gy1'], 'Turkish': ['ag2', 'ag2', 'ah4', 'ah4', 'an1', 'an1', 'at7', 'at7', 'bg5', 'bg5', 'bj4', 'bj4', 'bo5', 'bo5', 'bs8', 'bs8', 'bw1', 'bw1', 'ch1', 'ch1', 'cn2', 'cn2', 'co1', 'co1', 'cp8', 'cp8', 'ct9', 'ct9', 'dc2', 'dc2', 'de5', 'de5', 'dk5', 'dk5', 'dp2', 'dp2', 'dv4', 'dv4', 'dw9', 'dw9', 'dx4', 'dx4', 'ed2', 'ed2', 'eh6', 'eh6', 'em0', 'em0', 'em7', 'em7', 'er9', 'er9', 'ey9', 'ey9', 'fd8', 'fd8', 'fp6', 'fp6', 'fp7', 'fp7', 'fr1', 'fr1', 'fu1', 'fu1', 'fu8', 'fu8', 'fx2', 'fx2', 'gc5', 'gc5', 'gg1', 'gg1', 'gk3', 'gk3', 'gk7', 'gk7', 'gq1', 'gq1', 'ha9', 'ha9'], 'Other': ['ah8', 'ah8', 'bb6', 'bb6', 'bm5', 'bm5', 'cs8', 'cs8', 'ct1', 'ct1', 'dn6', 'dn6', 'dp9', 'dp9', 'ea2', 'ea2', 'ej2', 'ej2', 'el7', 'el7', 'fe0', 'fe0', 'fw9', 'fw9', 'gb1', 'gb1', 'gw3', 'gw3'], 'Hindi': ['am0', 'am0'], 'Russian,Ukrainian': ['am2', 'am2'], 'Zulu': ['as8', 'as8'], 'French': ['av4', 'av4', 'cg8', 'cg8', 'ck6', 'ck6', 'da9', 'da9', 'dh6', 'dh6', 'dj8', 'dj8', 'ep2', 'ep2', 'ff4', 'ff4', 'fv6', 'fv6', 'hb6', 'hb6'], 'Russian': ['ax9', 'ax9', 'bk2', 'bk2', 'cm8', 'cm8', 'cn8', 'cn8', 'dj3', 'dj3', 'do6', 'do6', 'ec0', 'ec0', 'eu8', 'eu8', 'gi7', 'gi7'], 'English': ['ay4', 'ay4', 'ez7', 'ez7'], 'Polish': ['bf5', 'bf5', 'bg6', 'bg6'], 'Vietnamese': ['bh9', 'bh9', 'bk0', 'bk0', 'cb5', 'cb5'], 'Farsi': ['bj9', 'bj9', 'db5', 'db5', 'fz1', 'fz1', 'gy9', 'gy9'], 'Indonesian': ['bl0', 'bl0', 'fc5', 'fc5'], 'Romanian': ['bm1', 'bm1'], 'German': ['cb7', 'cb7', 'ek3', 'ek3', 'fh4', 'fh4'], 'Montenegrin': ['ce1', 'ce1'], 'Suundi': ['cl9', 'cl9'], 'Swahili': ['ee8', 'ee8'], 'Mongol': ['ev7', 'ev7', 'fa9', 'fa9', 'gg5', 'gg5'], 'Azerbaijani': ['ff0', 'ff0', 'fs5', 'fs5'], 'Swedish': ['fo5', 'fo5']}

In [135]:
test={}
if 'a' in test:
    test['a'].append('yes')
else:
    test['a']=['no']
if 'a' in test:
    test['a'].append('beep')
test

{'a': ['no', 'beep']}

{'Arabic': None,
 'Nepali': None,
 'Korean': None,
 'Chinese': None,
 'Russian': None,
 'Turkish': None,
 'French': None,
 'Other': None,
 'Japanese': None,
 'Spanish': None,
 'Thai': None,
 'Portuguese': None,
 'Taiwanese': None,
 'English': None,
 'Mongol': None,
 'Italian': None,
 'Vietnamese': None,
 'Polish': None,
 'German': None,
 'Swedish': None,
 'Hebrew': None,
 'Farsi': None,
 'Romanian': None,
 'Indonesian': None,
 'Suundi': None,
 'Azerbaijani': None,
 'Swahili': None,
 'Hindi': None,
 'Russian,Ukrainian': None,
 'Montenegrin': None,
 'Zulu': None}

In [ ]:
for key in dict:
    if matches id, add to dict

if the native lang is the same as the key, append it to the list, if not skip it for now