# Data Analysis for entire dataset

In [27]:
#importing libaries
%matplotlib inline
import numpy as np              
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
student_info=pd.read_csv('corpus-files\student_information.csv')
course=pd.read_csv('corpus-files\course.csv')
answer_df=pd.read_csv('answer.csv',index_col = 'answer_id', low_memory=False)

In [29]:
course_=course.drop(columns=['class_id','semester','section'])

student=student_info.drop(columns=['birth_year','language_used_at_home','non_native_language_1','yrs_of_study_lang1',
                                  'study_in_classroom_lang1','ways_of_study_lang1','non_native_language_2','study_in_classroom_lang2',
                                  'ways_of_study_lang2','non_native_language_3','yrs_of_study_lang3','study_in_classroom_lang3',
                                  'ways_of_study_lang3','yrs_of_english_learning','yrs_in_english_environment','yrs_of_study_lang2'])
answer_=answer_df[['question_id','anon_id','course_id','version','text_len','text','tokens']].reset_index()

In [30]:
#This function removes all of the rows that contain a string in the passed column
def rmStr (df, col):
    row_index=0
    row_ind=[]
    for i in df[col]:
        try:
            int(i)
        except:
            row_ind.append(row_index)
        row_index+=1
    return df.drop(labels=row_ind,axis=0)

In [31]:
#Cleaning the answer df
col='course_id'
answer=rmStr(answer_, col) #removes strings from answer_.course_id

# Binary Search Algorithm

In [53]:
#binary search for strings
def binarySearchArr(arr, x):
    l = 0
    r = len(arr)
    while (l <= r):
        m = l + ((r - l) // 2)
 
        res = (x == arr[m])
        # Check if x is present at mid
        if (res == True):
            return m
 
        # If x greater, ignore left half
    #problem is here
        elif (res == False):
            if (x>arr[m]):
                l = m+1
            elif (x<arr[m]):
                r=m-1
        # If x is smaller, ignore right half
    return -1

# Defining Functions

In [33]:
# function that finds the unique values in a list
def get_uniques(x):
    return list(x.unique())

# Seperating anon_ids by language

In [34]:
# creating a list of all the different languages
langs=[]
for i in student.native_language:
    lang=i
    if lang not in langs:
        langs.append(lang)

In [35]:
#This groups the anon_ids by their native language
count=0
lang_ids={}
for y in langs:
    count=0
    ids=[]
    key=y
    for i in student.anon_id:
        if (student.at[count, 'native_language'] == y):
            val=i
            ids.append(val)
        count=count+1
    lang_ids.update({key: ids})

In [36]:
print(langs)

['Arabic', 'Nepali', 'Korean', 'Chinese', 'Russian', 'Turkish', 'French', 'Other', 'Japanese', 'Spanish', 'Thai', 'Portuguese', 'Taiwanese', 'English', 'Mongol', 'Italian', 'Vietnamese', 'Polish', 'German', 'Swedish', 'Hebrew', 'Farsi', 'Romanian', 'Indonesian', 'Suundi', 'Azerbaijani', 'Swahili', 'Hindi', 'Russian,Ukrainian', 'Montenegrin', 'Zulu']

In [37]:
#shows how many particpants are in each language
lang_counts=student.groupby('native_language').count().drop(columns=['gender','course_history','age'])
lang_counts

                   anon_id
native_language
Arabic                 465
Azerbaijani              2
Chinese                249
English                  2
Farsi                    4
French                  13
German                   3
Hebrew                   6
Hindi                    1
Indonesian               2
Italian                 12
Japanese                81
Korean                 245
Mongol                   3
Montenegrin              1
Nepali                   1
Other                   23
Polish                   2
Portuguese              20
Romanian                 1
Russian                 12
Russian,Ukrainian        1
Spanish                 66
Suundi                   1
Swahili                  1
Swedish                  1
Taiwanese               12
Thai                    31
Turkish                 47
Vietnamese               4
Zulu                     1

In [38]:
len(lang_ids)

31

# Merging the two datasets

In [39]:
merge_ans=answer[['anon_id','course_id']]
student_merge=student.drop(columns=['course_history'])

In [40]:
student_ans=student_merge.merge(answer,on='anon_id').astype({'course_id':'int64'})

In [41]:
stu_ans_crs=student_ans.merge(course_, on='course_id')

In [42]:
stu_ans_crs

,anon_id,gender,native_language,age,answer_id,question_id,course_id,version,text_len,text,tokens,level_id
0,do6,Female,Russian,31.0,150,4,117,1,299,Some people prefer eat out and some like doing...,"['Some', 'people', 'prefer', 'eat', 'out', 'an...",5
1,do6,Female,Russian,31.0,1221,97,117,1,288,My opinion is that a person does need educatio...,"['My', 'opinion', 'is', 'that', 'a', 'person',...",5
2,do6,Female,Russian,31.0,1957,189,117,1,321,There are two national rooms in the Cathedral ...,"['There', 'are', 'two', 'national', 'rooms', '...",5
3,do6,Female,Russian,31.0,2164,190,117,1,464,There are two nation rooms in the Cathedral of...,"['There', 'are', 'two', 'nation', 'rooms', 'in...",5
4,bv5,Male,Arabic,21.0,151,4,117,1,315,"""Not all learning takes place in the classroom...","['``', 'Not', 'all', 'learning', 'takes', 'pla...",5
...,...,...,...,...,...,...,...,...,...,...,...,...
46225,cy7,Female,Korean,NaN,47682,6066,1034,1,10,1. emphasis\n2. appropriate\n3. requires\n4. a...,"['1', '.', 'emphasis', '2', '.', 'appropriate'...",3
46226,fp7,Female,Turkish,NaN,47823,6066,1034,1,10,1.emphasis \n2.appropriate\n3.requires\n4.anal...,"['1', '.', 'emphasis', '2', '.', 'appropriate'...",3
46227,fq6,Male,Chinese,NaN,47824,6066,1034,1,10,1.emphasis\n2.appropriate\n3.requires\n4.analy...,"['1', '.', 'emphasis', '2', '.', 'appropriate'...",3
46228,di6,Male,Chinese,NaN,47787,6066,1034,1,10,1 emphasis\n2 normal\n3 requires\n4 analyze\n5...,"['1', 'emphasis', '2', 'normal', '3', 'require...",3
46229,fm3,Unknown,Arabic,NaN,47725,6066,1034,1,10,1- emphasis\n2- appropriate\n3- requires\n4- a...,"['1', '-', 'emphasis', '2', '-', 'appropriate'...",3

In [43]:
sac_lvls=stu_ans_crs[['anon_id','native_language','level_id']]
sac_lvls

      anon_id native_language  level_id
0         do6         Russian         5
1         do6         Russian         5
2         do6         Russian         5
3         do6         Russian         5
4         bv5          Arabic         5
...       ...             ...       ...
46225     cy7          Korean         3
46226     fp7         Turkish         3
46227     fq6         Chinese         3
46228     di6         Chinese         3
46229     fm3          Arabic         3

[46230 rows x 3 columns]

# Finiding who is in all three levels

In [44]:
# allows us to see what levels each anon_id participated in 
lvl_list=sac_lvls.groupby('anon_id').agg(n_uniq=('level_id','nunique'), lvl_nums=('level_id',get_uniques))
lvl_list=lvl_list.reset_index()

In [45]:
# will create a list of only the ids that have levels 3, 4, and 5 in their lvl_nums column
all_three=[]
ind=0
for i in lvl_list.anon_id:
    if ((3 in lvl_list.iat[ind,2]) and (4 in lvl_list.iat[ind,2]) and (5 in lvl_list.iat[ind,2])):
        append=lvl_list.at[ind, 'anon_id']
        all_three.append(append)
    ind+=1

all_three.sort()
len(all_three)

143

In [62]:
all_anon=[]
for i in sac_lvls.anon_id:
    all_anon.append(i)
len(all_anon)
all_anon.sort()

In [48]:
# gets unique ids
uanon=[]
index=0
for i in all_anon:
    if all_anon[index] not in uanon:
        uanon.append(all_anon[index])
    index=index+1
uanon.sort()

In [49]:
sorted_sac=sac_lvls.sort_values(by=['anon_id']).reset_index(drop=True)
print(sorted_sac)

      anon_id native_language  level_id
0         aa0         Spanish         5
1         aa0         Spanish         5
2         aa0         Spanish         5
3         aa0         Spanish         5
4         aa0         Spanish         5
...       ...             ...       ...
46225     hc1          Korean         5
46226     hc1          Korean         5
46227     hc1          Korean         5
46228     hc1          Korean         5
46229     hc1          Korean         5

[46230 rows x 3 columns]

In [63]:
lang_dict_all={}
for i in all_three:
    df_ind=binarySearchArr(all_anon,i)
    key=sorted_sac.at[df_ind,'native_language']
    val=sorted_sac.at[df_ind,'anon_id']
    
    if key in lang_dict_all:
        lang_dict_all[key].append(val)
    else:
        lang_dict_all[key]=[val]
    
print(lang_dict_all)

{'Japanese': ['ad8', 'am9', 'ay3', 'bs1', 'fw1', 'hb2'], 'Thai': ['af0', 'eu0', 'gy1'], 'Arabic': ['af3', 'ag5', 'ai1', 'am1', 'am7', 'ao4', 'ar2', 'au7', 'aw4', 'aw9', 'ax3', 'ba0', 'bd4', 'bf0', 'bi3', 'bi6', 'bm8', 'bn5', 'bn7', 'br8', 'bs5', 'bv2', 'bw4', 'cb8', 'cj2', 'ck1', 'ck2', 'cl5', 'co0', 'co4', 'cp4', 'cp5', 'cp6', 'cr1', 'cs0', 'cs7', 'ct4', 'cy2', 'db4', 'de1', 'di2', 'dj9', 'do1', 'dp7', 'ds6', 'dv1', 'dw0', 'ed3', 'ek1', 'ek6', 'el2', 'en4', 'eq1', 'et5', 'et8', 'ex9', 'ez6', 'fd3', 'fe2', 'fh1', 'fm5', 'fm9', 'fo0', 'fp1', 'ft9', 'fv4', 'fx8', 'gc0', 'gg0', 'gk4', 'go4', 'gw1', 'hb0'], 'Korean': ['ag9', 'an5', 'as0', 'ay1', 'be7', 'bv9', 'bz5', 'cc4', 'cj8', 'co5', 'cv3', 'cw0', 'dp5', 'ea4', 'eq8', 'es9', 'fj7', 'fp5', 'fs0', 'fu6', 'gc2', 'gg6', 'gq8', 'gz2', 'hb4'], 'Turkish': ['ah4', 'bs8', 'ch1', 'dp2', 'dx4', 'em0', 'fu1'], 'Chinese': ['aq1', 'ar8', 'bf7', 'bl4', 'bl7', 'bp4', 'bz2', 'cb3', 'cf9', 'cz4', 'dk6', 'eq4', 'ev9', 'fi1', 'fj4', 'fw7', 'gb4', 'gx5'], 'Russian': ['ax9', 'cm8'], 'English': ['ay4'], 'Spanish': ['bj2', 'cm9', 'fa2', 'fy1'], 'Suundi': ['cl9'], 'Italian': ['cx8'], 'Farsi': ['db5'], 'Portuguese': ['ff3']}

In [65]:
for key, value in lang_dict_all.items():
    print(key,len(value))

Japanese 6
Thai 3
Arabic 73
Korean 25
Turkish 7
Chinese 18
Russian 2
English 1
Spanish 4
Suundi 1
Italian 1
Farsi 1
Portuguese 1

# Finding Participants in levels 3-4

In [66]:
# will create a list of only the ids that have levels 3 and 4 in their lvl_nums column
lvls34=[]
ind=0
for i in lvl_list.anon_id:
    if ((3 in lvl_list.iat[ind,2]) and (4 in lvl_list.iat[ind,2])):
        append=lvl_list.at[ind, 'anon_id']
        lvls34.append(append)
    ind+=1

lvls34.sort()
len(lvls34)

366

In [68]:
lang_dict_34={}
for i in lvls34:
    df_ind=binarySearchArr(all_anon,i)
    key=sorted_sac.at[df_ind,'native_language']
    val=sorted_sac.at[df_ind,'anon_id']
    
    if key in lang_dict_34:
        lang_dict_34[key].append(val)
    else:
        lang_dict_34[key]=[val]
    
print(lang_dict_34)

{'Chinese': ['aa1', 'ag6', 'ai4', 'ap5', 'ap8', 'aq1', 'ar8', 'ax7', 'ba3', 'bf7', 'bl4', 'bl7', 'bp4', 'bu9', 'bz2', 'cb3', 'cf9', 'cl2', 'cl6', 'cq2', 'cs5', 'cz4', 'dg0', 'dk6', 'dl8', 'dm4', 'do7', 'dp1', 'dt4', 'dx1', 'eb6', 'ec5', 'eq4', 'ev5', 'ev9', 'ey8', 'ff6', 'fi1', 'fj4', 'fm2', 'fn8', 'fw7', 'fy3', 'gb4', 'gf2', 'gw5', 'gw8', 'gx5', 'gy3'], 'Arabic': ['aa2', 'ab2', 'ab8', 'ac8', 'ad9', 'ae0', 'af3', 'ag5', 'ai1', 'ak1', 'am1', 'am7', 'ao1', 'ao4', 'ao8', 'aq2', 'aq9', 'ar0', 'ar2', 'at9', 'au7', 'au8', 'aw4', 'aw9', 'ax3', 'ay7', 'az6', 'ba0', 'bb9', 'bd0', 'bd3', 'bd4', 'bf0', 'bg2', 'bh1', 'bi0', 'bi3', 'bi6', 'bj1', 'bj6', 'bm8', 'bn5', 'bn7', 'br8', 'bs5', 'bs9', 'bt7', 'bv2', 'bw4', 'bw5', 'bx5', 'by8', 'ca5', 'cb8', 'ce7', 'ch5', 'cj2', 'ck1', 'ck2', 'cl5', 'cl7', 'cm7', 'co0', 'co4', 'cp4', 'cp5', 'cp6', 'cq4', 'cr1', 'cs0', 'cs6', 'cs7', 'ct4', 'cu0', 'cu4', 'cu6', 'cw4', 'cy1', 'cy2', 'cy3', 'cz6', 'da7', 'db4', 'db6', 'dc1', 'de1', 'de4', 'de7', 'dg5', 'dh1', 'di2', 'dj9', 'dn2', 'do1', 'do3', 'do9', 'dp7', 'dr0', 'dr2', 'ds3', 'ds6', 'ds9', 'dt1', 'dv0', 'dv1', 'dw0', 'dw3', 'dw6', 'dx3', 'dx7', 'ed3', 'ed7', 'ef3', 'ej8', 'ek1', 'ek6', 'el0', 'el2', 'em5', 'en4', 'en8', 'eq1', 'er2', 'es2', 'et5', 'et8', 'ew9', 'ex9', 'ez6', 'fa4', 'fa6', 'fb8', 'fd3', 'fe2', 'fe4', 'fh1', 'fh2', 'fm5', 'fm9', 'fo0', 'fo1', 'fo7', 'fp1', 'fp4', 'fr0', 'fr5', 'fr9', 'fs9', 'ft9', 'fu4', 'fv1', 'fv4', 'fw4', 'fw5', 'fx8', 'fy8', 'gc0', 'gf0', 'gf6', 'gf7', 'gg0', 'gh3', 'gk4', 'gk8', 'gm5', 'go0', 'go2', 'go4', 'gp7', 'gr8', 'gs0', 'gt1', 'gt8', 'gu2', 'gw1', 'ha1', 'ha3', 'ha7', 'hb0', 'hb8'], 'Korean': ['aa9', 'af1', 'ag9', 'ah9', 'an4', 'an5', 'as0', 'as4', 'ay1', 'bc0', 'be2', 'be7', 'bf1', 'bm0', 'br5', 'bv9', 'bz5', 'ca6', 'cc4', 'cf6', 'ch9', 'cj8', 'cn3', 'co5', 'cv3', 'cw0', 'cw6', 'cy5', 'dd1', 'dj6', 'dp5', 'ea4', 'ef4', 'eo2', 'eq8', 'es9', 'et1', 'ex0', 'fc9', 'fh7', 'fi4', 'fj7', 'fk1', 'fl4', 'fl5', 'fo3', 'fp5', 'fp9', 'fs0', 'fu6', 'fv7', 'fv9', 'gb7', 'gc2', 'gd1', 'gg6', 'gl4', 'gq8', 'gv1', 'gz2', 'ha6', 'hb4'], 'Japanese': ['ad8', 'am9', 'ay3', 'bl6', 'bs1', 'cb2', 'cp2', 'df0', 'dz0', 'ew4', 'fw1', 'gh1', 'hb2'], 'Taiwanese': ['ae3', 'ci3', 'da0', 'ea5'], 'Thai': ['af0', 'cf3', 'ci6', 'cs1', 'ei3', 'eu0', 'gy1'], 'Turkish': ['ah4', 'bg5', 'bo5', 'bs8', 'ch1', 'co1', 'dp2', 'dx4', 'em0', 'er9', 'fr1', 'fu1', 'fx2', 'gg1', 'gq1', 'ha9'], 'French': ['av4', 'da9', 'dh6', 'fv6'], 'Russian': ['ax9', 'cm8', 'dj3'], 'English': ['ay4'], 'Vietnamese': ['bh9'], 'Spanish': ['bj2', 'ch0', 'cm9', 'cy6', 'en3', 'fa2', 'fe7', 'fg7', 'fy1', 'fy6'], 'Montenegrin': ['ce1'], 'Suundi': ['cl9'], 'Italian': ['cp7', 'cx8'], 'Farsi': ['db5', 'fz1'], 'Portuguese': ['di0', 'em8', 'fe3', 'ff3', 'go9'], 'Hebrew': ['ex6', 'fb1'], 'Mongol': ['fa9', 'gg5'], 'Other': ['gb1']}

In [69]:
for key, value in lang_dict_34.items():
    print(key,len(value))

Chinese 49
Arabic 180
Korean 62
Japanese 13
Taiwanese 4
Thai 7
Turkish 16
French 4
Russian 3
English 1
Vietnamese 1
Spanish 10
Montenegrin 1
Suundi 1
Italian 2
Farsi 2
Portuguese 5
Hebrew 2
Mongol 2
Other 1

# Finding Participants in Levels 4 and 5

In [70]:
# will create a list of only the ids that have levels 3 and 4 in their lvl_nums column
lvls45=[]
ind=0
for i in lvl_list.anon_id:
    if ((4 in lvl_list.iat[ind,2]) and (5 in lvl_list.iat[ind,2])):
        append=lvl_list.at[ind, 'anon_id']
        lvls45.append(append)
    ind+=1

lvls45.sort()
len(lvls45)

415

In [71]:
lang_dict_45={}
for i in lvls45:
    df_ind=binarySearchArr(all_anon,i)
    key=sorted_sac.at[df_ind,'native_language']
    val=sorted_sac.at[df_ind,'anon_id']
    
    if key in lang_dict_45:
        lang_dict_45[key].append(val)
    else:
        lang_dict_45[key]=[val]
    
print(lang_dict_45)

{'Korean': ['aa8', 'ac5', 'ad1', 'ag9', 'al5', 'an5', 'ap4', 'aq5', 'as0', 'as7', 'au5', 'au6', 'aw6', 'ay1', 'be7', 'bq0', 'bu4', 'bv9', 'bw3', 'bz5', 'cc4', 'ce3', 'ch2', 'ci0', 'cj8', 'co5', 'cp0', 'cv3', 'cw0', 'cw1', 'dd9', 'df3', 'dh0', 'dm3', 'dp5', 'dy7', 'ea4', 'eb3', 'eb9', 'ec1', 'eg5', 'eq8', 'es0', 'es9', 'et3', 'ex3', 'fa0', 'fa5', 'fb4', 'fd6', 'ff1', 'fi5', 'fj7', 'fl0', 'fp5', 'fs0', 'ft2', 'fu6', 'fx4', 'fz8', 'ga1', 'gc2', 'ge6', 'gg2', 'gg6', 'gj0', 'gk5', 'gl1', 'gn0', 'gq8', 'gs3', 'gu0', 'gz2', 'ha2', 'hb4'], 'Arabic': ['ac6', 'ad4', 'ad5', 'af3', 'ag5', 'ai1', 'aj5', 'ak0', 'al0', 'am1', 'am7', 'ao2', 'ao4', 'ap7', 'aq4', 'aq7', 'ar2', 'au7', 'aw4', 'aw9', 'ax3', 'ay2', 'ba0', 'ba1', 'ba5', 'ba9', 'bd4', 'bf0', 'bh2', 'bh3', 'bi3', 'bi5', 'bi6', 'bi7', 'bj8', 'bk5', 'bl5', 'bm8', 'bn5', 'bn6', 'bn7', 'bq3', 'br4', 'br8', 'bs5', 'bt2', 'bv1', 'bv2', 'bw2', 'bw4', 'bw6', 'by1', 'bz9', 'cb8', 'cc6', 'ce2', 'cg9', 'ci5', 'cj2', 'cj3', 'ck1', 'ck2', 'ck4', 'cl1', 'cl5', 'cn0', 'co0', 'co4', 'cp4', 'cp5', 'cp6', 'cr1', 'cs0', 'cs7', 'ct4', 'cu1', 'cv2', 'cv8', 'cy2', 'cz9', 'db4', 'db8', 'dd3', 'de1', 'dg9', 'dh8', 'di2', 'di3', 'dj9', 'dk3', 'dl1', 'dn4', 'do0', 'do1', 'do5', 'dp7', 'dq0', 'dr3', 'dr5', 'ds6', 'dt8', 'du6', 'dv1', 'dw0', 'dx2', 'dx5', 'dx9', 'dz1', 'ea9', 'ed3', 'ee5', 'ef0', 'ef6', 'ef9', 'eg2', 'eh0', 'eh4', 'ei0', 'ej9', 'ek1', 'ek6', 'el2', 'en4', 'eo5', 'eq0', 'eq1', 'er4', 'et0', 'et5', 'et8', 'ew2', 'ex9', 'ez5', 'ez6', 'fb3', 'fc0', 'fd3', 'fe2', 'fe9', 'fg0', 'fg9', 'fh1', 'fh5', 'fj2', 'fm5', 'fm9', 'fn5', 'fo0', 'fp1', 'fs3', 'fs6', 'ft9', 'fv4', 'fx8', 'fy0', 'fz0', 'ga9', 'gc0', 'gd7', 'gd8', 'gg0', 'gg7', 'gh8', 'gi1', 'gj2', 'gj4', 'gj8', 'gk4', 'gl6', 'go4', 'gp2', 'gw1', 'gw7', 'gx8', 'gz4', 'hb0', 'hb9'], 'Japanese': ['ac7', 'ad8', 'ah0', 'al2', 'am9', 'as2', 'at4', 'ay0', 'ay3', 'bc2', 'bh4', 'bs1', 'bu1', 'co2', 'cx4', 'db2', 'df7', 'dt3', 'dw7', 'dz5', 'dz9', 'el5', 'ey2', 'fh9', 'fu0', 'fw1', 'gs2', 'hb2', 'hb7'], 'Chinese': ['ad7', 'ae9', 'af4', 'am5', 'an7', 'aq1', 'ar8', 'ar9', 'az8', 'bd7', 'bf2', 'bf7', 'bf9', 'bl4', 'bl7', 'bp2', 'bp4', 'br9', 'bv8', 'bw9', 'by5', 'by6', 'bz1', 'bz2', 'ca4', 'cb3', 'cd6', 'cf9', 'ci2', 'cj5', 'cl3', 'cs4', 'cz2', 'cz4', 'dc0', 'di7', 'dk6', 'dk9', 'dm8', 'dq9', 'du9', 'dw2', 'ei2', 'ei8', 'eo1', 'eq4', 'es4', 'et4', 'ev6', 'ev9', 'ff2', 'fg8', 'fi1', 'fj4', 'fk8', 'fo4', 'fq5', 'fw7', 'ga3', 'gb4', 'gf5', 'gl2', 'gm1', 'gn5', 'go8', 'gt0', 'gv3', 'gw0', 'gx5'], 'Thai': ['af0', 'ah1', 'am8', 'ax2', 'be1', 'bl2', 'bl9', 'by3', 'cf2', 'cn4', 'dn8', 'ep4', 'eu0', 'gy1'], 'Turkish': ['ah4', 'an1', 'bs8', 'ch1', 'de5', 'dp2', 'dx4', 'ed2', 'em0', 'em7', 'fu1', 'gc5'], 'Taiwanese': ['aj1', 'az3', 'gb6', 'hc0'], 'Portuguese': ['am6', 'bm7', 'ff3'], 'Russian': ['ax9', 'bk2', 'cm8', 'eu8'], 'English': ['ay4'], 'Spanish': ['bi4', 'bj2', 'br2', 'cm9', 'cv7', 'dc6', 'df4', 'dk0', 'eo8', 'fa2', 'fx7', 'fy1', 'gq4', 'gs6', 'gu1', 'gu9'], 'Other': ['bm5', 'dp9', 'el7', 'fw9'], 'Suundi': ['cl9'], 'Italian': ['cx8', 'df6'], 'Farsi': ['db5'], 'French': ['ep2', 'ff4'], 'German': ['fh4']}

In [72]:
for key, value in lang_dict_45.items():
    print(key,len(value))

Korean 75
Arabic 177
Japanese 29
Chinese 69
Thai 14
Turkish 12
Taiwanese 4
Portuguese 3
Russian 4
English 1
Spanish 16
Other 4
Suundi 1
Italian 2
Farsi 1
French 2
German 1