Created: 3/15/2023
<br>
Purpose: merge output from SCA with loose and whole datasets, prepare the datasets for LMER in R

In [1]:
#importing libraries
import os
import numpy as np
import pandas as pd

In [2]:
whole=pd.read_csv("CSV/whole_no_duplicates.csv")
loose=pd.read_csv("CSV/loose_no_duplicates.csv")

In [3]:
#loose SCA metrics
l0_500=pd.read_csv('SCA_METRICS\loose_0-500.csv')
l501_1000=pd.read_csv('SCA_METRICS\loose501-1000.csv')
lend=pd.read_csv('SCA_METRICS\loose-1001-1807.csv')

#whole
w0_500=pd.read_csv('SCA_METRICS\whole0-500.csv')
w501_1000=pd.read_csv('SCA_METRICS\whole501-1000.csv')
w1001_1500=pd.read_csv('SCA_METRICS\whole1001-1500.csv')
w1501_2000=pd.read_csv('SCA_METRICS\whole1501-2000.csv')
w2001_2500=pd.read_csv('SCA_METRICS\whole2001-2500.csv')
w2501_3000=pd.read_csv('SCA_METRICS\whole2501-3000.csv')
w3001_3500=pd.read_csv('SCA_METRICS\whole3001-3500.csv')
w3501_4000=pd.read_csv('SCA_METRICS\whole3501-4000.csv')
w4001_4500=pd.read_csv('SCA_METRICS\whole4001-4500.csv')
w4501_5000=pd.read_csv('SCA_METRICS\whole4501-5000.csv')
w5001_5500=pd.read_csv('SCA_METRICS\whole5001-5500.csv')
w5501_6000=pd.read_csv('SCA_METRICS\whole5501-6000.csv')
w6001_6676=pd.read_csv('SCA_METRICS\whole6001-6676.csv')

In [4]:
#combining loose to one dataset
loose_metric=l0_500.append(l501_1000, ignore_index=True).append(lend, ignore_index=True)
loose_metric

,Unnamed: 0,W,S,VP,C,T,DC,CT,CP,CN,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,0.txt,109,5,11,9,5,4,3,5,21,...,2.2000,1.8000,0.4444,0.8000,1.0000,0.6000,1.0000,0.5556,4.2000,2.3333
1,1.txt,191,9,24,17,10,8,7,4,31,...,2.4000,1.7000,0.4706,0.8000,1.1111,0.7000,0.4000,0.2353,3.1000,1.8235
2,10.txt,82,6,14,13,7,5,5,1,7,...,2.0000,1.8571,0.3846,0.7143,1.1667,0.7143,0.1429,0.0769,1.0000,0.5385
3,100.txt,262,15,45,37,18,17,12,5,36,...,2.5000,2.0556,0.4595,0.9444,1.2000,0.6667,0.2778,0.1351,2.0000,0.9730
4,101.txt,311,23,42,34,23,11,10,1,43,...,1.8261,1.4783,0.3235,0.4783,1.0000,0.4348,0.0435,0.0294,1.8696,1.2647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1803,1803.txt,217,20,32,23,22,4,5,5,20,...,1.4545,1.0455,0.1739,0.1818,1.1000,0.2273,0.2273,0.2174,0.9091,0.8696
1804,1804.txt,172,11,19,18,15,4,4,4,21,...,1.2667,1.2000,0.2222,0.2667,1.3636,0.2667,0.2667,0.2222,1.4000,1.1667
1805,1805.txt,195,10,31,24,17,8,9,8,14,...,1.8235,1.4118,0.3333,0.4706,1.7000,0.5294,0.4706,0.3333,0.8235,0.5833
1806,1806.txt,286,23,36,32,26,6,5,8,43,...,1.3846,1.2308,0.1875,0.2308,1.1304,0.1923,0.3077,0.2500,1.6538,1.3438
1807,1807.txt,174,9,21,15,11,3,2,7,21,...,1.9091,1.3636,0.2000,0.2727,1.2222,0.1818,0.6364,0.4667,1.9091,1.4000

In [5]:
#combining whole to one dataset
whole_metric=w0_500.append(w501_1000, ignore_index=True).append(w1001_1500, ignore_index=True).append(
w1501_2000, ignore_index=True).append(w2001_2500, ignore_index=True).append(w2501_3000, ignore_index=True).append(
    w3001_3500, ignore_index=True).append(w3501_4000, ignore_index=True).append(w4001_4500, ignore_index=True).append(
    w4501_5000, ignore_index=True).append(w5001_5500, ignore_index=True).append(w5501_6000, ignore_index=True).append(w6001_6676, ignore_index=True)

whole_metric

,Unnamed: 0,W,S,VP,C,T,DC,CT,CP,CN,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,0.txt,479,34,73,49,35,14,13,11,55,...,2.0857,1.4000,0.2857,0.4000,1.0294,0.3714,0.3143,0.2245,1.5714,1.1224
1,1.txt,259,19,47,36,20,17,12,3,30,...,2.3500,1.8000,0.4722,0.8500,1.0526,0.6000,0.1500,0.0833,1.5000,0.8333
2,10.txt,635,45,99,70,49,21,18,7,78,...,2.0204,1.4286,0.3000,0.4286,1.0889,0.3673,0.1429,0.1000,1.5918,1.1143
3,100.txt,110,10,20,16,13,3,3,0,7,...,1.5385,1.2308,0.1875,0.2308,1.3000,0.2308,0.0000,0.0000,0.5385,0.4375
4,101.txt,79,6,9,7,6,1,1,0,9,...,1.5000,1.1667,0.1429,0.1667,1.0000,0.1667,0.0000,0.0000,1.5000,1.2857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6672,6672.txt,111,10,11,10,10,0,0,1,14,...,1.1000,1.0000,0.0000,0.0000,1.0000,0.0000,0.1000,0.1000,1.4000,1.4000
6673,6673.txt,140,14,18,18,16,2,2,8,19,...,1.1250,1.1250,0.1111,0.1250,1.1429,0.1250,0.5000,0.4444,1.1875,1.0556
6674,6674.txt,102,9,15,14,10,4,2,2,6,...,1.5000,1.4000,0.2857,0.4000,1.1111,0.2000,0.2000,0.1429,0.6000,0.4286
6675,6675.txt,106,10,13,10,10,0,0,4,8,...,1.3000,1.0000,0.0000,0.0000,1.0000,0.0000,0.4000,0.4000,0.8000,0.8000
6676,6676.txt,73,7,11,11,8,4,3,2,8,...,1.3750,1.3750,0.3636,0.5000,1.1429,0.3750,0.2500,0.1818,1.0000,0.7273

# Merging with existing datasets

In [6]:
#creating name for txt files to merge on
whole['text_file']=pd.NaT
index=0
for text in whole.index:
    num=str(index)
    file_name=num+'.txt'
    whole.at[index,'text_file']=file_name
    index+=1
    
loose['text_file']=pd.NaT
index=0
for text in loose.index:
    num=str(index)
    file_name=num+'.txt'
    loose.at[index,'text_file']=file_name
    index+=1

In [7]:
loose

,Unnamed: 0,index,answer_id,anon_id,L1,level_id,question_id,text3_len,text3 (edits made to fix word counts),processed_text,wordtype_len,text_file
0,0,0,34686.0,aa0,Spanish,5.0,4497.0,109.0,"Barber, chef by profession, but an expert on a...",barber chef by profession but an expert on agr...,79,0.txt
1,1,1,32129.0,aa0,Spanish,5.0,4199.0,190.0,"The article ""English as Co star"" support the f...",the article english as co star support the fac...,117,1.txt
2,2,2,33302.0,aa0,Spanish,5.0,4346.0,193.0,"In this article the authors Goleman, Kaufman a...",in this article the authors goleman kaufman an...,122,2.txt
3,3,3,33308.0,aa0,Spanish,5.0,4347.0,170.0,"Flow in the sense expressed in the text ""The C...",flow in the sense expressed in the text the cr...,103,3.txt
4,4,4,32572.0,aa0,Spanish,5.0,4260.0,85.0,"Bill Gates, in this conference, explained two ...",bill gates in this conference explained two bi...,66,4.txt
...,...,...,...,...,...,...,...,...,...,...,...,...
1803,1805,1805,32406.0,ha2,Korean,5.0,4273.0,217.0,Pittsburgh had a big snowstorm recently. A lot...,pittsburgh had a big snowstorm recently a lot ...,129,1803.txt
1804,1806,1806,32326.0,ha2,Korean,5.0,4256.0,170.0,"Korea, which is connected to China, belongs to...",korea which is connected to china belongs to t...,101,1804.txt
1805,1807,1807,32077.0,ha2,Korean,5.0,4197.0,195.0,Koko is a big female gorilla who was born in S...,koko is a big female gorilla who was born in s...,115,1805.txt
1806,1808,1808,29631.0,ha2,Korean,4.0,3943.0,283.0,A natural disaster is the effect of the natura...,a natural disaster is the effect of the natura...,135,1806.txt
1807,1809,1809,32324.0,ha2,Korean,5.0,4257.0,168.0,I think human language and nonhuman primate la...,i think human language and nonhuman primate la...,100,1807.txt

In [8]:
loose_metric.rename(columns={'Unnamed: 0':'text_file'},inplace=True)
whole_metric.rename(columns={'Unnamed: 0':'text_file'},inplace=True)

In [9]:
loose_merged=loose.merge(loose_metric, on='text_file')
whole_merged=whole.merge(whole_metric, on='text_file')

In [10]:
loose_merged.drop(columns={'Unnamed: 0','index'},inplace=True)
loose_merged.reset_index(inplace=True)

In [11]:
whole_merged.drop(columns={'Unnamed: 0','index'},inplace=True)
whole_merged.reset_index(inplace=True)

In [12]:
whole_merged

,index,anon_id,native_language,answer_id,question_id,text_len,text,level_id,processed_text,wordtype_len,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,0,ax4,Chinese,954,48,479,The Effects on Students Who Have a Part-time J...,5,the effects on students who have a parttime jo...,166,...,2.0857,1.4000,0.2857,0.4000,1.0294,0.3714,0.3143,0.2245,1.5714,1.1224
1,1,ax4,Chinese,1219,97,259,There are many different kinds of people in th...,5,there are many different kinds of people in th...,105,...,2.3500,1.8000,0.4722,0.8500,1.0526,0.6000,0.1500,0.0833,1.5000,0.8333
2,2,ax4,Chinese,1257,74,548,Should the Death Penalty Exist\nThe death pena...,5,should the death penalty exist the death penal...,191,...,2.0435,1.4783,0.3235,0.4783,1.0455,0.2826,0.2391,0.1618,0.9783,0.6618
3,3,ax4,Chinese,1260,119,576,Should the Death Penalty Exist?\nThe death pen...,5,should the death penalty exist the death penal...,213,...,2.1556,1.5556,0.3571,0.5556,1.0227,0.3333,0.2222,0.1429,1.1556,0.7429
4,4,ax4,Chinese,2162,190,180,The nationality rooms built in the Cathedral o...,5,the nationality rooms built in the cathedral o...,90,...,1.2222,1.0556,0.1053,0.1111,1.0588,0.1111,0.3333,0.3158,1.3333,1.2632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6672,6672,ew6,Chinese,48035,6087,111,I participated student organization in univers...,3,i participated student organization in univers...,66,...,1.1000,1.0000,0.0000,0.0000,1.0000,0.0000,0.1000,0.1000,1.4000,1.4000
6673,6673,ew6,Chinese,48338,6119,140,My ideal home is big and modern. It is located...,3,my ideal home is big and modern it is located ...,84,...,1.1250,1.1250,0.1111,0.1250,1.1429,0.1250,0.5000,0.4444,1.1875,1.0556
6674,6674,cz3,Korean,47451,6027,102,I will put 5 items in time capsule such as som...,3,i will put 5 items in time capsule such as som...,67,...,1.5000,1.4000,0.2857,0.4000,1.1111,0.2000,0.2000,0.1429,0.6000,0.4286
6675,6675,cz3,Korean,48001,6087,104,I have studied Visual Design since 2002. I gra...,3,i have studied visual design since 2002 i grad...,57,...,1.3000,1.0000,0.0000,0.0000,1.0000,0.0000,0.4000,0.4000,0.8000,0.8000
6676,6676,cz3,Korean,48316,6119,70,I will describe about my ideal home. I want qu...,3,i will describe about my ideal home i want qui...,51,...,1.3750,1.3750,0.3636,0.5000,1.1429,0.3750,0.2500,0.1818,1.0000,0.7273

In [13]:
loose_merged

,index,answer_id,anon_id,L1,level_id,question_id,text3_len,text3 (edits made to fix word counts),processed_text,wordtype_len,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,0,34686.0,aa0,Spanish,5.0,4497.0,109.0,"Barber, chef by profession, but an expert on a...",barber chef by profession but an expert on agr...,79,...,2.2000,1.8000,0.4444,0.8000,1.0000,0.6000,1.0000,0.5556,4.2000,2.3333
1,1,32129.0,aa0,Spanish,5.0,4199.0,190.0,"The article ""English as Co star"" support the f...",the article english as co star support the fac...,117,...,2.4000,1.7000,0.4706,0.8000,1.1111,0.7000,0.4000,0.2353,3.1000,1.8235
2,2,33302.0,aa0,Spanish,5.0,4346.0,193.0,"In this article the authors Goleman, Kaufman a...",in this article the authors goleman kaufman an...,122,...,2.7778,2.1111,0.4737,1.0000,0.9000,0.6667,0.5556,0.2632,2.6667,1.2632
3,3,33308.0,aa0,Spanish,5.0,4347.0,170.0,"Flow in the sense expressed in the text ""The C...",flow in the sense expressed in the text the cr...,103,...,2.4444,1.6667,0.4667,0.7778,1.1250,0.4444,0.4444,0.2667,2.7778,1.6667
4,4,32572.0,aa0,Spanish,5.0,4260.0,85.0,"Bill Gates, in this conference, explained two ...",bill gates in this conference explained two bi...,66,...,2.0000,1.1667,0.1429,0.1667,1.0000,0.1667,0.5000,0.4286,2.3333,2.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1803,1803,32406.0,ha2,Korean,5.0,4273.0,217.0,Pittsburgh had a big snowstorm recently. A lot...,pittsburgh had a big snowstorm recently a lot ...,129,...,1.4545,1.0455,0.1739,0.1818,1.1000,0.2273,0.2273,0.2174,0.9091,0.8696
1804,1804,32326.0,ha2,Korean,5.0,4256.0,170.0,"Korea, which is connected to China, belongs to...",korea which is connected to china belongs to t...,101,...,1.2667,1.2000,0.2222,0.2667,1.3636,0.2667,0.2667,0.2222,1.4000,1.1667
1805,1805,32077.0,ha2,Korean,5.0,4197.0,195.0,Koko is a big female gorilla who was born in S...,koko is a big female gorilla who was born in s...,115,...,1.8235,1.4118,0.3333,0.4706,1.7000,0.5294,0.4706,0.3333,0.8235,0.5833
1806,1806,29631.0,ha2,Korean,4.0,3943.0,283.0,A natural disaster is the effect of the natura...,a natural disaster is the effect of the natura...,135,...,1.3846,1.2308,0.1875,0.2308,1.1304,0.1923,0.3077,0.2500,1.6538,1.3438
1807,1807,32324.0,ha2,Korean,5.0,4257.0,168.0,I think human language and nonhuman primate la...,i think human language and nonhuman primate la...,100,...,1.9091,1.3636,0.2000,0.2727,1.2222,0.1818,0.6364,0.4667,1.9091,1.4000

In [14]:
loose_merged['ratio']=pd.NaT
index=0
for i in loose_merged.index:
    unique=loose_merged.at[index,'wordtype_len']
    length=loose_merged.at[index,'text3_len']
    ratio=unique/length
    loose_merged.at[index,'ratio']=ratio
    index+=1

In [15]:
whole_merged['ratio']=pd.NaT
index=0
for i in whole_merged.index:
    unique=whole_merged.at[index,'wordtype_len']
    length=whole_merged.at[index,'text_len']
    ratio=unique/length
    whole_merged.at[index,'ratio']=ratio
    index+=1

In [16]:
whole_merged.head()

,index,anon_id,native_language,answer_id,question_id,text_len,text,level_id,processed_text,wordtype_len,...,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C,ratio
0,0,ax4,Chinese,954,48,479,The Effects on Students Who Have a Part-time J...,5,the effects on students who have a parttime jo...,166,...,1.4000,0.2857,0.4000,1.0294,0.3714,0.3143,0.2245,1.5714,1.1224,0.346555
1,1,ax4,Chinese,1219,97,259,There are many different kinds of people in th...,5,there are many different kinds of people in th...,105,...,1.8000,0.4722,0.8500,1.0526,0.6000,0.1500,0.0833,1.5000,0.8333,0.405405
2,2,ax4,Chinese,1257,74,548,Should the Death Penalty Exist\nThe death pena...,5,should the death penalty exist the death penal...,191,...,1.4783,0.3235,0.4783,1.0455,0.2826,0.2391,0.1618,0.9783,0.6618,0.34854
3,3,ax4,Chinese,1260,119,576,Should the Death Penalty Exist?\nThe death pen...,5,should the death penalty exist the death penal...,213,...,1.5556,0.3571,0.5556,1.0227,0.3333,0.2222,0.1429,1.1556,0.7429,0.369792
4,4,ax4,Chinese,2162,190,180,The nationality rooms built in the Cathedral o...,5,the nationality rooms built in the cathedral o...,90,...,1.0556,0.1053,0.1111,1.0588,0.1111,0.3333,0.3158,1.3333,1.2632,0.5

In [17]:
loose_merged.head()

,index,answer_id,anon_id,L1,level_id,question_id,text3_len,text3 (edits made to fix word counts),processed_text,wordtype_len,...,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C,ratio
0,0,34686.0,aa0,Spanish,5.0,4497.0,109.0,"Barber, chef by profession, but an expert on a...",barber chef by profession but an expert on agr...,79,...,1.8000,0.4444,0.8000,1.0000,0.6000,1.0000,0.5556,4.2000,2.3333,0.724771
1,1,32129.0,aa0,Spanish,5.0,4199.0,190.0,"The article ""English as Co star"" support the f...",the article english as co star support the fac...,117,...,1.7000,0.4706,0.8000,1.1111,0.7000,0.4000,0.2353,3.1000,1.8235,0.615789
2,2,33302.0,aa0,Spanish,5.0,4346.0,193.0,"In this article the authors Goleman, Kaufman a...",in this article the authors goleman kaufman an...,122,...,2.1111,0.4737,1.0000,0.9000,0.6667,0.5556,0.2632,2.6667,1.2632,0.632124
3,3,33308.0,aa0,Spanish,5.0,4347.0,170.0,"Flow in the sense expressed in the text ""The C...",flow in the sense expressed in the text the cr...,103,...,1.6667,0.4667,0.7778,1.1250,0.4444,0.4444,0.2667,2.7778,1.6667,0.605882
4,4,32572.0,aa0,Spanish,5.0,4260.0,85.0,"Bill Gates, in this conference, explained two ...",bill gates in this conference explained two bi...,66,...,1.1667,0.1429,0.1667,1.0000,0.1667,0.5000,0.4286,2.3333,2.0000,0.776471

In [18]:
def get_uniques(x):
    return list(x.unique())

# Loose 4-5

In [65]:
loose45=loose_merged.query('level_id==4 or level_id==5').reset_index().drop(columns=['level_0','index'])
loose45

,answer_id,anon_id,L1,level_id,question_id,text3_len,text3 (edits made to fix word counts),processed_text,wordtype_len,text_file,...,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C,ratio
0,34686.0,aa0,Spanish,5.0,4497.0,109.0,"Barber, chef by profession, but an expert on a...",barber chef by profession but an expert on agr...,79,0.txt,...,1.8000,0.4444,0.8000,1.0000,0.6000,1.0000,0.5556,4.2000,2.3333,0.724771
1,32129.0,aa0,Spanish,5.0,4199.0,190.0,"The article ""English as Co star"" support the f...",the article english as co star support the fac...,117,1.txt,...,1.7000,0.4706,0.8000,1.1111,0.7000,0.4000,0.2353,3.1000,1.8235,0.615789
2,33302.0,aa0,Spanish,5.0,4346.0,193.0,"In this article the authors Goleman, Kaufman a...",in this article the authors goleman kaufman an...,122,2.txt,...,2.1111,0.4737,1.0000,0.9000,0.6667,0.5556,0.2632,2.6667,1.2632,0.632124
3,33308.0,aa0,Spanish,5.0,4347.0,170.0,"Flow in the sense expressed in the text ""The C...",flow in the sense expressed in the text the cr...,103,3.txt,...,1.6667,0.4667,0.7778,1.1250,0.4444,0.4444,0.2667,2.7778,1.6667,0.605882
4,32572.0,aa0,Spanish,5.0,4260.0,85.0,"Bill Gates, in this conference, explained two ...",bill gates in this conference explained two bi...,66,4.txt,...,1.1667,0.1429,0.1667,1.0000,0.1667,0.5000,0.4286,2.3333,2.0000,0.776471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1593,32406.0,ha2,Korean,5.0,4273.0,217.0,Pittsburgh had a big snowstorm recently. A lot...,pittsburgh had a big snowstorm recently a lot ...,129,1803.txt,...,1.0455,0.1739,0.1818,1.1000,0.2273,0.2273,0.2174,0.9091,0.8696,0.59447
1594,32326.0,ha2,Korean,5.0,4256.0,170.0,"Korea, which is connected to China, belongs to...",korea which is connected to china belongs to t...,101,1804.txt,...,1.2000,0.2222,0.2667,1.3636,0.2667,0.2667,0.2222,1.4000,1.1667,0.594118
1595,32077.0,ha2,Korean,5.0,4197.0,195.0,Koko is a big female gorilla who was born in S...,koko is a big female gorilla who was born in s...,115,1805.txt,...,1.4118,0.3333,0.4706,1.7000,0.5294,0.4706,0.3333,0.8235,0.5833,0.589744
1596,29631.0,ha2,Korean,4.0,3943.0,283.0,A natural disaster is the effect of the natura...,a natural disaster is the effect of the natura...,135,1806.txt,...,1.2308,0.1875,0.2308,1.1304,0.1923,0.3077,0.2500,1.6538,1.3438,0.477032
1597,32324.0,ha2,Korean,5.0,4257.0,168.0,I think human language and nonhuman primate la...,i think human language and nonhuman primate la...,100,1807.txt,...,1.3636,0.2000,0.2727,1.2222,0.1818,0.6364,0.4667,1.9091,1.4000,0.595238

In [67]:
lvls=loose45.groupby('anon_id').agg(
    n_anon_ids=('level_id','nunique'),
    lvl_nums=('level_id',get_uniques)
)

ind_loose=lvls.reset_index()
ind_loose

    anon_id  n_anon_ids    lvl_nums
0       aa0           1       [5.0]
1       aa3           1       [4.0]
2       aa8           2  [4.0, 5.0]
3       aa9           1       [4.0]
4       ab6           1       [4.0]
..      ...         ...         ...
254     gz2           2  [4.0, 5.0]
255     gz5           1       [4.0]
256     gz7           1       [4.0]
257     ha0           1       [5.0]
258     ha2           2  [4.0, 5.0]

[259 rows x 3 columns]

In [80]:
l45=ind_loose.query('n_anon_ids==2')

In [81]:
ids=l45['anon_id'].tolist()

In [99]:
loose45=loose_merged.copy().reset_index().drop(columns={'level_0','index'})
loose45

,answer_id,anon_id,L1,level_id,question_id,text3_len,text3 (edits made to fix word counts),processed_text,wordtype_len,text_file,...,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C,ratio
0,34686.0,aa0,Spanish,5.0,4497.0,109.0,"Barber, chef by profession, but an expert on a...",barber chef by profession but an expert on agr...,79,0.txt,...,1.8000,0.4444,0.8000,1.0000,0.6000,1.0000,0.5556,4.2000,2.3333,0.724771
1,32129.0,aa0,Spanish,5.0,4199.0,190.0,"The article ""English as Co star"" support the f...",the article english as co star support the fac...,117,1.txt,...,1.7000,0.4706,0.8000,1.1111,0.7000,0.4000,0.2353,3.1000,1.8235,0.615789
2,33302.0,aa0,Spanish,5.0,4346.0,193.0,"In this article the authors Goleman, Kaufman a...",in this article the authors goleman kaufman an...,122,2.txt,...,2.1111,0.4737,1.0000,0.9000,0.6667,0.5556,0.2632,2.6667,1.2632,0.632124
3,33308.0,aa0,Spanish,5.0,4347.0,170.0,"Flow in the sense expressed in the text ""The C...",flow in the sense expressed in the text the cr...,103,3.txt,...,1.6667,0.4667,0.7778,1.1250,0.4444,0.4444,0.2667,2.7778,1.6667,0.605882
4,32572.0,aa0,Spanish,5.0,4260.0,85.0,"Bill Gates, in this conference, explained two ...",bill gates in this conference explained two bi...,66,4.txt,...,1.1667,0.1429,0.1667,1.0000,0.1667,0.5000,0.4286,2.3333,2.0000,0.776471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1803,32406.0,ha2,Korean,5.0,4273.0,217.0,Pittsburgh had a big snowstorm recently. A lot...,pittsburgh had a big snowstorm recently a lot ...,129,1803.txt,...,1.0455,0.1739,0.1818,1.1000,0.2273,0.2273,0.2174,0.9091,0.8696,0.59447
1804,32326.0,ha2,Korean,5.0,4256.0,170.0,"Korea, which is connected to China, belongs to...",korea which is connected to china belongs to t...,101,1804.txt,...,1.2000,0.2222,0.2667,1.3636,0.2667,0.2667,0.2222,1.4000,1.1667,0.594118
1805,32077.0,ha2,Korean,5.0,4197.0,195.0,Koko is a big female gorilla who was born in S...,koko is a big female gorilla who was born in s...,115,1805.txt,...,1.4118,0.3333,0.4706,1.7000,0.5294,0.4706,0.3333,0.8235,0.5833,0.589744
1806,29631.0,ha2,Korean,4.0,3943.0,283.0,A natural disaster is the effect of the natura...,a natural disaster is the effect of the natura...,135,1806.txt,...,1.2308,0.1875,0.2308,1.1304,0.1923,0.3077,0.2500,1.6538,1.3438,0.477032
1807,32324.0,ha2,Korean,5.0,4257.0,168.0,I think human language and nonhuman primate la...,i think human language and nonhuman primate la...,100,1807.txt,...,1.3636,0.2000,0.2727,1.2222,0.1818,0.6364,0.4667,1.9091,1.4000,0.595238

In [100]:
ind=0
for i in loose45.anon_id:
    if i not in ids or loose45.at[ind,'level_id']==3:
        loose45.drop(index=ind,inplace=True)
    ind+=1
    
final=loose45.reset_index().drop(columns={'index'})

# Loose 3

In [19]:
loose3=loose_merged.query('level_id==3').reset_index().drop(columns=['level_0','index'])
loose3

,answer_id,anon_id,L1,level_id,question_id,text3_len,text3 (edits made to fix word counts),processed_text,wordtype_len,text_file,...,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C,ratio
0,4654.0,aa9,Korean,3.0,552.0,153.0,"Dear Alok, I have a problem want to share with...",dear alok i have a problem want to share with ...,83,24.txt,...,1.1739,0.1481,0.1739,1.2105,0.1739,0.0435,0.0370,0.6522,0.5556,0.542484
1,2600.0,aa9,Korean,3.0,302.0,60.0,"While I was taking the trolley yesterday, I sa...",while i was taking the trolley yesterday i saw...,37,25.txt,...,1.5714,0.2727,0.4286,1.1667,0.2857,0.0000,0.0000,0.5714,0.3636,0.616667
2,4476.0,aa9,Korean,3.0,550.0,76.0,"Hi Mike, I'm getting ready for the party tonig...",hi mike im getting ready for the party tonight...,54,29.txt,...,1.0909,0.0833,0.0909,1.3750,0.0909,0.0909,0.0833,0.2727,0.2500,0.710526
3,2772.0,aa9,Korean,3.0,317.0,83.0,I used to live in China for a long years. I us...,i used to live in china for a long years i use...,52,30.txt,...,1.0000,0.0000,0.0000,1.1111,0.0000,0.2000,0.2000,0.3000,0.3000,0.626506
4,3414.0,aa9,Korean,3.0,402.0,93.0,My uncle had a difficult childhood. He grew up...,my uncle had a difficult childhood he grew up ...,56,32.txt,...,1.1818,0.1538,0.1818,1.3750,0.0909,0.2727,0.2308,0.6364,0.5385,0.602151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,2808.0,gv1,Korean,3.0,312.0,88.0,I think thay my writing habit is very commom. ...,i think thay my writing habit is very commom i...,59,1742.txt,...,1.4000,0.2143,0.3000,1.1111,0.3000,0.1000,0.0714,0.6000,0.4286,0.670455
206,2781.0,gv1,Korean,3.0,317.0,66.0,I used to live in Korea. I used to collect sta...,i used to live in korea i used to collect stam...,36,1743.txt,...,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.2000,0.2000,0.545455
207,20639.0,gz0,Korean,3.0,2764.0,74.0,"When I was childhool, I used to play barbies. ...",when i was childhool i used to play barbies i ...,45,1764.txt,...,1.0833,0.1538,0.1667,1.0909,0.0833,0.0000,0.0000,0.0833,0.0769,0.608108
208,21418.0,gz0,Korean,3.0,2835.0,122.0,"When I was 18 years old, I went the North of K...",when i was 18 years old i went the north of ko...,67,1765.txt,...,1.3571,0.2632,0.3571,1.0769,0.2857,0.1429,0.1053,1.0000,0.7368,0.54918
209,22206.0,gz0,Korean,3.0,2924.0,60.0,"To get a highschool admission in my country, y...",to get a highschool admission in my country yo...,40,1766.txt,...,1.1667,0.1429,0.1667,1.0000,0.1667,0.0000,0.0000,0.8333,0.7143,0.666667

In [20]:
lvls3=loose3.groupby('anon_id').agg(
    n_anon_ids=('level_id','nunique'),
    lvl_nums=('level_id',get_uniques)
)

ind_loose3=lvls3.reset_index()
ind_loose3

   anon_id  n_anon_ids lvl_nums
0      aa9           1    [3.0]
1      ah9           1    [3.0]
2      aj7           1    [3.0]
3      an5           1    [3.0]
4      ao3           1    [3.0]
5      ap5           1    [3.0]
6      ar8           1    [3.0]
7      as4           1    [3.0]
8      au3           1    [3.0]
9      aw5           1    [3.0]
10     ax7           1    [3.0]
11     bc0           1    [3.0]
12     be2           1    [3.0]
13     be7           1    [3.0]
14     bf1           1    [3.0]
15     bf7           1    [3.0]
16     bl4           1    [3.0]
17     bm0           1    [3.0]
18     bp4           1    [3.0]
19     bt8           1    [3.0]
20     bv9           1    [3.0]
21     bz2           1    [3.0]
22     bz5           1    [3.0]
23     ca9           1    [3.0]
24     cf1           1    [3.0]
25     cf6           1    [3.0]
26     ch0           1    [3.0]
27     ci4           1    [3.0]
28     cl2           1    [3.0]
29     cm9           1    [3.0]
30     cs5           1    [3.0]
31     cw2           1    [3.0]
32     cw6           1    [3.0]
33     cy5           1    [3.0]
34     da6           1    [3.0]
35     en3           1    [3.0]
36     ex0           1    [3.0]
37     ey8           1    [3.0]
38     fa2           1    [3.0]
39     fb9           1    [3.0]
40     fc9           1    [3.0]
41     fe7           1    [3.0]
42     fk5           1    [3.0]
43     fl5           1    [3.0]
44     fn8           1    [3.0]
45     fo8           1    [3.0]
46     fp9           1    [3.0]
47     fu3           1    [3.0]
48     fv7           1    [3.0]
49     fy1           1    [3.0]
50     gd1           1    [3.0]
51     gt9           1    [3.0]
52     gv1           1    [3.0]
53     gz0           1    [3.0]

In [41]:
ids=ind_loose3['anon_id'].tolist()

In [42]:
loose3=loose_merged.copy().reset_index().drop(columns={'level_0','index'})
loose3

,answer_id,anon_id,L1,level_id,question_id,text3_len,text3 (edits made to fix word counts),processed_text,wordtype_len,text_file,...,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C,ratio
0,34686.0,aa0,Spanish,5.0,4497.0,109.0,"Barber, chef by profession, but an expert on a...",barber chef by profession but an expert on agr...,79,0.txt,...,1.8000,0.4444,0.8000,1.0000,0.6000,1.0000,0.5556,4.2000,2.3333,0.724771
1,32129.0,aa0,Spanish,5.0,4199.0,190.0,"The article ""English as Co star"" support the f...",the article english as co star support the fac...,117,1.txt,...,1.7000,0.4706,0.8000,1.1111,0.7000,0.4000,0.2353,3.1000,1.8235,0.615789
2,33302.0,aa0,Spanish,5.0,4346.0,193.0,"In this article the authors Goleman, Kaufman a...",in this article the authors goleman kaufman an...,122,2.txt,...,2.1111,0.4737,1.0000,0.9000,0.6667,0.5556,0.2632,2.6667,1.2632,0.632124
3,33308.0,aa0,Spanish,5.0,4347.0,170.0,"Flow in the sense expressed in the text ""The C...",flow in the sense expressed in the text the cr...,103,3.txt,...,1.6667,0.4667,0.7778,1.1250,0.4444,0.4444,0.2667,2.7778,1.6667,0.605882
4,32572.0,aa0,Spanish,5.0,4260.0,85.0,"Bill Gates, in this conference, explained two ...",bill gates in this conference explained two bi...,66,4.txt,...,1.1667,0.1429,0.1667,1.0000,0.1667,0.5000,0.4286,2.3333,2.0000,0.776471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1803,32406.0,ha2,Korean,5.0,4273.0,217.0,Pittsburgh had a big snowstorm recently. A lot...,pittsburgh had a big snowstorm recently a lot ...,129,1803.txt,...,1.0455,0.1739,0.1818,1.1000,0.2273,0.2273,0.2174,0.9091,0.8696,0.59447
1804,32326.0,ha2,Korean,5.0,4256.0,170.0,"Korea, which is connected to China, belongs to...",korea which is connected to china belongs to t...,101,1804.txt,...,1.2000,0.2222,0.2667,1.3636,0.2667,0.2667,0.2222,1.4000,1.1667,0.594118
1805,32077.0,ha2,Korean,5.0,4197.0,195.0,Koko is a big female gorilla who was born in S...,koko is a big female gorilla who was born in s...,115,1805.txt,...,1.4118,0.3333,0.4706,1.7000,0.5294,0.4706,0.3333,0.8235,0.5833,0.589744
1806,29631.0,ha2,Korean,4.0,3943.0,283.0,A natural disaster is the effect of the natura...,a natural disaster is the effect of the natura...,135,1806.txt,...,1.2308,0.1875,0.2308,1.1304,0.1923,0.3077,0.2500,1.6538,1.3438,0.477032
1807,32324.0,ha2,Korean,5.0,4257.0,168.0,I think human language and nonhuman primate la...,i think human language and nonhuman primate la...,100,1807.txt,...,1.3636,0.2000,0.2727,1.2222,0.1818,0.6364,0.4667,1.9091,1.4000,0.595238

In [ ]:
ind=0
for i in loose3.anon_id:
    if i not in ids or loose3.at[ind,'level_id']==3:
        loose45.drop(index=ind,inplace=True)
    ind+=1
    
final=loose45.reset_index().drop(columns={'index'})

In [43]:
def by_lvl(df,lvl):
    q='level_id=='+lvl
    new=df.query(q).reset_index().drop(columns=['level_0','index'])
    
    lvls=new.groupby('anon_id').agg(
    n_anon_ids=('level_id','nunique'),
    lvl_nums=('level_id',get_uniques)
    )

    ind_loose=lvls.reset_index()
    ids=ind_loose['anon_id'].tolist()
    final=df.copy().reset_index().drop(columns={'level_0','index'})
    
    ind=0
    for i in final.anon_id:
        if i not in ids or final.at[ind,'level_id']!=float(lvl):
            final.drop(index=ind,inplace=True)
        ind+=1

    send=final.reset_index().drop(columns={'index'})
    
    return(send)

In [44]:
loose3=by_lvl(loose_merged,'3')

loose3

,answer_id,anon_id,L1,level_id,question_id,text3_len,text3 (edits made to fix word counts),processed_text,wordtype_len,text_file,...,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C,ratio
0,4654.0,aa9,Korean,3.0,552.0,153.0,"Dear Alok, I have a problem want to share with...",dear alok i have a problem want to share with ...,83,24.txt,...,1.1739,0.1481,0.1739,1.2105,0.1739,0.0435,0.0370,0.6522,0.5556,0.542484
1,2600.0,aa9,Korean,3.0,302.0,60.0,"While I was taking the trolley yesterday, I sa...",while i was taking the trolley yesterday i saw...,37,25.txt,...,1.5714,0.2727,0.4286,1.1667,0.2857,0.0000,0.0000,0.5714,0.3636,0.616667
2,4476.0,aa9,Korean,3.0,550.0,76.0,"Hi Mike, I'm getting ready for the party tonig...",hi mike im getting ready for the party tonight...,54,29.txt,...,1.0909,0.0833,0.0909,1.3750,0.0909,0.0909,0.0833,0.2727,0.2500,0.710526
3,2772.0,aa9,Korean,3.0,317.0,83.0,I used to live in China for a long years. I us...,i used to live in china for a long years i use...,52,30.txt,...,1.0000,0.0000,0.0000,1.1111,0.0000,0.2000,0.2000,0.3000,0.3000,0.626506
4,3414.0,aa9,Korean,3.0,402.0,93.0,My uncle had a difficult childhood. He grew up...,my uncle had a difficult childhood he grew up ...,56,32.txt,...,1.1818,0.1538,0.1818,1.3750,0.0909,0.2727,0.2308,0.6364,0.5385,0.602151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,2808.0,gv1,Korean,3.0,312.0,88.0,I think thay my writing habit is very commom. ...,i think thay my writing habit is very commom i...,59,1742.txt,...,1.4000,0.2143,0.3000,1.1111,0.3000,0.1000,0.0714,0.6000,0.4286,0.670455
206,2781.0,gv1,Korean,3.0,317.0,66.0,I used to live in Korea. I used to collect sta...,i used to live in korea i used to collect stam...,36,1743.txt,...,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.2000,0.2000,0.545455
207,20639.0,gz0,Korean,3.0,2764.0,74.0,"When I was childhool, I used to play barbies. ...",when i was childhool i used to play barbies i ...,45,1764.txt,...,1.0833,0.1538,0.1667,1.0909,0.0833,0.0000,0.0000,0.0833,0.0769,0.608108
208,21418.0,gz0,Korean,3.0,2835.0,122.0,"When I was 18 years old, I went the North of K...",when i was 18 years old i went the north of ko...,67,1765.txt,...,1.3571,0.2632,0.3571,1.0769,0.2857,0.1429,0.1053,1.0000,0.7368,0.54918
209,22206.0,gz0,Korean,3.0,2924.0,60.0,"To get a highschool admission in my country, y...",to get a highschool admission in my country yo...,40,1766.txt,...,1.1667,0.1429,0.1667,1.0000,0.1667,0.0000,0.0000,0.8333,0.7143,0.666667

In [47]:
loose4=by_lvl(loose_merged,'4')
loose4

,answer_id,anon_id,L1,level_id,question_id,text3_len,text3 (edits made to fix word counts),processed_text,wordtype_len,text_file,...,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C,ratio
0,47455.0,aa3,Chinese,4.0,6029.0,92.0,"When I was 15, I had been to Perth, Australia ...",when i was 15 i had been to perth australia by...,61,8.txt,...,1.2000,0.1667,0.2000,1.4286,0.2000,0.0000,0.0000,0.6000,0.5000,0.663043
1,46970.0,aa3,Chinese,4.0,5960.0,111.0,"I am Joyce ANON_NAME_0, and I come from Taiwan...",i am joyce anonname0 and i come from taiwan i ...,69,9.txt,...,1.2857,0.1667,0.2143,1.5556,0.2143,0.0714,0.0556,0.4286,0.3333,0.621622
2,6616.0,aa8,Korean,4.0,1037.0,82.0,I met my friend sueyoen while I was reading a ...,i met my friend sueyoen while i was reading a ...,58,10.txt,...,1.8571,0.3846,0.7143,1.1667,0.7143,0.1429,0.0769,1.0000,0.5385,0.707317
3,6450.0,aa8,Korean,4.0,1002.0,117.0,"Jackie Oweis Sawiris, an Arab American directo...",jackie oweis sawiris an arab american director...,75,11.txt,...,2.6000,0.6154,1.6000,1.2500,0.6000,1.0000,0.3846,3.4000,1.3077,0.641026
4,8408.0,aa8,Korean,4.0,1215.0,99.0,"Before I moved here in U.S.A., I had never wor...",before i moved here in usa i had never worn a ...,69,12.txt,...,1.6250,0.3077,0.5000,1.3333,0.5000,0.1250,0.0769,0.8750,0.5385,0.69697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,2922.0,gz7,Korean,4.0,350.0,104.0,Have you ever seen the movie Titanic? It is a ...,have you ever seen the movie titanic it is a t...,62,1784.txt,...,1.4545,0.2500,0.3636,1.1000,0.3636,0.1818,0.1250,0.8182,0.5625,0.596154
1004,2389.0,gz7,Korean,4.0,278.0,128.0,"Optimism is not always good. Of course, optimi...",optimism is not always good of course optimism...,84,1785.txt,...,1.0667,0.0625,0.0667,1.0714,0.0667,0.2000,0.1875,0.6667,0.6250,0.65625
1005,29184.0,ha2,Korean,4.0,3852.0,69.0,The importance of women is getting greater in ...,the importance of women is getting greater in ...,53,1789.txt,...,1.5000,0.3333,0.5000,1.0000,0.5000,0.0000,0.0000,2.7500,1.8333,0.768116
1006,31399.0,ha2,Korean,4.0,4170.0,159.0,I am happy to write this letter to you. I stro...,i am happy to write this letter to you i stron...,87,1802.txt,...,1.7273,0.4211,0.7273,0.9167,0.5455,0.7273,0.4211,1.6364,0.9474,0.54717
1007,29631.0,ha2,Korean,4.0,3943.0,283.0,A natural disaster is the effect of the natura...,a natural disaster is the effect of the natura...,135,1806.txt,...,1.2308,0.1875,0.2308,1.1304,0.1923,0.3077,0.2500,1.6538,1.3438,0.477032

In [48]:
loose5=by_lvl(loose_merged,'5')
loose5

,answer_id,anon_id,L1,level_id,question_id,text3_len,text3 (edits made to fix word counts),processed_text,wordtype_len,text_file,...,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C,ratio
0,34686.0,aa0,Spanish,5.0,4497.0,109.0,"Barber, chef by profession, but an expert on a...",barber chef by profession but an expert on agr...,79,0.txt,...,1.8000,0.4444,0.8000,1.0000,0.6000,1.0000,0.5556,4.2000,2.3333,0.724771
1,32129.0,aa0,Spanish,5.0,4199.0,190.0,"The article ""English as Co star"" support the f...",the article english as co star support the fac...,117,1.txt,...,1.7000,0.4706,0.8000,1.1111,0.7000,0.4000,0.2353,3.1000,1.8235,0.615789
2,33302.0,aa0,Spanish,5.0,4346.0,193.0,"In this article the authors Goleman, Kaufman a...",in this article the authors goleman kaufman an...,122,2.txt,...,2.1111,0.4737,1.0000,0.9000,0.6667,0.5556,0.2632,2.6667,1.2632,0.632124
3,33308.0,aa0,Spanish,5.0,4347.0,170.0,"Flow in the sense expressed in the text ""The C...",flow in the sense expressed in the text the cr...,103,3.txt,...,1.6667,0.4667,0.7778,1.1250,0.4444,0.4444,0.2667,2.7778,1.6667,0.605882
4,32572.0,aa0,Spanish,5.0,4260.0,85.0,"Bill Gates, in this conference, explained two ...",bill gates in this conference explained two bi...,66,4.txt,...,1.1667,0.1429,0.1667,1.0000,0.1667,0.5000,0.4286,2.3333,2.0000,0.776471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,32519.0,ha2,Korean,5.0,4276.0,637.0,People get a vacation at least once a year and...,people get a vacation at least once a year and...,273,1801.txt,...,1.5610,0.4531,0.7073,1.1081,0.4878,0.6585,0.4219,1.2195,0.7812,0.428571
586,32406.0,ha2,Korean,5.0,4273.0,217.0,Pittsburgh had a big snowstorm recently. A lot...,pittsburgh had a big snowstorm recently a lot ...,129,1803.txt,...,1.0455,0.1739,0.1818,1.1000,0.2273,0.2273,0.2174,0.9091,0.8696,0.59447
587,32326.0,ha2,Korean,5.0,4256.0,170.0,"Korea, which is connected to China, belongs to...",korea which is connected to china belongs to t...,101,1804.txt,...,1.2000,0.2222,0.2667,1.3636,0.2667,0.2667,0.2222,1.4000,1.1667,0.594118
588,32077.0,ha2,Korean,5.0,4197.0,195.0,Koko is a big female gorilla who was born in S...,koko is a big female gorilla who was born in s...,115,1805.txt,...,1.4118,0.3333,0.4706,1.7000,0.5294,0.4706,0.3333,0.8235,0.5833,0.589744
589,32324.0,ha2,Korean,5.0,4257.0,168.0,I think human language and nonhuman primate la...,i think human language and nonhuman primate la...,100,1807.txt,...,1.3636,0.2000,0.2727,1.2222,0.1818,0.6364,0.4667,1.9091,1.4000,0.595238

# Sending to CSV

In [104]:
final.to_csv('C:/Users/Hanna/Documents/GitHub/LRDC-Research/CSV/l45_with_metrics.csv')

In [49]:
loose3.to_csv('C:/Users/Hanna/Documents/GitHub/LRDC-Research/CSV/l3_with_metrics.csv')
loose4.to_csv('C:/Users/Hanna/Documents/GitHub/LRDC-Research/CSV/l4_with_metrics.csv')
loose5.to_csv('C:/Users/Hanna/Documents/GitHub/LRDC-Research/CSV/l5_with_metrics.csv')