# L2SCA Analysis

In [3]:
#importing libraries
import os
import numpy as np
import pandas as pd

In [12]:
#importing metrics_SCA files
lchin34=pd.read_csv('metrics_SCA-files\lchin34_metrics_SCA.csv')
lchin45=pd.read_csv('metrics_SCA-files\lchin45_metrics_SCA.csv')
lchin35=pd.read_csv('metrics_SCA-files\lchin35_metrics_SCA.csv')

lkor34=pd.read_csv('metrics_SCA-files\lkor34_metrics_SCA.csv')
lkor45=pd.read_csv('metrics_SCA-files\lkor45_metrics_SCA.csv')
lkor35=pd.read_csv('metrics_SCA-files\lkor35_metrics_SCA.csv')

lspan34=pd.read_csv('metrics_SCA-files\lspan34_metrics_SCA.csv')
lspan45=pd.read_csv('metrics_SCA-files\lspan45_metrics_SCA.csv')
lspan35=pd.read_csv('metrics_SCA-files\lspan35_metrics_SCA.csv')

wchin34=pd.read_csv('metrics_SCA-files\wchin34_metrics_SCA.csv')
wchin35=pd.read_csv('metrics_SCA-files\wchin35_metrics_SCA.csv')

wkor35=pd.read_csv('metrics_SCA-files\wkor35_metrics_SCA.csv')

wspan34=pd.read_csv('metrics_SCA-files\wspan34_metrics_SCA.csv')
wspan45=pd.read_csv('metrics_SCA-files\wspan45_metrics_SCA.csv')
wspan35=pd.read_csv('metrics_SCA-files\wspan35_metrics_SCA.csv')



#wchin451=pd.read_csv('metrics_SCA-files\wchin45\0-444metrics_SCA.csv')
# wchin45, wkor34, wkor45 are folders

In [60]:
awchin45=pd.read_csv('metrics_SCA-files\wchin45_0-444metrics_SCA.csv')
bwchin45=pd.read_csv('metrics_SCA-files\wchin45_445_800metrics_SCA.csv')
cwchin45=pd.read_csv('metrics_SCA-files\wchin45_801-1300metrics_SCA.csv')
dwchin45=pd.read_csv('metrics_SCA-files\wchin45_1301-1700metrics_SCA.csv')

In [69]:
wchin45=awchin45.append(bwchin45, ignore_index=True).append(cwchin45, ignore_index=True).append(dwchin45, ignore_index=True)
wchin45

,Unnamed: 0,W,S,VP,C,T,DC,CT,CP,CN,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,0.txt,363,30,54,44,33,9,10,11,35,...,1.6364,1.3333,0.2045,0.2727,1.1000,0.3030,0.3333,0.2500,1.0606,0.7955
1,1.txt,633,49,94,64,50,15,15,24,60,...,1.8800,1.2800,0.2344,0.3000,1.0204,0.3000,0.4800,0.3750,1.2000,0.9375
2,10.txt,218,12,28,22,13,9,6,7,23,...,2.1538,1.6923,0.4091,0.6923,1.0833,0.4615,0.5385,0.3182,1.7692,1.0455
3,100.txt,119,14,18,13,13,2,2,2,9,...,1.3846,1.0000,0.1538,0.1538,0.9286,0.1538,0.1538,0.1538,0.6923,0.6923
4,101.txt,512,30,73,50,31,22,19,8,54,...,2.3548,1.6129,0.4400,0.7097,1.0333,0.6129,0.2581,0.1600,1.7419,1.0800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1696,1696.txt,104,7,13,11,9,2,1,6,7,...,1.4444,1.2222,0.1818,0.2222,1.2857,0.1111,0.6667,0.5455,0.7778,0.6364
1697,1697.txt,67,7,11,11,8,3,3,1,4,...,1.3750,1.3750,0.2727,0.3750,1.1429,0.3750,0.1250,0.0909,0.5000,0.3636
1698,1698.txt,166,15,25,24,15,6,5,0,12,...,1.6667,1.6000,0.2500,0.4000,1.0000,0.3333,0.0000,0.0000,0.8000,0.5000
1699,1699.txt,171,24,27,37,24,13,12,6,17,...,1.1250,1.5417,0.3514,0.5417,1.0000,0.5000,0.2500,0.1622,0.7083,0.4595
1700,1700.txt,133,7,28,25,8,16,6,2,19,...,3.5000,3.1250,0.6400,2.0000,1.1429,0.7500,0.2500,0.0800,2.3750,0.7600

In [ ]:
df1.append(df2, ignore_index=True)

In [71]:
awkor34=pd.read_csv('metrics_SCA-files\wkor34_0-500metrics_SCA.csv')
bwkor34=pd.read_csv('metrics_SCA-files\wkor34_501-700metrics_SCA.csv')
cwkor34=pd.read_csv('metrics_SCA-files\wkor34_701-1158metrics_SCA.csv')
dwkor34=pd.read_csv('metrics_SCA-files\wkor34_1159-1551metrics_SCA.csv')

In [74]:
wkor34=awkor34.append(bwkor34, ignore_index=True).append(cwkor34, ignore_index=True).append(dwkor34, ignore_index=True)
wkor34

,Unnamed: 0,W,S,VP,C,T,DC,CT,CP,CN,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,0.txt,281,16,51,30,16,14,10,11,40,...,3.1875,1.8750,0.4667,0.8750,1.0000,0.6250,0.6875,0.3667,2.5000,1.3333
1,1.txt,120,7,15,13,7,4,4,6,14,...,2.1429,1.8571,0.3077,0.5714,1.0000,0.5714,0.8571,0.4615,2.0000,1.0769
2,10.txt,153,10,21,18,12,6,7,1,20,...,1.7500,1.5000,0.3333,0.5000,1.2000,0.5833,0.0833,0.0556,1.6667,1.1111
3,100.txt,385,31,78,57,36,22,16,5,17,...,2.1667,1.5833,0.3860,0.6111,1.1613,0.4444,0.1389,0.0877,0.4722,0.2982
4,101.txt,385,31,78,57,36,22,16,5,19,...,2.1667,1.5833,0.3860,0.6111,1.1613,0.4444,0.1389,0.0877,0.5278,0.3333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547,1547.txt,231,17,37,30,20,9,8,4,17,...,1.8500,1.5000,0.3000,0.4500,1.1765,0.4000,0.2000,0.1333,0.8500,0.5667
1548,1548.txt,231,17,37,30,20,9,8,4,17,...,1.8500,1.5000,0.3000,0.4500,1.1765,0.4000,0.2000,0.1333,0.8500,0.5667
1549,1549.txt,168,8,29,22,12,8,6,1,18,...,2.4167,1.8333,0.3636,0.6667,1.5000,0.5000,0.0833,0.0455,1.5000,0.8182
1550,1550.txt,130,10,23,17,12,5,4,2,9,...,1.9167,1.4167,0.2941,0.4167,1.2000,0.3333,0.1667,0.1176,0.7500,0.5294
1551,1551.txt,166,13,28,25,18,8,5,2,20,...,1.5556,1.3889,0.3200,0.4444,1.3846,0.2778,0.1111,0.0800,1.1111,0.8000

In [77]:
awkor45=pd.read_csv('metrics_SCA-files\wkor45_0-500_metrics_SCA.csv')
bwkor45=pd.read_csv('metrics_SCA-files\wkor45_501-1000metrics_SCA.csv')
cwkor45=pd.read_csv('metrics_SCA-files\wkor45_1001-1500_metrics_SCA.csv')
dwkor45=pd.read_csv('metrics_SCA-files\wkor45_1501-1973metrics_SCA.csv')

In [80]:
wkor45=awkor45.append(bwkor45, ignore_index=True).append(cwkor45, ignore_index=True).append(dwkor45, ignore_index=True)

# Finding Averages

In [81]:
# averages of loose datasets
lchin34m=lchin34.mean()
lchin45m=lchin45.mean()
lchin35m=lchin35.mean()

lspan34m=lspan34.mean()
lspan45m=lspan45.mean()
lspan35m=lspan35.mean()

lkor34m=lkor34.mean()
lkor45m=lkor45.mean()
lkor35m=lkor35.mean()

In [82]:
# averages of most whole datasets

wchin34m=wchin34.mean()
wchin45m=wchin45.mean()
wchin35m=wchin35.mean()

wkor34m=wkor34.mean()
wkor45m=wkor45.mean()
wkor35m=wkor35.mean()

wspan34m=wspan34.mean()
wspan45m=wspan45.mean()
wspan35m=wspan35.mean()

# Loose Chinese Averages

In [87]:
lchin34a=pd.DataFrame(lchin34m)
lchin34a

               0
W     170.750000
S      13.781250
VP     27.078125
C      21.734375
T      15.656250
DC      5.671875
CT      4.843750
CP      3.953125
CN     16.296875
MLS    12.796739
MLT    11.098692
MLC     7.982547
C/S     1.642438
VP/T    1.821059
C/T     1.432575
DC/C    0.257572
DC/T    0.405263
T/S     1.156741
CT/T    0.336972
CP/T    0.247759
CP/C    0.188850
CN/T    1.023841
CN/C    0.748242

In [49]:
lchin45a=pd.DataFrame(lchin45m)
lchin45a

               0
W     221.901639
S      14.773770
VP     33.809836
C      25.868852
T      16.613115
DC      8.826230
CT      6.904918
CP      5.209836
CN     22.626230
MLS    15.291833
MLT    13.693514
MLC     8.592133
C/S     1.820120
VP/T    2.124038
C/T     1.621888
DC/C    0.336682
DC/T    0.596670
T/S     1.121268
CT/T    0.450177
CP/T    0.312297
CP/C    0.200223
CN/T    1.416717
CN/C    0.882801

In [89]:
lchin35a=pd.DataFrame(lchin35m)
lchin35a

               0
W     191.617647
S      14.147059
VP     29.794118
C      23.647059
T      16.647059
DC      6.705882
CT      5.647059
CP      4.794118
CN     18.911765
MLS    13.654862
MLT    11.621279
MLC     8.346194
C/S     1.711941
VP/T    1.824324
C/T     1.457132
DC/C    0.272300
DC/T    0.437241
T/S     1.177674
CT/T    0.349200
CP/T    0.278256
CP/C    0.217676
CN/T    1.122668
CN/C    0.830850

# Loose Spanish Averages

In [90]:
lspan34a=pd.DataFrame(lspan34m)
lspan34a

               0
W     141.000000
S       8.636364
VP     23.045455
C      17.227273
T      10.568182
DC      6.477273
CT      4.772727
CP      3.772727
CN     13.522727
MLS    16.366409
MLT    13.561168
MLC     8.020525
C/S     2.083727
VP/T    2.287914
C/T     1.718934
DC/C    0.359314
DC/T    0.718832
T/S     1.212214
CT/T    0.488711
CP/T    0.306923
CP/C    0.182209
CN/T    1.256959
CN/C    0.740334

In [92]:
lspan45a=pd.DataFrame(lspan45m)
lspan45a

               0
W     186.398438
S       9.890625
VP     28.148438
C      21.898438
T      12.625000
DC      8.570312
CT      6.390625
CP      3.960938
CN     20.570312
MLS    19.231308
MLT    15.305837
MLC     8.563258
C/S     2.283488
VP/T    2.336676
C/T     1.812238
DC/C    0.383017
DC/T    0.762562
T/S     1.272172
CT/T    0.536041
CP/T    0.321649
CP/C    0.186492
CN/T    1.689148
CN/C    0.935920

In [93]:
lspan35a=pd.DataFrame(lspan35m)
lspan35a

               0
W     130.652174
S       7.956522
VP     21.608696
C      15.391304
T       9.347826
DC      5.956522
CT      4.521739
CP      4.217391
CN     12.826087
MLS    16.060361
MLT    13.453096
MLC     8.007226
C/S     2.008191
VP/T    2.335957
C/T     1.687139
DC/C    0.372843
DC/T    0.724361
T/S     1.158435
CT/T    0.505591
CP/T    0.372222
CP/C    0.226004
CN/T    1.233787
CN/C    0.750839

# Loose Korean Averages

In [94]:
lkor34a=pd.DataFrame(lkor34m)
lkor34a

               0
W     170.750000
S      13.781250
VP     27.078125
C      21.734375
T      15.656250
DC      5.671875
CT      4.843750
CP      3.953125
CN     16.296875
MLS    12.796739
MLT    11.098692
MLC     7.982547
C/S     1.642438
VP/T    1.821059
C/T     1.432575
DC/C    0.257572
DC/T    0.405263
T/S     1.156741
CT/T    0.336972
CP/T    0.247759
CP/C    0.188850
CN/T    1.023841
CN/C    0.748242

In [95]:
lkor45a=pd.DataFrame(lkor45m)
lkor45a

               0
W     222.222951
S      14.783607
VP     33.875410
C      25.918033
T      16.636066
DC      8.849180
CT      6.921311
CP      5.216393
CN     22.662295
MLS    15.306587
MLT    13.692941
MLC     8.588070
C/S     1.823216
VP/T    2.124584
C/T     1.622680
DC/C    0.336826
DC/T    0.597244
T/S     1.122361
CT/T    0.450696
CP/T    0.312352
CP/C    0.200188
CN/T    1.417400
CN/C    0.882873

In [96]:
lkor35a=pd.DataFrame(lkor35m)
lkor35a

               0
W     191.617647
S      14.147059
VP     29.794118
C      23.647059
T      16.647059
DC      6.705882
CT      5.647059
CP      4.794118
CN     18.911765
MLS    13.654862
MLT    11.621279
MLC     8.346194
C/S     1.711941
VP/T    1.824324
C/T     1.457132
DC/C    0.272300
DC/T    0.437241
T/S     1.177674
CT/T    0.349200
CP/T    0.278256
CP/C    0.217676
CN/T    1.122668
CN/C    0.830850

# Whole Chinese Averages

In [97]:
wchin34a=pd.DataFrame(wchin34m)
wchin34a

               0
W     185.596472
S      13.771775
VP     28.601985
C      22.520397
T      15.041896
DC      6.995590
CT      5.589857
CP      4.518192
CN     18.803749
MLS    13.729141
MLT    12.607691
MLC     8.325264
C/S     1.686543
VP/T    1.941525
C/T     1.531081
DC/C    0.289621
DC/T    0.494038
T/S     1.100233
CT/T    0.380989
CP/T    0.292284
CP/C    0.194448
CN/T    1.283821
CN/C    0.840570

In [98]:
wchin45a=pd.DataFrame(wchin45m)
wchin45a

               0
W     233.470312
S      15.530864
VP     34.774250
C      26.643151
T      16.959436
DC      9.276308
CT      7.020576
CP      5.573192
CN     25.262199
MLS    15.246546
MLT    14.236869
MLC     8.870629
C/S     1.777213
VP/T    2.121429
C/T     1.634154
DC/C    0.335315
DC/T    0.604661
T/S     1.089585
CT/T    0.435972
CP/T    0.335782
CP/C    0.215940
CN/T    1.548219
CN/C    0.956557

In [99]:
wchin35a=pd.DataFrame(wchin35m)
wchin35a

               0
W     196.439130
S      13.860870
VP     29.367391
C      23.217391
T      15.347826
DC      7.395652
CT      5.839130
CP      5.054348
CN     20.613043
MLS    14.512759
MLT    13.294463
MLC     8.557365
C/S     1.742568
VP/T    1.999282
C/T     1.574060
DC/C    0.301047
DC/T    0.526594
T/S     1.114557
CT/T    0.389213
CP/T    0.321238
CP/C    0.211315
CN/T    1.418985
CN/C    0.902348

# Whole Spanish Averages

In [100]:
wspan34a=pd.DataFrame(wspan34m)
wspan34a

               0
W     184.063694
S      11.859873
VP     28.783439
C      22.031847
T      13.668790
DC      8.165605
CT      6.006369
CP      4.101911
CN     19.872611
MLS    15.691280
MLT    13.726465
MLC     8.293489
C/S     1.961455
VP/T    2.175356
C/T     1.682899
DC/C    0.355518
DC/T    0.669145
T/S     1.160711
CT/T    0.463318
CP/T    0.280910
CP/C    0.177627
CN/T    1.432706
CN/C    0.845980

In [101]:
wspan45a=pd.DataFrame(wspan45m)
wspan45a

               0
W     197.469799
S      11.204698
VP     29.097315
C      22.496644
T      13.362416
DC      8.620805
CT      6.392617
CP      4.429530
CN     22.144295
MLS    18.410155
MLT    15.765559
MLC     8.986946
C/S     2.116386
VP/T    2.299865
C/T     1.781130
DC/C    0.379501
DC/T    0.739262
T/S     1.196090
CT/T    0.507665
CP/T    0.355392
CP/C    0.206656
CN/T    1.770940
CN/C    0.994715

In [102]:
wspan35a=pd.DataFrame(wspan35m)
wspan35a

               0
W     177.453704
S      11.879630
VP     28.203704
C      21.314815
T      13.092593
DC      8.083333
CT      6.027778
CP      3.629630
CN     19.824074
MLS    15.265544
MLT    13.965354
MLC     8.264264
C/S     1.887966
VP/T    2.216833
C/T     1.691097
DC/C    0.370937
DC/T    0.695293
T/S     1.108140
CT/T    0.486368
CP/T    0.281687
CP/C    0.171885
CN/T    1.506431
CN/C    0.871025

# Whole Korean Averages

In [103]:
wkor34a=pd.DataFrame(wkor34m)
wkor34a

               0
W     183.559278
S      14.399485
VP     29.491624
C      23.304768
T      15.626933
DC      7.578608
CT      6.019974
CP      3.503222
CN     18.081830
MLS    13.045488
MLT    12.194232
MLC     8.142484
C/S     1.633534
VP/T    1.926885
C/T     1.515450
DC/C    0.311414
DC/T    0.514408
T/S     1.075656
CT/T    0.393884
CP/T    0.239968
CP/C    0.165998
CN/T    1.227245
CN/C    0.808411

In [104]:
wkor45a=pd.DataFrame(wkor45m)
wkor45a

               0
W     223.175785
S      15.949848
VP     34.417427
C      26.813070
T      17.303445
DC      9.344985
CT      7.329787
CP      4.869807
CN     23.247214
MLS    14.145553
MLT    13.133965
MLC     8.463710
C/S     1.707951
VP/T    2.008924
C/T     1.571070
DC/C    0.335446
DC/T    0.569775
T/S     1.077765
CT/T    0.433003
CP/T    0.279442
CP/C    0.186796
CN/T    1.380360
CN/C    0.879926

In [105]:
wkor35a=pd.DataFrame(wkor35m)
wkor35a

               0
W     202.806289
S      15.361006
VP     32.377358
C      25.427673
T      16.649057
DC      8.608805
CT      6.759748
CP      3.852830
CN     19.933333
MLS    13.660611
MLT    12.811527
MLC     8.424851
C/S     1.661257
VP/T    1.976636
C/T     1.542362
DC/C    0.325445
DC/T    0.545503
T/S     1.063785
CT/T    0.406522
CP/T    0.254580
CP/C    0.177169
CN/T    1.323304
CN/C    0.858478