#  Data analysis for Lexical Richness

In [1]:
#importing libraries
import os
import nltk
import re
import numpy as np
import regex
from nltk.tokenize import RegexpTokenizer
from nltk.tokenize import word_tokenize
import pandas as pd
import string

# Functions

In [2]:
#binary search for strings
def binarySearchArr(arr, x):
    l = 0
    r = len(arr)
    while (l <= r):
        m = l + ((r - l) // 2)
 
        res = (x == arr[m])
        # Check if x is present at mid
        if (res == True):
            return m
 
        # If x greater, ignore left half
    #problem is here
        elif (res == False):
            if (x>arr[m]):
                l = m+1
            elif (x<arr[m]):
                r=m-1
        # If x is smaller, ignore right half
    return -1

In [3]:
#This function removes all of the rows that contain a string in the passed column
def rmStr (df, col):
    row_index=0
    row_ind=[]
    for i in df[col]:
        try:
            int(i)
        except:
            row_ind.append(row_index)
        row_index+=1
    return df.drop(labels=row_ind,axis=0)

In [4]:
# function that finds the unique values in a list
def get_uniques(x):
    return list(x.unique())

In [5]:
#finds the number of texts per language in the given list of anon_ids
def find_counts(df,anon_list,lang_col):
    spanish=0
    chinese=0
    korean=0
    index=0
    for i in df["Number of Questions"]:
        anon_id=str(df.at[index,'anon_id'])
        if anon_id in anon_list:
            if df.at[index,lang_col]=='Spanish':            
                spanish+=i
            elif df.at[index,lang_col]=='Chinese':
                chinese+=i
            elif df.at[index,lang_col]=='Korean':
                korean+=i
        index+=1
    return(spanish,chinese,korean)

In [6]:
def tokenAvg(df,textlencol,lang, id_list,lvl):
    index=0
    spanish=0
    chinese=0
    korean=0
    qcounts=0
    qcountc=0
    qcountk=0

    for anon in df['anon_id']:
        if df.at[index,'level_id']==lvl and df.at[index,'anon_id'] in id_list:
            textlen=df.at[index,textlencol]
            textlen=int(textlen)
            if df.at[index,lang]=='Spanish':
                spanish+=textlen
                qcounts+=1
            elif df.at[index,lang]=='Korean':
                korean+=textlen
                qcountk+=1
            elif df.at[index,lang]=='Chinese':
                chinese+=textlen
                qcountc+=1
        index+=1
        
    print("Spanish Average: ",spanish/qcounts)
    print("Korean Average: ",korean/qcountk)
    print("Chinese Average: ",chinese/qcountc)

In [7]:
def ratio(df,textlencol,typelencol,lang, id_list,lvl):
    index=0
    spanish=0
    chinese=0
    korean=0
    tspanish=0
    tkorean=0
    tchinese=0
    qcounts=0
    qcountc=0
    qcountk=0

    for anon in df['anon_id']:
        if df.at[index,'level_id']==lvl and df.at[index,'anon_id'] in id_list:
            textlen=df.at[index,textlencol]
            textlen=int(textlen)
            typelen=df.at[index,typelencol]
            typelen=int(typelen)
            if df.at[index,lang]=='Spanish':
                spanish+=textlen
                tspanish+=typelen
                qcounts+=1
            elif df.at[index,lang]=='Korean':
                korean+=textlen
                tkorean+=typelen
                qcountk+=1
            elif df.at[index,lang]=='Chinese':
                chinese+=textlen
                tchinese+=typelen
                qcountc+=1
        index+=1
        
    spanishavg=spanish/qcounts
    tspanishavg=tspanish/qcounts
    koreanavg=korean/qcountk
    tkoreanavg=tkorean/qcountk
    chineseavg=chinese/qcountc
    tchineseavg=tchinese/qcountc
    
    print("Spanish Ratio: ",tspanishavg/spanishavg)
    print("Korean Ratio: ",tkoreanavg/koreanavg)
    print("Chinese Ratio: ",tchineseavg/chineseavg)

In [8]:
# function that counts the amount of tokens per language FINDS AVERAGE OF ALL LVLS IN SPECIFIED LIST
def finding_tokens(df,id_list,lang_col,text_len_col,qcounts):
    spanish=0
    korean=0
    chinese=0
    index=0
    lspanish=0
    lchinese=0
    lkorean=0
    
    for i in df['anon_id']:
        if i in id_list:
            lang=df.at[index,lang_col]
            length=int(df.at[index,text_len_col])
            if lang=='Spanish':
                lspanish+=1
                spanish+=length
            elif lang=='Korean':
                lkorean+=1
                korean+=length
            elif lang=='Chinese':
                lchinese+=1
                chinese+=length
        index+=1
   # print('Spanish Token Average: ',spanish,'\nKorean Token Average: ',korean,
    #      '\nChinese Token Average:',chinese)
    print('Spanish Token Average: ',spanish/lspanish,'\nKorean Token Average: ',korean/lkorean,
          '\nChinese Token Average:',chinese/lchinese)

# Adding DFs

In [9]:
loose=pd.read_csv('original-sheets\Responses-Loose.csv')
student_info=pd.read_csv('corpus-files\student_information.csv')
course=pd.read_csv('corpus-files\course.csv')
answer_df=pd.read_csv('answer.csv',index_col = 'answer_id', low_memory=False)

In [10]:
course_=course.drop(columns=['class_id','semester','section'])

student=student_info.drop(columns=['birth_year','language_used_at_home','non_native_language_1','yrs_of_study_lang1',
                                  'study_in_classroom_lang1','ways_of_study_lang1','non_native_language_2','study_in_classroom_lang2',
                                  'ways_of_study_lang2','non_native_language_3','yrs_of_study_lang3','study_in_classroom_lang3',
                                  'ways_of_study_lang3','yrs_of_english_learning','yrs_in_english_environment','yrs_of_study_lang2'])
answer_=answer_df[['question_id','anon_id','course_id','version','text_len','text','tokens']].reset_index()

In [11]:
loose.head()

,3Langs,Item,answer_id,anon_id,L1,gender,course_id,level_id,class_id,question_id,version,text1_len,text2_len,text3_len,text1,"text2 (line breaks/extra spaces removed, spaces added to reach 60)",text3 (edits made to fix word counts),Judgement,Notes
0,Y,C12,141.0,aj8,Chinese,Male,118.0,5.0,w,17.0,1.0,121.0,114.0,114.0,"\n\n\n Today, I am going to describe one of my...","Today, I am going to describe one of my classm...","Today, I am going to describe one of my classm...",1.0,NaN
1,Y,C13,143.0,az8,Chinese,Female,118.0,5.0,w,17.0,1.0,96.0,95.0,95.0,My niece is 3 years old who is my younger brot...,My niece is 3 years old who is my younger brot...,My niece is 3 years old who is my younger brot...,1.0,NaN
2,Y,K9,133.0,az2,Korean,Male,118.0,5.0,w,17.0,1.0,130.0,128.0,128.0,"When I was in Germany, I met a friend who was ...","When I was in Germany, I met a friend who was ...","When I was in Germany, I met a friend who was ...",1.0,NaN
3,Y,K11,135.0,at8,Korean,Female,118.0,5.0,w,17.0,3.0,104.0,105.0,105.0,my friend is ANON_NAME_0. she is a my ELI frie...,my friend is ANON_NAME_0. she is a my ELI frie...,my friend is ANON_NAME_0. she is a my ELI frie...,1.0,NaN
4,Y,K20,188.0,eh9,Korean,Male,118.0,5.0,w,17.0,1.0,98.0,97.0,97.0,Younghun is my best friend. His facial appeara...,Younghun is my best friend. His facial appeara...,Younghun is my best friend. His facial appeara...,1.0,NaN

In [12]:
#Cleaning the answer df
col='course_id'
answer=rmStr(answer_, col) #removes strings from answer_.course_id

In [13]:
# Merging the datasets

merge_ans=answer[['anon_id','course_id']] #sets answer df up for merging 
student_merge=student.drop(columns=['course_history']) #set student df up for merging

student_ans=student_merge.merge(answer,on='anon_id').astype({'course_id':'int64'}) #merges student and answers

stu_ans_crs_=student_ans.merge(course_, on='course_id') #merges the student-answers df with course df

In [14]:
stu_ans_crs_.reset_index()

,index,anon_id,gender,native_language,age,answer_id,question_id,course_id,version,text_len,text,tokens,level_id
0,0,do6,Female,Russian,31.0,150,4,117,1,299,Some people prefer eat out and some like doing...,"['Some', 'people', 'prefer', 'eat', 'out', 'an...",5
1,1,do6,Female,Russian,31.0,1221,97,117,1,288,My opinion is that a person does need educatio...,"['My', 'opinion', 'is', 'that', 'a', 'person',...",5
2,2,do6,Female,Russian,31.0,1957,189,117,1,321,There are two national rooms in the Cathedral ...,"['There', 'are', 'two', 'national', 'rooms', '...",5
3,3,do6,Female,Russian,31.0,2164,190,117,1,464,There are two nation rooms in the Cathedral of...,"['There', 'are', 'two', 'nation', 'rooms', 'in...",5
4,4,bv5,Male,Arabic,21.0,151,4,117,1,315,"""Not all learning takes place in the classroom...","['``', 'Not', 'all', 'learning', 'takes', 'pla...",5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46225,46225,cy7,Female,Korean,NaN,47682,6066,1034,1,10,1. emphasis\n2. appropriate\n3. requires\n4. a...,"['1', '.', 'emphasis', '2', '.', 'appropriate'...",3
46226,46226,fp7,Female,Turkish,NaN,47823,6066,1034,1,10,1.emphasis \n2.appropriate\n3.requires\n4.anal...,"['1', '.', 'emphasis', '2', '.', 'appropriate'...",3
46227,46227,fq6,Male,Chinese,NaN,47824,6066,1034,1,10,1.emphasis\n2.appropriate\n3.requires\n4.analy...,"['1', '.', 'emphasis', '2', '.', 'appropriate'...",3
46228,46228,di6,Male,Chinese,NaN,47787,6066,1034,1,10,1 emphasis\n2 normal\n3 requires\n4 analyze\n5...,"['1', 'emphasis', '2', 'normal', '3', 'require...",3
46229,46229,fm3,Unknown,Arabic,NaN,47725,6066,1034,1,10,1- emphasis\n2- appropriate\n3- requires\n4- a...,"['1', '-', 'emphasis', '2', '-', 'appropriate'...",3

In [15]:
index=0
ind_list=[]
for i in stu_ans_crs_.text_len:
    txtlen=int(i)
    if txtlen < 60:
        ind_list.append(index)
    index+=1

test=stu_ans_crs_.drop(labels=ind_list,axis=0).reset_index()
test

,index,anon_id,gender,native_language,age,answer_id,question_id,course_id,version,text_len,text,tokens,level_id
0,0,do6,Female,Russian,31.0,150,4,117,1,299,Some people prefer eat out and some like doing...,"['Some', 'people', 'prefer', 'eat', 'out', 'an...",5
1,1,do6,Female,Russian,31.0,1221,97,117,1,288,My opinion is that a person does need educatio...,"['My', 'opinion', 'is', 'that', 'a', 'person',...",5
2,2,do6,Female,Russian,31.0,1957,189,117,1,321,There are two national rooms in the Cathedral ...,"['There', 'are', 'two', 'national', 'rooms', '...",5
3,3,do6,Female,Russian,31.0,2164,190,117,1,464,There are two nation rooms in the Cathedral of...,"['There', 'are', 'two', 'nation', 'rooms', 'in...",5
4,4,bv5,Male,Arabic,21.0,151,4,117,1,315,"""Not all learning takes place in the classroom...","['``', 'Not', 'all', 'learning', 'takes', 'pla...",5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17252,46214,bh8,Male,Japanese,NaN,48034,6087,1033,1,100,I received my Medical Doctor license in Japan ...,"['I', 'received', 'my', 'Medical', 'Doctor', '...",3
17253,46215,bh8,Male,Japanese,NaN,48293,6119,1033,1,138,I introduce my ideal home to you quickly. This...,"['I', 'introduce', 'my', 'ideal', 'home', 'to'...",3
17254,46217,cz3,Female,Korean,NaN,47451,6027,1033,1,101,I will put 5 items in time capsule such as som...,"['I', 'will', 'put', '5', 'items', 'in', 'time...",3
17255,46218,cz3,Female,Korean,NaN,48001,6087,1033,1,100,I have studied Visual Design since 2002. I gra...,"['I', 'have', 'studied', 'Visual', 'Design', '...",3
17256,46219,cz3,Female,Korean,NaN,48316,6119,1033,1,72,I will describe about my ideal home. I want qu...,"['I', 'will', 'describe', 'about', 'my', 'idea...",3

# Cleaning Answers in Whole Dataset

In [16]:
# adding spaces after punctuation if needed

index=0
stu_ans_crs=stu_ans_crs_.copy().drop(columns=['gender','age','question_id','course_id',
                                             'version','tokens'])
stu_ans_crs['processed_text']=pd.NaT
stu_ans_crs['wordtype_len']=pd.NaT
words=[]
for text in stu_ans_crs.text:
    uwords=[]
    text=text.replace('\n',' ')
    nopunc=text.translate(str.maketrans('','',string.punctuation))
    nopunc=nopunc.lower()
    stu_ans_crs.at[index,'processed_text']=nopunc
    words=nopunc.strip().split(" ")
    for word in words:
        if word=='':
            words.remove(word)
        elif word not in uwords:
            uwords.append(word)
    stu_ans_crs.at[index,'text_len']=len(words)
    stu_ans_crs.at[index,'wordtype_len']=len(uwords)
    index+=1

In [17]:
stu_ans_crs

,anon_id,native_language,answer_id,text_len,text,level_id,processed_text,wordtype_len
0,do6,Russian,150,299,Some people prefer eat out and some like doing...,5,some people prefer eat out and some like doing...,125
1,do6,Russian,1221,288,My opinion is that a person does need educatio...,5,my opinion is that a person does need educatio...,112
2,do6,Russian,1957,317,There are two national rooms in the Cathedral ...,5,there are two national rooms in the cathedral ...,149
3,do6,Russian,2164,459,There are two nation rooms in the Cathedral of...,5,there are two nation rooms in the cathedral of...,187
4,bv5,Arabic,151,311,"""Not all learning takes place in the classroom...",5,not all learning takes place in the classroom ...,136
...,...,...,...,...,...,...,...,...
46225,cy7,Korean,47682,20,1. emphasis\n2. appropriate\n3. requires\n4. a...,3,1 emphasis 2 appropriate 3 requires 4 analyze ...,20
46226,fp7,Turkish,47823,10,1.emphasis \n2.appropriate\n3.requires\n4.anal...,3,1emphasis 2appropriate 3requires 4analyze 5au...,9
46227,fq6,Chinese,47824,10,1.emphasis\n2.appropriate\n3.requires\n4.analy...,3,1emphasis 2appropriate 3requires 4analyze 5aut...,10
46228,di6,Chinese,47787,20,1 emphasis\n2 normal\n3 requires\n4 analyze\n5...,3,1 emphasis 2 normal 3 requires 4 analyze 5 aut...,20
46229,fm3,Arabic,47725,20,1- emphasis\n2- appropriate\n3- requires\n4- a...,3,1 emphasis 2 appropriate 3 requires 4 analyze ...,20

In [18]:
#dropping all rows where the answer is less than 60 words
index=0
ind_list=[]
for i in stu_ans_crs.text_len:
    txtlen=int(i)
    if txtlen < 60:
        ind_list.append(index)
    index+=1

stu_ans_crs=stu_ans_crs.drop(labels=ind_list,axis=0).reset_index()

In [19]:
stu_ans_crs

,index,anon_id,native_language,answer_id,text_len,text,level_id,processed_text,wordtype_len
0,0,do6,Russian,150,299,Some people prefer eat out and some like doing...,5,some people prefer eat out and some like doing...,125
1,1,do6,Russian,1221,288,My opinion is that a person does need educatio...,5,my opinion is that a person does need educatio...,112
2,2,do6,Russian,1957,317,There are two national rooms in the Cathedral ...,5,there are two national rooms in the cathedral ...,149
3,3,do6,Russian,2164,459,There are two nation rooms in the Cathedral of...,5,there are two nation rooms in the cathedral of...,187
4,4,bv5,Arabic,151,311,"""Not all learning takes place in the classroom...",5,not all learning takes place in the classroom ...,136
...,...,...,...,...,...,...,...,...,...
17144,46214,bh8,Japanese,48034,107,I received my Medical Doctor license in Japan ...,3,i received my medical doctor license in japan ...,54
17145,46215,bh8,Japanese,48293,138,I introduce my ideal home to you quickly. This...,3,i introduce my ideal home to you quickly this ...,88
17146,46217,cz3,Korean,47451,102,I will put 5 items in time capsule such as som...,3,i will put 5 items in time capsule such as som...,67
17147,46218,cz3,Korean,48001,104,I have studied Visual Design since 2002. I gra...,3,i have studied visual design since 2002 i grad...,57
17148,46219,cz3,Korean,48316,70,I will describe about my ideal home. I want qu...,3,i will describe about my ideal home i want qui...,51

# Cleaning Loose Dataset

In [20]:
dropped_loose=loose.drop(columns=['3Langs','Item','answer_id','gender','course_id','class_id','question_id','version','text1_len',
                                     'text2_len','text1','text2 (line breaks/extra spaces removed, spaces added to reach 60)',
                                     'Judgement','Notes'])
drop_loose=dropped_loose.dropna()

sorted_loose=drop_loose.sort_values(by=['anon_id']).reset_index(drop=True)

In [21]:
sorted_loose

,anon_id,L1,level_id,text3_len,text3 (edits made to fix word counts)
0,aa0,Spanish,5.0,109.0,"Barber, chef by profession, but an expert on a..."
1,aa0,Spanish,5.0,190.0,"The article ""English as Co star"" support the f..."
2,aa0,Spanish,5.0,193.0,"In this article the authors Goleman, Kaufman a..."
3,aa0,Spanish,5.0,170.0,"Flow in the sense expressed in the text ""The C..."
4,aa0,Spanish,5.0,85.0,"Bill Gates, in this conference, explained two ..."
...,...,...,...,...,...
1805,ha2,Korean,5.0,217.0,Pittsburgh had a big snowstorm recently. A lot...
1806,ha2,Korean,5.0,170.0,"Korea, which is connected to China, belongs to..."
1807,ha2,Korean,5.0,195.0,Koko is a big female gorilla who was born in S...
1808,ha2,Korean,4.0,283.0,A natural disaster is the effect of the natura...
1809,ha2,Korean,5.0,168.0,I think human language and nonhuman primate la...

In [22]:
index=0
textcount_loose=sorted_loose.copy()

textcount_loose['processed_text']=pd.NaT
textcount_loose['wordtype_len']=pd.NaT
words=[]
for text in textcount_loose['text3 (edits made to fix word counts)']:
    uwords=[]
    text=text.replace('\n',' ')
    nopunc=text.translate(str.maketrans('','',string.punctuation))
    nopunc=nopunc.lower()
    textcount_loose.at[index,'processed_text']=nopunc
    words=nopunc.strip().split(" ")
    for word in words:
        if word=='':
            words.remove(word)
        elif word not in uwords:
            uwords.append(word)
    textcount_loose.at[index,'text3_len']=len(words)
    textcount_loose.at[index,'wordtype_len']=len(uwords)
    index+=1

In [23]:
textcount_loose

,anon_id,L1,level_id,text3_len,text3 (edits made to fix word counts),processed_text,wordtype_len
0,aa0,Spanish,5.0,109.0,"Barber, chef by profession, but an expert on a...",barber chef by profession but an expert on agr...,79
1,aa0,Spanish,5.0,190.0,"The article ""English as Co star"" support the f...",the article english as co star support the fac...,117
2,aa0,Spanish,5.0,193.0,"In this article the authors Goleman, Kaufman a...",in this article the authors goleman kaufman an...,122
3,aa0,Spanish,5.0,170.0,"Flow in the sense expressed in the text ""The C...",flow in the sense expressed in the text the cr...,103
4,aa0,Spanish,5.0,85.0,"Bill Gates, in this conference, explained two ...",bill gates in this conference explained two bi...,66
...,...,...,...,...,...,...,...
1805,ha2,Korean,5.0,217.0,Pittsburgh had a big snowstorm recently. A lot...,pittsburgh had a big snowstorm recently a lot ...,129
1806,ha2,Korean,5.0,170.0,"Korea, which is connected to China, belongs to...",korea which is connected to china belongs to t...,101
1807,ha2,Korean,5.0,195.0,Koko is a big female gorilla who was born in S...,koko is a big female gorilla who was born in s...,115
1808,ha2,Korean,4.0,283.0,A natural disaster is the effect of the natura...,a natural disaster is the effect of the natura...,135
1809,ha2,Korean,5.0,168.0,I think human language and nonhuman primate la...,i think human language and nonhuman primate la...,100

# Getting Ids of participants in all three of Whole Dataset

In [24]:
sac_lvls=stu_ans_crs[['anon_id','native_language','level_id']]
sac_lvls_rkc=sac_lvls

index=0
for i in sac_lvls_rkc.native_language:
    if (i != 'Korean' and i != 'Spanish' and i != 'Chinese'):
        sac_lvls_rkc=sac_lvls_rkc.drop(index)
    index+=1

In [25]:
sac_lvls_rkc

      anon_id native_language  level_id
13        ax4         Chinese         5
14        ax4         Chinese         5
15        ax4         Chinese         5
16        ax4         Chinese         5
17        ax4         Chinese         5
...       ...             ...       ...
17135     ew6         Chinese         3
17136     ew6         Chinese         3
17146     cz3          Korean         3
17147     cz3          Korean         3
17148     cz3          Korean         3

[7580 rows x 3 columns]

In [26]:
# allows us to see what levels each anon_id participated in 
lvl_list=sac_lvls_rkc.groupby('anon_id').agg(n_uniq=('level_id','nunique'), lvl_nums=('level_id',get_uniques))
lvl_list=lvl_list.reset_index()

In [27]:
lvl_list

    anon_id  n_uniq   lvl_nums
0       aa0       1        [5]
1       aa1       1        [4]
2       aa3       1        [4]
3       aa8       2     [5, 4]
4       aa9       3  [3, 4, 2]
..      ...     ...        ...
470     ha0       1        [5]
471     ha2       2     [5, 4]
472     ha6       2     [3, 4]
473     hb4       3  [5, 4, 3]
474     hc1       1        [5]

[475 rows x 3 columns]

In [28]:
# will create a list of only the ids that have levels 3, 4, and 5 in their lvl_nums column
all_three=[]
ind=0
for i in lvl_list.anon_id:
    if ((3 in lvl_list.iat[ind,2]) and (4 in lvl_list.iat[ind,2]) and (5 in lvl_list.iat[ind,2])):
        append=lvl_list.at[ind, 'anon_id']
        all_three.append(append)
    ind+=1

all_three.sort()
len(all_three)

42

In [29]:
all_anon=[]
for i in sac_lvls_rkc.anon_id:
    all_anon.append(i)
len(all_anon)
all_anon.sort()

sorted_sac=sac_lvls_rkc.sort_values(by=['anon_id']).reset_index(drop=True)

In [30]:
lang_dict_all={}
for i in all_three:
    df_ind=binarySearchArr(all_anon,i)
    key=sorted_sac.at[df_ind,'native_language']
    val=sorted_sac.at[df_ind,'anon_id']
    
    if key in lang_dict_all:
        lang_dict_all[key].append(val)
    else:
        lang_dict_all[key]=[val]
    
print(lang_dict_all)

{'Korean': ['ag9', 'an5', 'as0', 'ay1', 'be7', 'bv9', 'bz5', 'cc4', 'cj8', 'co5', 'cv3', 'cw0', 'ea4', 'eq8', 'es9', 'fj7', 'fp5', 'fu6', 'gc2', 'gq8', 'gz2', 'hb4'], 'Chinese': ['aq1', 'ar8', 'bf7', 'bl4', 'bl7', 'bp4', 'bz2', 'cb3', 'cf9', 'cz4', 'dk6', 'ev9', 'fi1', 'fj4', 'gb4', 'gx5'], 'Spanish': ['bj2', 'cm9', 'fa2', 'fy1']}

In [31]:
# will create a list of only the ids that have levels 3 and 4 in their lvl_nums column
lvls34=[]
ind=0
for i in lvl_list.anon_id:
    if ((3 in lvl_list.iat[ind,2]) and (4 in lvl_list.iat[ind,2])):
        append=lvl_list.at[ind, 'anon_id']
        lvls34.append(append)
    ind+=1

lvls34.sort()
len(lvls34)

111

In [32]:
lang_dict_34={}
for i in lvls34:
    df_ind=binarySearchArr(all_anon,i)
    key=sorted_sac.at[df_ind,'native_language']
    val=sorted_sac.at[df_ind,'anon_id']
    
    if key in lang_dict_34:
        lang_dict_34[key].append(val)
    else:
        lang_dict_34[key]=[val]
    
print(lang_dict_34)

{'Korean': ['aa9', 'af1', 'ag9', 'ah9', 'an4', 'an5', 'as0', 'as4', 'ay1', 'bc0', 'be2', 'be7', 'bf1', 'bm0', 'br5', 'bv9', 'bz5', 'ca6', 'cc4', 'cf6', 'ch9', 'cj8', 'cn3', 'co5', 'cv3', 'cw0', 'cw6', 'cy5', 'dd1', 'dj6', 'dp5', 'ea4', 'ef4', 'eo2', 'eq8', 'es9', 'et1', 'ex0', 'fc9', 'fh7', 'fi4', 'fj7', 'fk1', 'fl4', 'fl5', 'fo3', 'fp5', 'fp9', 'fu6', 'fv7', 'fv9', 'gb7', 'gc2', 'gd1', 'gl4', 'gq8', 'gv1', 'gz2', 'ha6', 'hb4'], 'Chinese': ['ag6', 'ai4', 'ap5', 'ap8', 'aq1', 'ar8', 'ax7', 'ba3', 'bf7', 'bl4', 'bl7', 'bp4', 'bu9', 'bz2', 'cb3', 'cf9', 'cl2', 'cl6', 'cq2', 'cs5', 'cz4', 'dk6', 'dl8', 'dm4', 'do7', 'dp1', 'dt4', 'dx1', 'eb6', 'ev5', 'ev9', 'ey8', 'ff6', 'fi1', 'fj4', 'fm2', 'fn8', 'fy3', 'gb4', 'gw5', 'gw8', 'gx5'], 'Spanish': ['bj2', 'ch0', 'cm9', 'en3', 'fa2', 'fe7', 'fg7', 'fy1', 'fy6']}

In [33]:
# will create a list of only the ids that have levels 3 and 4 in their lvl_nums column
lvls45=[]
ind=0
for i in lvl_list.anon_id:
    if ((4 in lvl_list.iat[ind,2]) and (5 in lvl_list.iat[ind,2])):
        append=lvl_list.at[ind, 'anon_id']
        lvls45.append(append)
    ind+=1

lvls45.sort()
len(lvls45)

154

In [34]:
lang_dict_45={}
for i in lvls45:
    df_ind=binarySearchArr(all_anon,i)
    key=sorted_sac.at[df_ind,'native_language']
    val=sorted_sac.at[df_ind,'anon_id']
    
    if key in lang_dict_45:
        lang_dict_45[key].append(val)
    else:
        lang_dict_45[key]=[val]
    
print(lang_dict_45)

{'Korean': ['aa8', 'ac5', 'ad1', 'ag9', 'al5', 'an5', 'ap4', 'aq5', 'as0', 'as7', 'au5', 'au6', 'aw6', 'ay1', 'be7', 'bq0', 'bu4', 'bv9', 'bw3', 'bz5', 'cc4', 'ce3', 'ch2', 'ci0', 'cj8', 'co5', 'cp0', 'cv3', 'cw0', 'cw1', 'dd9', 'df3', 'dm3', 'dy7', 'ea4', 'eb3', 'eb9', 'ec1', 'eg5', 'eq8', 'es0', 'es9', 'et3', 'ex3', 'fa0', 'fb4', 'fd6', 'ff1', 'fi5', 'fj7', 'fl0', 'fp5', 'fs0', 'ft2', 'fu6', 'fx4', 'fz8', 'ga1', 'gc2', 'ge6', 'gg2', 'gg6', 'gj0', 'gk5', 'gl1', 'gn0', 'gq8', 'gs3', 'gu0', 'gz2', 'ha2', 'hb4'], 'Chinese': ['ad7', 'ae9', 'af4', 'am5', 'an7', 'aq1', 'ar8', 'ar9', 'az8', 'bd7', 'bf2', 'bf7', 'bf9', 'bl4', 'bl7', 'bp2', 'bp4', 'br9', 'bv8', 'bw9', 'by5', 'by6', 'bz1', 'bz2', 'ca4', 'cb3', 'cd6', 'cf9', 'ci2', 'cj5', 'cl3', 'cz2', 'cz4', 'dc0', 'di7', 'dk6', 'dm8', 'dq9', 'du9', 'dw2', 'ei2', 'ei8', 'eo1', 'eq4', 'es4', 'et4', 'ev6', 'ev9', 'ff2', 'fg8', 'fi1', 'fj4', 'fk8', 'fo4', 'fq5', 'fw7', 'ga3', 'gb4', 'gf5', 'gl2', 'gm1', 'go8', 'gt0', 'gv3', 'gw0', 'gx5'], 'Spanish': ['bi4', 'bj2', 'br2', 'cm9', 'cv7', 'dc6', 'df4', 'dk0', 'eo8', 'fa2', 'fx7', 'fy1', 'gq4', 'gs6', 'gu1', 'gu9']}

In [35]:
print("3-5: ",len(all_three),'\n3-4: ',len(lvls34),"\n4-5: ",len(lvls45))

3-5:  42
3-4:  111
4-5:  154

In [36]:
print("All Three:")
for key, value in lang_dict_all.items():
    print(key,len(value))

All Three:
Korean 22
Chinese 16
Spanish 4

In [37]:
print("3-4:")

for key, value in lang_dict_34.items():
    print(key,len(value))

3-4:
Korean 60
Chinese 42
Spanish 9

In [38]:
print("4-5:")

for key, value in lang_dict_45.items():
    print(key,len(value))

4-5:
Korean 72
Chinese 66
Spanish 16

# Getting distributions of Loose Dataset

In [39]:
# dropping the columns that aren't needed for what we're doing right now

all_anon_loose=[]
for i in sorted_loose.anon_id:
    all_anon_loose.append(i)
len(all_anon_loose)

1810

In [40]:
# this code gets how many times an id appeared (n_anon_ids) as well as an array of what levels they participated in (lvl_nums)
clean_ids_lvl_loose=drop_loose.groupby('anon_id').agg(
    n_anon_ids_loose=('level_id', 'nunique'),
    lvl_nums_loose=('level_id', get_uniques)
)

#changes the clean_ids_lvl's index so we can access the anon_id easier
ind_loose= clean_ids_lvl_loose.reset_index()
ind_loose

    anon_id  n_anon_ids_loose lvl_nums_loose
0       aa0                 1          [5.0]
1       aa3                 1          [4.0]
2       aa8                 2     [4.0, 5.0]
3       aa9                 2     [3.0, 4.0]
4       ab6                 1          [4.0]
..      ...               ...            ...
278     gz2                 2     [4.0, 5.0]
279     gz5                 1          [4.0]
280     gz7                 1          [4.0]
281     ha0                 1          [5.0]
282     ha2                 2     [4.0, 5.0]

[283 rows x 3 columns]

In [41]:
# for loop that checks if lvl_nums has all three levels in it (3,4, and 5)
# if there are three values in lvl_nums, the anon_id is appended to the all_three list
ind=0
all_three_loose=[]
append=''
for i in ind_loose.anon_id:
    if ind_loose.iat[ind, 1]==3:
        append=ind_loose.at[ind,'anon_id']
        all_three_loose.append(append)
    ind=ind+1

all_three_loose.sort()
len(all_three_loose)

8

In [42]:
# creates list of participants in loose sheet that are in level 3 and 4
ind=0
in34_loose=[]
append=''
for i in ind_loose.anon_id:
    if ind_loose.iat[ind, 1]==2:
        if (3 in ind_loose.iat[ind,2] and 4 in ind_loose.iat[ind,2]):
            append=ind_loose.at[ind,'anon_id']
            in34_loose.append(append)
    elif ind_loose.iat[ind,1]==3:
        append=ind_loose.at[ind,'anon_id']
        in34_loose.append(append)
    ind=ind+1
in34_loose.sort()
print(len(in34_loose))

28

In [43]:
llang_dict_35={}
for i in all_three_loose:
    df_ind=binarySearchArr(all_anon_loose,i)
    key=sorted_loose.at[df_ind,'L1']
    val=sorted_loose.at[df_ind,'anon_id']
    
    if key in llang_dict_35:
        llang_dict_35[key].append(val)
    else:
        llang_dict_35[key]=[val]
    
print(llang_dict_35)

{'Korean': ['an5', 'bv9'], 'Chinese': ['ar8', 'bl4', 'bp4', 'bz2'], 'Spanish': ['fa2', 'fy1']}

In [44]:
llang_dict_34={}
for i in in34_loose:
    df_ind=binarySearchArr(all_anon_loose,i)
    key=sorted_loose.at[df_ind,'L1']
    val=sorted_loose.at[df_ind,'anon_id']
    
    if key in llang_dict_34:
        llang_dict_34[key].append(val)
    else:
        llang_dict_34[key]=[val]
    
print(llang_dict_34)

{'Korean': ['aa9', 'ah9', 'an5', 'be2', 'bf1', 'bv9', 'cf6', 'cw6', 'cy5', 'ex0', 'fc9', 'fv7', 'gd1', 'gv1'], 'Chinese': ['ap5', 'ar8', 'ax7', 'bl4', 'bp4', 'bz2', 'cs5', 'ey8', 'fn8'], 'Spanish': ['ch0', 'cm9', 'fa2', 'fe7', 'fy1']}

In [45]:
# creates list of participants in loose sheet that are in level 4 and 5
ind=0
in45_loose=[]
append=''
for i in ind_loose.anon_id:
    if ind_loose.iat[ind, 1]==2:
        if (4 in ind_loose.iat[ind,2] and 5 in ind_loose.iat[ind,2]):
            append=ind_loose.at[ind,'anon_id']
            in45_loose.append(append)
    elif ind_loose.iat[ind,1]==3:
        append=ind_loose.at[ind,'anon_id']
        in45_loose.append(append)
    ind=ind+1
in45_loose.sort()
print(len(in45_loose))

61

In [46]:
llang_dict_45={}
for i in in45_loose:
    df_ind=binarySearchArr(all_anon_loose,i)
    key=sorted_loose.at[df_ind,'L1']
    val=sorted_loose.at[df_ind,'anon_id']
    
    if key in llang_dict_45:
        llang_dict_45[key].append(val)
    else:
        llang_dict_45[key]=[val]
    
print(llang_dict_45)

{'Korean': ['aa8', 'ac5', 'al5', 'an5', 'au5', 'au6', 'bu4', 'bv9', 'cc4', 'ce3', 'cj8', 'co5', 'cw1', 'dd9', 'dy7', 'fa0', 'ff1', 'fj7', 'fp5', 'fu6', 'fx4', 'gq8', 'gz2', 'ha2'], 'Chinese': ['aq1', 'ar8', 'ar9', 'az8', 'bf2', 'bl4', 'bl7', 'bp4', 'bz2', 'cb3', 'cj5', 'cz4', 'dc0', 'dm8', 'dq9', 'ei8', 'et4', 'ev6', 'ev9', 'ff2', 'fg8', 'fk8', 'gb4', 'gf5', 'gm1'], 'Spanish': ['bi4', 'bj2', 'cv7', 'dc6', 'df4', 'dk0', 'eo8', 'fa2', 'fx7', 'fy1', 'gq4', 'gu1']}

In [47]:
print("3-5:")

for key, value in llang_dict_35.items():
    print(key,len(value))

3-5:
Korean 2
Chinese 4
Spanish 2

In [48]:
print("3-4:")

for key, value in llang_dict_34.items():
    print(key,len(value))

3-4:
Korean 14
Chinese 9
Spanish 5

In [49]:
print("4-5:")

for key, value in llang_dict_45.items():
    print(key,len(value))

4-5:
Korean 24
Chinese 25
Spanish 12

# Answer counts for whole dataset

In [50]:
e_counts=sorted_sac.copy()
e_counts["Number of Questions"]=e_counts.anon_id.count()
entire_counts=e_counts.groupby(['anon_id','native_language'])['Number of Questions'].count()
qcount_entire=entire_counts.reset_index()

In [51]:
qcount_entire

    anon_id native_language  Number of Questions
0       aa0         Spanish                   17
1       aa1         Chinese                   22
2       aa3         Chinese                    8
3       aa8          Korean                   34
4       aa9          Korean                   27
..      ...             ...                  ...
470     ha0          Korean                    3
471     ha2          Korean                   44
472     ha6          Korean                   32
473     hb4          Korean                   40
474     hc1          Korean                    5

[475 rows x 3 columns]

In [52]:
espanish,echinese,ekorean=find_counts(qcount_entire,all_three,'native_language')
print('Counts in all 3\nSpanish counts: ',espanish,'\nChinese counts: ',echinese,'\nKorean counts: ',ekorean)

Counts in all 3
Spanish counts:  108
Chinese counts:  460
Korean counts:  795

In [53]:
espanish34,echinese34,ekorean34=find_counts(qcount_entire,lvls34,'native_language')
print('Counts in 3 and 4\nSpanish counts: ',espanish34,'\nChinese counts: ',echinese34,'\nKorean counts: ',ekorean34)

Counts in 3 and 4
Spanish counts:  157
Chinese counts:  907
Korean counts:  1552

In [54]:
espanish45,echinese45,ekorean45=find_counts(qcount_entire,lvls45,'native_language')
print('Counts in 4 and 5\nSpanish counts: ',espanish45,'\nChinese counts: ',echinese45,'\nKorean counts: ',ekorean45)

Counts in 4 and 5
Spanish counts:  298
Chinese counts:  1701
Korean counts:  1974

# Answer Counts for Loose dataset

In [55]:
l_counts=textcount_loose.copy()
l_counts["Number of Questions"]=l_counts.anon_id.count()
loose_counts=l_counts.groupby(['anon_id','L1'])['Number of Questions'].count()
qcount_loose=loose_counts.reset_index()
qcount_loose

    anon_id       L1  Number of Questions
0       aa0  Spanish                    8
1       aa3  Chinese                    2
2       aa8   Korean                   13
3       aa9   Korean                   18
4       ab6  Chinese                    2
..      ...      ...                  ...
278     gz2   Korean                    8
279     gz5  Chinese                    6
280     gz7   Korean                    5
281     ha0   Korean                    3
282     ha2   Korean                   19

[283 rows x 3 columns]

In [56]:
lspanish,lchinese,lkorean=find_counts(qcount_loose, all_three_loose,'L1')
print('Counts in all three\nSpanish counts: ',lspanish,'\nChinese counts: ',lchinese,'\nKorean counts: ',lkorean)

Counts in all three
Spanish counts:  23
Chinese counts:  34
Korean counts:  26

In [57]:
lspanish34,lchinese34,lkorean34=find_counts(qcount_loose,in34_loose,'L1')
print('Counts in 3 and 4\nSpanish counts: ',lspanish34,'\nChinese counts: ',lchinese34,'\nKorean counts: ',lkorean34)

Counts in 3 and 4
Spanish counts:  44
Chinese counts:  64
Korean counts:  146

In [58]:
lspanish45,lchinese45,lkorean45=find_counts(qcount_loose, in45_loose,'L1')
print('Counts in 4 and 5\nSpanish counts: ',lspanish45,'\nChinese counts: ',lchinese45,'\nKorean counts: ',lkorean45)

Counts in 4 and 5
Spanish counts:  128
Chinese counts:  305
Korean counts:  289

# Tokinizing Essays for Loose

In [59]:
textsort_loose=textcount_loose.sort_values(by=['anon_id'])
textsort_loose

,anon_id,L1,level_id,text3_len,text3 (edits made to fix word counts),processed_text,wordtype_len
0,aa0,Spanish,5.0,109.0,"Barber, chef by profession, but an expert on a...",barber chef by profession but an expert on agr...,79
1,aa0,Spanish,5.0,190.0,"The article ""English as Co star"" support the f...",the article english as co star support the fac...,117
2,aa0,Spanish,5.0,193.0,"In this article the authors Goleman, Kaufman a...",in this article the authors goleman kaufman an...,122
3,aa0,Spanish,5.0,170.0,"Flow in the sense expressed in the text ""The C...",flow in the sense expressed in the text the cr...,103
4,aa0,Spanish,5.0,85.0,"Bill Gates, in this conference, explained two ...",bill gates in this conference explained two bi...,66
...,...,...,...,...,...,...,...
1792,ha2,Korean,5.0,177.0,"In Korea, a lot of parents who want their chil...",in korea a lot of parents who want their child...,100
1791,ha2,Korean,4.0,69.0,The importance of women is getting greater in ...,the importance of women is getting greater in ...,53
1808,ha2,Korean,4.0,283.0,A natural disaster is the effect of the natura...,a natural disaster is the effect of the natura...,135
1799,ha2,Korean,5.0,315.0,"Fresh air, the npr's program, invited Ben Stil...",fresh air the nprs program invited ben stiller...,159
1809,ha2,Korean,5.0,168.0,I think human language and nonhuman primate la...,i think human language and nonhuman primate la...,100

In [60]:
print('Loose All Three')
finding_tokens(loose,all_three_loose,'L1','text3_len',qcount_loose)

Loose All Three
Spanish Token Average:  132.8695652173913
Korean Token Average:  181.3846153846154
Chinese Token Average: 188.64705882352942

In [61]:
print('Loose 3-4')
finding_tokens(loose,in34_loose,'L1','text3_len',qcount_loose)

Loose 3-4
Spanish Token Average:  140.8181818181818
Korean Token Average:  152.14383561643837
Chinese Token Average: 169.953125

In [62]:
print('Loose 4-5')
finding_tokens(loose,in45_loose,'L1','text3_len',qcount_loose)

Loose 4-5
Spanish Token Average:  203.5
Korean Token Average:  231.42560553633217
Chinese Token Average: 238.32131147540983

In [63]:
print('Loose All Three, Level 3')
tokenAvg(textsort_loose,'text3_len','L1',all_three_loose,3)

Loose All Three, Level 3
Spanish Average:  101.8
Korean Average:  134.5
Chinese Average:  131.8181818181818

In [64]:
print('Loose All Three, Level 4')
tokenAvg(textsort_loose,'text3_len','L1',all_three_loose,4)

Loose All Three, Level 4
Spanish Average:  172.5
Korean Average:  191.5
Chinese Average:  264.14285714285717

In [65]:
print('Loose All Three, Level 5')
tokenAvg(textsort_loose,'text3_len','L1',all_three_loose,5)

Loose All Three, Level 5
Spanish Average:  104.33333333333333
Korean Average:  211.0
Chinese Average:  194.6875

In [66]:
print('Loose 3-4, Level 3')
tokenAvg(textsort_loose,'text3_len','L1',in34_loose,3)

Loose 3-4, Level 3
Spanish Average:  108.8
Korean Average:  121.32142857142857
Chinese Average:  138.3

In [67]:
print('Loose 3-4, Level 4')
tokenAvg(textsort_loose,'text3_len','L1',in34_loose,4)

Loose 3-4, Level 4
Spanish Average:  176.52380952380952
Korean Average:  169.46511627906978
Chinese Average:  200.66666666666666

In [68]:
print('Loose 4-5, Level 4')
tokenAvg(textsort_loose,'text3_len','L1',in45_loose,4)

Loose 4-5, Level 4
Spanish Average:  214.77272727272728
Korean Average:  186.7709497206704
Chinese Average:  208.28947368421052

In [69]:
print('Loose 4-5, Level 5')
tokenAvg(textsort_loose,'text3_len','L1',in45_loose,5)

Loose 4-5, Level 5
Spanish Average:  208.73076923076923
Korean Average:  313.77884615384613
Chinese Average:  278.6830985915493

# Tokenizing Essays for Whole Dataset

In [70]:
sort_sac=stu_ans_crs.sort_values(by=['anon_id']).reset_index(drop=True)

In [71]:
print('Whole All Three')
finding_tokens(stu_ans_crs,all_three,'native_language','text_len',qcount_entire)

Whole All Three
Spanish Token Average:  182.3148148148148
Korean Token Average:  210.0867924528302
Chinese Token Average: 211.56521739130434

In [72]:
print('Whole 3-4')
finding_tokens(stu_ans_crs,lvls34,'native_language','text_len',qcount_entire)

Whole 3-4
Spanish Token Average:  187.2675159235669
Korean Token Average:  187.3137886597938
Chinese Token Average: 195.03528114663726

In [73]:
print('Whole 4-5')
finding_tokens(stu_ans_crs,lvls45,'native_language','text_len',qcount_entire)

Whole 4-5
Spanish Token Average:  219.95302013422818
Korean Token Average:  236.97821681864235
Chinese Token Average: 247.12580834803057

In [74]:
print('Whole All Three, Level 3')
tokenAvg(sort_sac,'text_len','native_language',all_three,3)

Whole All Three, Level 3
Spanish Average:  105.19444444444444
Korean Average:  163.57309941520467
Chinese Average:  143.54464285714286

In [75]:
print('Whole All Three, Level 4')
tokenAvg(sort_sac,'text_len','native_language',all_three,4)

Whole All Three, Level 4
Spanish Average:  249.21153846153845
Korean Average:  232.37891737891738
Chinese Average:  207.9468085106383

In [76]:
print('Whole All Three, Level 5')
tokenAvg(sort_sac,'text_len','native_language',all_three,5)

Whole All Three, Level 5
Spanish Average:  147.2
Korean Average:  210.56043956043956
Chinese Average:  267.2420382165605

In [77]:
print('Whole 3-4, Level 3')
tokenAvg(sort_sac,'text_len','native_language',lvls34,3)

Whole 3-4, Level 3
Spanish Average:  115.32835820895522
Korean Average:  141.3293172690763
Chinese Average:  144.34782608695653

In [78]:
print('Whole 3-4, Level 4')
tokenAvg(sort_sac,'text_len','native_language',lvls34,4)

Whole 3-4, Level 4
Spanish Average:  267.57142857142856
Korean Average:  211.13202614379085
Chinese Average:  207.68941176470588

In [79]:
print('Whole 4-5, Level 4')
tokenAvg(sort_sac,'text_len','native_language',lvls45,4)

Whole 4-5, Level 4
Spanish Average:  244.72027972027973
Korean Average:  224.41098677517803
Chinese Average:  225.59795134443021

In [80]:
print('Whole 4-5, Level 5')
tokenAvg(sort_sac,'text_len','native_language',lvls45,5)

Whole 4-5, Level 5
Spanish Average:  224.9075630252101
Korean Average:  267.35121951219514
Chinese Average:  283.1055900621118

# Finding Unique Word Counts for Loose

In [81]:
print("Loose 3-5, Level 3")
tokenAvg(textcount_loose,'wordtype_len','L1',all_three_loose,3)

Loose 3-5, Level 3
Spanish Average:  59.6
Korean Average:  74.16666666666667
Chinese Average:  72.27272727272727

In [82]:
print("Loose 3-5, Level 4")
tokenAvg(textcount_loose,'wordtype_len','L1',all_three_loose,4)

Loose 3-5, Level 4
Spanish Average:  92.7
Korean Average:  96.875
Chinese Average:  122.14285714285714

In [83]:
print("Loose 3-5, Level 5")
tokenAvg(textcount_loose,'wordtype_len','L1',all_three_loose,5)

Loose 3-5, Level 5
Spanish Average:  67.66666666666667
Korean Average:  116.5
Chinese Average:  99.4375

In [84]:
print("Loose 3-4, Level 3")
tokenAvg(textcount_loose,'wordtype_len','L1',in34_loose,3)

Loose 3-4, Level 3
Spanish Average:  62.5
Korean Average:  69.05357142857143
Chinese Average:  73.1

In [85]:
print("Loose 3-4, Level 4")
tokenAvg(textcount_loose,'wordtype_len','L1',in34_loose,4)

Loose 3-4, Level 4
Spanish Average:  92.71428571428571
Korean Average:  90.70930232558139
Chinese Average:  102.27777777777777

In [86]:
print("Loose 4-5, Level 4")
tokenAvg(textcount_loose,'wordtype_len','L1',in45_loose,4)

Loose 4-5, Level 4
Spanish Average:  110.63636363636364
Korean Average:  98.26815642458101
Chinese Average:  104.84210526315789

In [87]:
print("Loose 4-5, Level 5")
tokenAvg(textcount_loose,'wordtype_len','L1',in45_loose,5)

Loose 4-5, Level 5
Spanish Average:  110.61538461538461
Korean Average:  144.01923076923077
Chinese Average:  133.6549295774648

# Unique Word Counts Whole Dataset

In [88]:
print("Whole 3-5, Level 3")
tokenAvg(sort_sac,'wordtype_len','native_language',all_three,3)

Whole 3-5, Level 3
Spanish Average:  61.19444444444444
Korean Average:  87.5906432748538
Chinese Average:  80.59821428571429

In [89]:
print("Whole 3-5, Level 4")
tokenAvg(sort_sac,'wordtype_len','native_language',all_three,4)

Whole 3-5, Level 4
Spanish Average:  117.61538461538461
Korean Average:  113.98290598290598
Chinese Average:  105.06914893617021

In [90]:
print("Whole 3-5, Level 5")
tokenAvg(sort_sac,'wordtype_len','native_language',all_three,5)

Whole 3-5, Level 5
Spanish Average:  85.6
Korean Average:  103.13553113553114
Chinese Average:  127.6624203821656

In [91]:
print("Whole 3-4, Level 3")
tokenAvg(sort_sac,'wordtype_len','native_language',lvls34,3)

Whole 3-4, Level 3
Spanish Average:  64.94029850746269
Korean Average:  78.77309236947791
Chinese Average:  77.59937888198758

In [92]:
print("Whole 3-4, Level 4")
tokenAvg(sort_sac,'wordtype_len','native_language',lvls34,4)

Whole 3-4, Level 4
Spanish Average:  123.14285714285714
Korean Average:  106.1032679738562
Chinese Average:  104.78117647058824

In [93]:
print("Whole 4-5, Level 4")
tokenAvg(sort_sac,'wordtype_len','native_language',lvls45,4)

Whole 4-5, Level 4
Spanish Average:  119.08391608391608
Korean Average:  111.34893184130213
Chinese Average:  114.32266325224072

In [94]:
print("Whole 4-5, Level 5")
tokenAvg(sort_sac,'wordtype_len','native_language',lvls45,5)

Whole 4-5, Level 5
Spanish Average:  114.3109243697479
Korean Average:  124.68170731707318
Chinese Average:  133.51925465838508

# Token/Type Ratio Loose

In [95]:
print("Loose 3-5 Ratio, Level 3")
ratio(textcount_loose,'text3_len','wordtype_len','L1',all_three_loose,3)

Loose 3-5 Ratio, Level 3
Spanish Ratio:  0.5854616895874264
Korean Ratio:  0.5514250309789344
Chinese Ratio:  0.5482758620689655

In [96]:
print("Loose 3-5 Ratio, Level 4")
ratio(textcount_loose,'text3_len','wordtype_len','L1',all_three_loose,4)

Loose 3-5 Ratio, Level 4
Spanish Ratio:  0.5373913043478261
Korean Ratio:  0.5058746736292428
Chinese Ratio:  0.46241211465657106

In [97]:
print("Loose 3-5 Ratio, Level 5")
ratio(textcount_loose,'text3_len','wordtype_len','L1',all_three_loose,5)

Loose 3-5 Ratio, Level 5
Spanish Ratio:  0.6485623003194889
Korean Ratio:  0.5521327014218009
Chinese Ratio:  0.5107544141252006

In [98]:
print("Loose 3-4 Ratio, Level 3")
ratio(textcount_loose,'text3_len','wordtype_len','L1',in34_loose,3)

Loose 3-4 Ratio, Level 3
Spanish Ratio:  0.5744485294117647
Korean Ratio:  0.5691786870768325
Chinese Ratio:  0.5285610990600144

In [99]:
print("Loose 3-4 Ratio, Level 4")
ratio(textcount_loose,'text3_len','wordtype_len','L1',in34_loose,4)

Loose 3-4 Ratio, Level 4
Spanish Ratio:  0.5252225519287833
Korean Ratio:  0.535268285988747
Chinese Ratio:  0.5096899224806202

In [100]:
print("Loose 4-5 Ratio, Level 4")
ratio(textcount_loose,'text3_len','wordtype_len','L1',in45_loose,4)

Loose 4-5 Ratio, Level 4
Spanish Ratio:  0.5151322751322751
Korean Ratio:  0.5261426178511606
Chinese Ratio:  0.503348073278585

In [101]:
print("Loose 4-5 Ratio, Level 5")
ratio(textcount_loose,'text3_len','wordtype_len','L1',in45_loose,5)

Loose 4-5 Ratio, Level 5
Spanish Ratio:  0.5299428782015847
Korean Ratio:  0.45898323782673983
Chinese Ratio:  0.47959467313572385

# Type/Token Ratio Whole Dataset

In [102]:
print("Whole 3-5, Level 3")
ratio(sort_sac,'text_len','wordtype_len','native_language',all_three,3)

Whole 3-5, Level 3
Spanish Ratio:  0.581726960654872
Korean Ratio:  0.5354831790068285
Chinese Ratio:  0.5614853517447285

In [103]:
print("Whole 3-5, Level 4")
ratio(sort_sac,'text_len','wordtype_len','native_language',all_three,4)

Whole 3-5, Level 4
Spanish Ratio:  0.4719499961416776
Korean Ratio:  0.4905045056090234
Chinese Ratio:  0.5052693507955185

In [104]:
print("Whole 3-5, Level 5")
ratio(sort_sac,'text_len','wordtype_len','native_language',all_three,5)

Whole 3-5, Level 5
Spanish Ratio:  0.5815217391304348
Korean Ratio:  0.4898143799036237
Chinese Ratio:  0.477703362966847

In [105]:
print("Whole 3-4, Level 3")
ratio(sort_sac,'text_len','wordtype_len','native_language',lvls34,3)

Whole 3-4, Level 3
Spanish Ratio:  0.5630904620163064
Korean Ratio:  0.5573726236821914
Chinese Ratio:  0.5375860585197935

In [106]:
print("Whole 3-4, Level 4")
ratio(sort_sac,'text_len','wordtype_len','native_language',lvls34,4)

Whole 3-4, Level 4
Spanish Ratio:  0.4602242391884677
Korean Ratio:  0.5025446395403551
Chinese Ratio:  0.5045089953323968

In [107]:
print("Whole 4-5, Level 4")
ratio(sort_sac,'text_len','wordtype_len','native_language',lvls45,4)

Whole 4-5, Level 4
Spanish Ratio:  0.48661237319617084
Korean Ratio:  0.49618306768935067
Chinese Ratio:  0.5067539956411188

In [108]:
print("Whole 4-5, Level 5")
ratio(sort_sac,'text_len','wordtype_len','native_language',lvls45,5)

Whole 4-5, Level 5
Spanish Ratio:  0.508257360633687
Korean Ratio:  0.46635922418669146
Chinese Ratio:  0.471623519087319

# Checking

In [109]:
llang_dict_35

{'Korean': ['an5', 'bv9'],
 'Chinese': ['ar8', 'bl4', 'bp4', 'bz2'],
 'Spanish': ['fa2', 'fy1']}

In [110]:
loose

,3Langs,Item,answer_id,anon_id,L1,gender,course_id,level_id,class_id,question_id,version,text1_len,text2_len,text3_len,text1,"text2 (line breaks/extra spaces removed, spaces added to reach 60)",text3 (edits made to fix word counts),Judgement,Notes
0,Y,C12,141.0,aj8,Chinese,Male,118.0,5.0,w,17.0,1.0,121.0,114.0,114.0,"\n\n\n Today, I am going to describe one of my...","Today, I am going to describe one of my classm...","Today, I am going to describe one of my classm...",1.0,NaN
1,Y,C13,143.0,az8,Chinese,Female,118.0,5.0,w,17.0,1.0,96.0,95.0,95.0,My niece is 3 years old who is my younger brot...,My niece is 3 years old who is my younger brot...,My niece is 3 years old who is my younger brot...,1.0,NaN
2,Y,K9,133.0,az2,Korean,Male,118.0,5.0,w,17.0,1.0,130.0,128.0,128.0,"When I was in Germany, I met a friend who was ...","When I was in Germany, I met a friend who was ...","When I was in Germany, I met a friend who was ...",1.0,NaN
3,Y,K11,135.0,at8,Korean,Female,118.0,5.0,w,17.0,3.0,104.0,105.0,105.0,my friend is ANON_NAME_0. she is a my ELI frie...,my friend is ANON_NAME_0. she is a my ELI frie...,my friend is ANON_NAME_0. she is a my ELI frie...,1.0,NaN
4,Y,K20,188.0,eh9,Korean,Male,118.0,5.0,w,17.0,1.0,98.0,97.0,97.0,Younghun is my best friend. His facial appeara...,Younghun is my best friend. His facial appeara...,Younghun is my best friend. His facial appeara...,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807,Y,C3207,48246.0,bv8,Chinese,Unknown,1043.0,4.0,g,6105.0,1.0,133.0,131.0,131.0,The quote that talks about a true friend is so...,The quote that talks about a true friend is so...,The quote that talks about a true friend is so...,3.0,NaN
1808,Y,K3559,48254.0,dr8,Korean,Female,1043.0,4.0,g,6105.0,1.0,175.0,162.0,162.0,I think this means that home is not just a pla...,I think this means that home is not just a pla...,I think this means that home is not just a pla...,3.0,NaN
1809,Y,S781,48252.0,bl3,Spanish,Female,1043.0,4.0,g,6105.0,1.0,157.0,146.0,146.0,This quotation means that the majority of peop...,This quotation means that the majority of peop...,This quotation means that the majority of peop...,3.0,NaN
1810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
def printAns(idlist, df, lvl, txtcol):
    idlist.sort()
    index=0
 #   for name in idlist:
    for anon in df.anon_id:
        if anon in idlist:
            if df.at[index,'level_id']==lvl:
                print(anon,":" , df.at[index,txtcol],'\n')
        index+=1

In [112]:
lids35=['ar8', 'bl4', 'bp4', 'bz2']

printAns(lids35, loose, 4, 'text3 (edits made to fix word counts)')

bl4 : I felt frustrated when I talk to native speaker on the phone. I always kept on asking the person to repeat the question. Sometimes, I can figure out every easily but most of time I really want to give up. I always try to talk myself into an insistence. It is a good opportunity to practice in English so that I told myself never hang up the phone before someone doing that.

bz2 : One scene can give people different feelings when it is showed from the different ways. And some people like to record the scene by a camera while other people like to record by a painting. But what the difference between a scene from a camera and from a painting? The difference between a photo from camera and a painting is that a photo is truer than a painting. Because a camera can catch more derails which are easily missed, otherwise the details provide more information about the scene. Also, a picture is more lively than a painting. When people take a picture, it just takes a few seconds, and everything will recorded naturally. However, a painting takes a long time to finish. Another difference is that a camera is easy to carry, but the equipments of a painting are more complicated. Although there are so much difference between a photo and painting. They still ca replace each other, because they have many similarities. First, both photos and paintings show beautiful feeling to people. Second, both a photo and a painting show what he author wants people to know. People can realize the meaning of a photo or a painting. Third, both taking photos and drawing paintings cost a lot of money. Artists have to spend a lot of money to but equipments and materials to create. Even though there are a lot of differences between a photo and painting, they show the same thing. Both of them bring people beautiful scenes and let people know more about the beautiful things in this world.

bz2 : Stress comes from everywhere. Not only adults feel it, but also children. Dr Gautamadas quoted a recent survey, and he said "The perception of stress increases with age, along with the urge to perform. And stress has a negative impact on performance. So it is a vicious circle." Adults feel stress because of the work, family. Children or teenagers feel stress because of school homework, lots of tests or parents ask high grades. But how to release the stress and help relax. Here I have some ways. First, watch a comedy. When I feel stress, I sometimes watch a comedy. With watching it, I laugh loudly. Meanwhile I temporary forget the stress and the things which bothered me. After I watch a comedy I feel much better. Although I still have solved the problem, I feel I have energy to fight these problem and stress. Second, sometimes I go to a beach. I love the blue sea and the sky. When I see the sky and the sea, I feel very comfortable and it just like takes away most of my stress. I always walking at on the beach to help me relaxing, too. The thing I do but not usually at the beach is shout loudly. Shout at the beach is relaxing, because it is very spacious and won't bother any person. Last one, I think is the most useful one. Talk to my family or friends. When I talk to my family and friends or spend time together, they always provide some solutions or tell me what is the problem. After the talking, I also feel relax. This is the way I always choose to release my stress. There are still more other way to release stress. Through these ways you can feel much better about the stress, and have more energy to do everything. It is not so difficult. So don't feel upset the stress come. Just choose the way you like best, and fight the stress!

ar8 : Can you imagine 1.3 billion people celebrating at the same time? It happens only during the Spring Festival in China. The Spring Festival is the most important traditional Chinese holiday. It usually begins in late January or early February. It depends on which day is the first day of the lunar year in the Chinese calendar, so the Spring Festival is also the Chinese New Year. During the Spring Festival, all family members come together, prepare a lot of food, including a big New Year's Eve dinner, and celebrate for over a week. People who are away from home for work or school go home before the Spring Festival. About half a month before the holiday is the busiest time for travel. Airports, railway stations and long-distance bus stations are crowded with people heading home. However busy people are or however far they live from home, they will go back to visit parents and relatives. Sometimes, this is the only chance in the year for some hard-workers or students to go back home. This is the reason why the Spring Festival is so important for the Chinese people. In China, food is not just important but a part of culture. It is traditional to eat certain food during the holiday, such as dumplings, nian-gao, fish and spring rolls. These have individual meanings for good fortune. For example, my favorite food is nian-gao. The word "nian" means year in Chinese, and the word "gao" means high in Chinese, so nian-gao sounds like "getting higher year by year". Chinese people always like to save more money at the end of the year, so they like to prepare fish as a main dish because the Chinese pronunciation of fish sounds like "more saving". Most people like spring-roll very much because it contains pork and vegetables. They are very nutritious and delicious. The big New Year's Eve dinner is the most important in a year, so it must be abundant and there is a great variety of different dishes. There are a lot of activities during the Spring Festival, and people usually start to prepare for the celebration of the Festival a week before. They decorate their houses with red lanterns and red paper-cuttings. They buy a lot of food. On New Year's Eve, families get together at the grandparents' house usually at noon. Some of them start to prepare the big dinner, and the other people chat, watch TV, and play card games. People usually go out to see fireworks after dinner and again at midnight. Many people set off fireworks on the streets. With the sound and light of fireworks, you can absolutely feel the atmosphere of the Spring Festival. This is my favorite part of Spring Festival. The most important holiday in China is a great time for people to get together and celebrate. There are a lot of food and activities, and it's always an exciting and happy moment for 1.3 billion people.

ar8 : Can you define the meaning of happiness? I feel it's hard to explain. In my opinion, happiness is an abstract thing, because it's a feeling and a subjective sensation. Sometimes people feel happy easily, but sometimes they try very hard to search for happiness. I think to be happy we could try to do the following: we should actively discover happiness, cherish the things we already have, and share the happiness with other people. I believe happiness exists around us all the time, but we should actively discover it. You may face some difficulties, which will make you feel disappointed. However, you can always learn from the difficulties and even failures to get valuable experiences. For example, when I first started to learn classic music, I was told that my body was not strong enough to sing as a soprano. I was sad first, but I decided to face this problem and started to take many physical exercises. The exercises were very hard, but I felt really happy that I could improve every day. After rigorous training, I successfully passed the auditions of music schools. I was so happy that the person told me my weakness, so that I could face it and correct it. This experience taught me that we should always actively find happiness even under difficult situations, and sometimes overcoming a difficulty could bring tremendous happiness. People always pursue the things they don't have, and overlook the things they already have. Sometimes people complain why other people feel happy but I don't. You should ask yourself some questions. Is there somebody who often calls you and worries about you? Do you have some family members who always love you and take care of you? Sometimes you become used to the caring from your family and friends, and then you take it for granted. If you appreciate their concern, you will realize how lucky you are, and it will make you feel happy. Sometimes people around you can share and even enhance your experience of happiness. For example, if you achieve something, and your family and friends can share the excitement and joy with you, you will feel much happier. An athlete who just won an Olympic gold medal would feel extremely happy, because it is not only a personal accomplishment, but also an achievement shared by his whole nation. So it is important for us to share our happiness, because it not only makes other people happy, it can also make ourselves feel happier. Each individual feels happy for different reasons. But as long as we actively discover happiness, cherish what we already have and share the happiness with other people, we will have a happy life.

bp4 : My new room is bright, warm and fragrant. This cheers me up, because it make me feel I am in my home. Sometime I feel longly in my room, I try to figure out what is missing? At last, I find out what's missing. It's my family's pictures. I pick out some picture from my family. Then I put them up on the wall. Every time I saw these pictures I missed my family, so I always called back to my family. Now I love my room very much, because everything was setting down.

bp4 : A best friend is who might be another you. Maybe, but I don't think so. I have a friend who have totally different personality from mine. I'm very easy-going, but she is very shy. I can meet new friends in short time. Even thought she is shy, but she have some personality I don't have. Sometime I felt sad. Ling, who always encourage me all the time. Ling, who always care about me and my felling. I'm so glad I have this friend with me. I can't image I don't have her in my life. Even thought we don't have similar personality that we still can be best friends. Ling, who have different personality with me, but we can cover each other. Now, we are in different country. We still connect with each other. Ling, who always encourage me, even thought We don't stay with each other.

In [113]:
printAns(lids35, loose, 5, 'text3 (edits made to fix word counts)')

bl4 : when I was little, I always go home late after school because I like painting on the ground and do not noticed that times go by. During that time, the only thing I do is focus on my paint. Because of this reason, I do not limit by art teacher so that I am more created than in the class.

bl4 : I was not good at study in middle school especially in math. I was interested in art but that is not the main subject for entrance examination. Due to this reason, my parents force me to give up learning painting and pay attention to study hard. Although I do not like this decision but I have no choice. After I pass the exam, I try to restart to painting but I think I already lose a lot of passion that times go by. If my parents supported me to painting, maybe I am a good painter right now.

bz2 : In my country, Taiwan, has a lot of mythes and legends. One of my favorite mythes is the story of ANON_NAME_0 Tian-Ding. He was considered to be a hero in early 20th at Taipei city. At that time, Taiwan was governed by Japan in 50 years. During that 50 years, Taiwanese was discriminated against Japanese. There was a very big gate between rich people and poor people. ANON_NAME_0 Tian-Ding was a hero to help poor people, but what he had done was alleged to be a criminal my police. He stole rich people's money to help poor people. It is said not a right way to be a thief, but at that time poor people were squeezed by rich people, and they didn't have good live, they even were not able to eat food. Although government knew ANON_NAME_0 Tian-Ding was doing bad things, the government couldn't catch him, because ANON_NAME_0 Tian-Ding knew Kung Fu and he also knew how to change his look. He did help poor people that time. It is believe that ANON_NAME_0 ANON_NAME_1-Ding was betrayed, so the government got a chance to catch him. One day he was surrounded my many police officers and he jumped into a river, but a police shot him. Although we was injured, he kept swimming. Few days later, his cope was found in a cave. He was only 27 when he died. After that, people built a temple to remember him. He was a thief, but he was thought to be a super hero. He was not just help poor people, he also against Japanese government for Taiwanese.

bz2 : Every one likes vacation, either short vacation or long vacation. Students always have long summer vacation. Once you have a long vacation, you won't want just stay at home. Since we have a long winter time, we want some warm sunshine. Summer vacation is a very good chance to get beautiful sunshine. When we have a long vacation, we have a lot of time to do what we want to do. However how to plane a vacation is an important thing. No one wants to west summer vacation, everyone wants to do something special during the time. Because of this, we should plane our vacation well, and we won't be regret at the end of the vacation. How to plane a vacation, make sure how long is the vacation, list what you want to do and make a budget. First of all, you need to check how long is your vacation. You don't want to run our of time, or come back to school late. Some people don't make sure how long is vacation, so they miss the first day of the class and some people just come back just one day before the school begin. Both of these two situations are not good, because you haven't ready to focus on study yet, you probably miss something at the beginning of the classes. In order to prevent this, we should make sure how many time do we have. Second, since we have a long vacation, we may want to do something special, such as have a trip in our own country or outside our own country, learning something new or have a part time job. Write down everything you want to do. Although we may not able to do everything, we can use this list and depend on our time to plane what we can do, what we can't do. Also with the list, we won't forget what we want to do. Third, make a budget. It is very important if you want to have a trip. We should make a budget, so we won't run out of money. We don't want to spend too much money during the vacation. We have to make sure if we have enough money to have a trip. As a student, all of our support is from our parents, it is not that mature to ask parents to support you have a trip! If we want a trip, we should save money before we do it. I love to take a long vacation, and during a long vacation, I always want to do a lot of tings. So I always make a list to for what I want to do, and try my best to make them come true. Check my time, make a list and make budget are my steps to plane my vacation. I hope these three steps can help people to plane a vacation!

bz2 : A movie I have seen recently is BOLT. This movie is an animation which I like a lot. Bolt is a dog which has a lot of special power. He is also considered as a hero. However, he is just an normal dog. All super powers are not from him but from the people. Bolt thinks he is a super hero, so he needs to protect his owner whose name is Penny. Bolt never lives as an normal dogs. One day, he is sent to New York by accidentally. He meets a cat which is a normal cat. The cat led him go back to Hollywood. During the trip, he learns how to be a normal dog. He also realizes he is just a normal dog without any super power. Finally, he finds his owner and Penny quits the job. After they quit, they have their normal live.

bz2 : Do you like to live in your hometown or live in the city which you are living now? To live in another country was my dream; I wanted to experience other citys' customs. It doesn't matter weather the city is in my native country or not. Now, my dream has come true; the city I am living now is Pittsburgh. I am here for studying English and I'll study for my bachelor also. I have been here 5 months, although I have adapted my new live, I still miss my home town sometimes. I compare the difference between my hometown and Pittsburgh: the weather, the food and the environment. I am from Taiwan, and my hometown is called Tainan. The weather there is always hot, even in winter it is not as cold as Pittsburgh's weather; it is warmer than Pittsburgh's. When I was in Tainan I never saw snow before, but after I came here I saw a lot of snow. I was so happy at first, however I am tired about seeing snow now. Also in Tainan, it only rain about two months in summer, unlike Pittsburgh, it's also rain in winter. When I came here, I ate much American food than I did before. I noticed that people in here are much salad, pizzas and hamburgs. Also I found that the American food is saltier than Taiwan's. The most different is that it is more convenient in my hometown than in Pittsburgh. I can go out to buy any food whenever I want, on the contrary, I can't do the same thing in Pittsburgh. There is another different, the environment. Most houses in Tainan were made by concrete, on the other hand, houses here are made by either wood or limestone which have stable framework. In my hometown, there are a lot of historic spots, but in Pittsburgh here has many museums instead. I do like Pittsburgh, the people are friendly, and here has a lof of museum, such as art museum or history museum. Not only museum, Pittsburgh has high quality of art. Although the weather here in winter is too cold for me, but I have chance to see snow. I like to travel, and experience diverse customs in different city, even though I feel it is good for me to stay in my hometown. However I never regret that I choose Pittsburgh as my second hometown.

ar8 : Penny met her baby Koko 13 years ago. The Koko was a big female gorilla, and she was silly and playful. Penny and Koko shared common language and exchanged emotion each other. Doctor H. Cohn has researched Koko language for 13 years. He purposed Koko learn language suing sigh language. Koko learned to use sigh language expressing "drink" and "eat", then more and more. Since 1976, Penny and Koko have lived in the wild. Koko learned how to use sigh language to express the complex emotion like respect, trust and love. Koko liked to read books and look pictures from the books. She also liked to hear stories that penny read to her. She's beloved kid was a cat. After the cat was killed, she expressed the strong sadness through the sigh language.

ar8 : China is the most populous state in the world with over 1.3 billion people. China is made up of 34 provinces, and the capital is Beijing. China is located in East Asia and bordered with Mongolia and Russia in the North; Vietnam, Laos and Burma in the South. The mainland China's eastern seaboard is bounded on the southeast by the South China Sea and on the east by the East China Sea beyond which lies Taiwan, Korea, and Japan. China is a country with diverse geography, culture and people. Two major rivers in China are the Yellow River and the Yangtze River. Most of China's arable lands lie along these rivers, and they were the centers of China's major ancient civilizations. There are also desserts and inhabitable mountains in the western part of China. In China, there are hundreds of dialects in different areas. The official language is mandarin. In addition to the majority Han people, there are 55 different minority ethnic groups in China. In conclusion, China is an amazing country with beautiful landscapes and rich culture.

ar8 : The difference of language between non-human primate and human is that non-human primate cannot speak, and they cannot create a language by themselves. However, non-human primate has the ability of understanding and learning like humans. The gorilla Koko started learning sign-language after she was born in 1971. Through Koko's ability of understanding and imitation, she is able to use and understand more than 1,000 signs. She can also understand thousands of words of spoken English. Koko demonstrates that non-human primate has the capability to learn how to express their minds and emotions using sign-language. Furthermore, Koko can express her emotion through painting. Some of her paintings express an object like a cat or a bird, and some of her paintings express the emotions like anger or happiness. Through these examples, we can see non-human primate has the communication capabilities similar to humans'; namely, they can express their minds and emotions clearly and communicate with other humans.

ar8 : This is a story about some surgery interns. Meredith, Cristina, George and Izzie are in the same group. Their supervising doctor is very strict, and gives them many rules. All of them met difficulties at first. For example, George got the chance to perform an appendectomy, but he didn't complete. Cristina really wanted to do an operation and almost got the chance. She and Meredith helped the attending doctor make the correct diagnosis for a patient in critical condition, but the doctor decided to give the chance to Meredith but not Cristina. Cristina was angry and sad. Fortunately, this situation didn't hurt their friendship. After the first 48-hour shift, they were exhausted, and they experienced complicated emotions. However, they reaffirmed their devotion to medicine.

ar8 : My parents are very good example to show me how to be ideal parents. My father, who always brings me much joy and laugh, influences me deeply. He is very optimistic and funny. He is a very strict manager in his company, but he is never stringent to me because he thinks my mother is strict enough. He gives me a lot of freedom. My mother is a person who is very kind and graceful. She never has big problems with other people around her. Since I was very young, she has taught me to respect the elder, so that, when I eat something, I always ask my grandparents first if they want to eat. My mother teaches me many things that can help improve my personal quality, such as perseverance, courtesy, honesty and tolerance. She is not only my mother but also my best teacher. Anyway, in the future I want to be a mother like my mother and I want to find a husband whose personality is similar to my father's.

ar8 : I don't have time to watch a movie recently. I only saw an episode of sitcom "Grey's Anatomy", recommended by my friend. Grey's Anatomy, of which I heard before, was popular in America. This was a story about some surgery interns. Meredith, Cristina, George and Izzie, who just left medical schools, met in the same group when they started their internship. Their supervising doctor, very strict, gave them many rules. All of them, excited first, faced a lot of difficulties. For example, George got a chance to perform an appendectomy, a minor operation, but he didn't complete it. Cristina, an Asian American, really wanted to do an operation and almost got the chance. She and Meredith helped an attending doctor make the correct diagnosis for a patient in critical condition. But the attending doctor, who had a one night stand with Meredith, decided to give the chance to Meredith instead of Cristina. Cristina was angry and sad. Fortunately, this situation didn't hurt their friendship. After the first 48-hour shift, the interns, having experienced complicated emotions, were exhausted. However, they reaffirmed their devotion to medicine. I was attracted, because this sitcom includes many thrilling and exciting stories, and provides exquisite details of the characters' personalities and emotions. I think I will keep watching this sitcom.

ar8 : Author Nadine Cohodas has written a new biography of Nina Simone, called princess Noire. Nina Simone was a Julliard-trained pianist, a writer, a composer, and she became a voice of action and anger. She charts the life of a performer whose music was always an extension of- and a response to the world around her. According to Cohodas, Simone never had an interest in crossing the racial divide, and she wanted to confront it. Her song "To Be Young, Gifted and Black" became a staple of choirs in black schools across the country. Simone didn't see the racial progress, so she spent much of her life overseas. In addition to anger of racial issues, she alleged unfair compensation for her successful albums. Simone gave her last two performances at Carnegie Hall in the NYC. Cohodas says:" it wasn't great, but everybody was so thrilled to see her. She became a goddess of culture.

ar8 : The story talks about the history and the evolution of martini. It's made of gin and dry vermouth. It was invented in America and has become an icon. Martini was popular in urban areas, and it defined cool and modern. Its popularity faded in the late 1960s and 70s because of reduced expense account dining, the growth of health food stores and the appearance of other mind-altering substance. The classic cocktails made a comeback in the 1980s. New types of martinis with flavored vodka and fruit purees have become common in bars with loud music. According to the writer E. B. White, this is wrong because the drink should be an elixir of quietude.

ar8 : In Leipzig, Germany, Sarie Teichfischer, who lost her job 2 years ago, founded a choir. Most of its members are unemployed. Some of them have been jobless for over five years. She started the choir because she realized that the unemployed could lose their confidence and found it difficult to interact with other people. By forming a group where everyone is experiencing the similar situation makes it much easier for people to socialize. The choir has indeed dramatically improved the life of the unemployed. Sarie Teichfischer noticed that the pride of the members is building up and the dignity is coming back. They also become more hopeful for the future and are actively looking for jobs. For Sarie Teichfischer, however, the only fear in getting a new job is that she would have to give up the choir.

bp4 : Some people think Friday and Sunday is same for them, some people don't. For me, I think Friday is different from Sunday, even though Friday and Sunday is all called weekend. They still have something different, such as I still need to go to school or work on Friday, but I have a day off on Sunday. Friday, I have classes in the morning and afternoon, but I can stay outside or friends' houses late. I don't need to worry about can I wake up early in the morning. Also, I can feel relaxed to anticipate in all activities on Friday night. It's not neccesary to worry about next day because I don't have class on Saturday. Sunday, I don't have any classes, so I can do everything I want to do. I can hangout with my friends, clean my room, do my laundry, go shopping or do my homework...etc. I can do a lot of things on Sunday, however, I can't stay late at outside. Sunday's next day is Monday. I have classes on Monday. If I stay outside too late on Sunday, I can't wake up in the morning on Monday. I will attribute all of this on Sunday night. Friday and Sunday is also weekend, but they have some inherent different. I can go out at night on Friday, but I can't do this on Friday. I can have a totally day off on Sunday, but I don't have this on Friday. Are they same? I think yes, all of them are weekend. Are they different? For me, they are different. They have different functions, so Fiday is different from Sunday.

In [114]:
print(llang_dict_35.keys())

dict_keys(['Korean', 'Chinese', 'Spanish'])

In [115]:
print(llang_dict_45)

{'Korean': ['aa8', 'ac5', 'al5', 'an5', 'au5', 'au6', 'bu4', 'bv9', 'cc4', 'ce3', 'cj8', 'co5', 'cw1', 'dd9', 'dy7', 'fa0', 'ff1', 'fj7', 'fp5', 'fu6', 'fx4', 'gq8', 'gz2', 'ha2'], 'Chinese': ['aq1', 'ar8', 'ar9', 'az8', 'bf2', 'bl4', 'bl7', 'bp4', 'bz2', 'cb3', 'cj5', 'cz4', 'dc0', 'dm8', 'dq9', 'ei8', 'et4', 'ev6', 'ev9', 'ff2', 'fg8', 'fk8', 'gb4', 'gf5', 'gm1'], 'Spanish': ['bi4', 'bj2', 'cv7', 'dc6', 'df4', 'dk0', 'eo8', 'fa2', 'fx7', 'fy1', 'gq4', 'gu1']}

In [116]:
print(lang_dict_all)

{'Korean': ['ag9', 'an5', 'as0', 'ay1', 'be7', 'bv9', 'bz5', 'cc4', 'cj8', 'co5', 'cv3', 'cw0', 'ea4', 'eq8', 'es9', 'fj7', 'fp5', 'fu6', 'gc2', 'gq8', 'gz2', 'hb4'], 'Chinese': ['aq1', 'ar8', 'bf7', 'bl4', 'bl7', 'bp4', 'bz2', 'cb3', 'cf9', 'cz4', 'dk6', 'ev9', 'fi1', 'fj4', 'gb4', 'gx5'], 'Spanish': ['bj2', 'cm9', 'fa2', 'fy1']}

In [117]:
print(lang_dict_45)

{'Korean': ['aa8', 'ac5', 'ad1', 'ag9', 'al5', 'an5', 'ap4', 'aq5', 'as0', 'as7', 'au5', 'au6', 'aw6', 'ay1', 'be7', 'bq0', 'bu4', 'bv9', 'bw3', 'bz5', 'cc4', 'ce3', 'ch2', 'ci0', 'cj8', 'co5', 'cp0', 'cv3', 'cw0', 'cw1', 'dd9', 'df3', 'dm3', 'dy7', 'ea4', 'eb3', 'eb9', 'ec1', 'eg5', 'eq8', 'es0', 'es9', 'et3', 'ex3', 'fa0', 'fb4', 'fd6', 'ff1', 'fi5', 'fj7', 'fl0', 'fp5', 'fs0', 'ft2', 'fu6', 'fx4', 'fz8', 'ga1', 'gc2', 'ge6', 'gg2', 'gg6', 'gj0', 'gk5', 'gl1', 'gn0', 'gq8', 'gs3', 'gu0', 'gz2', 'ha2', 'hb4'], 'Chinese': ['ad7', 'ae9', 'af4', 'am5', 'an7', 'aq1', 'ar8', 'ar9', 'az8', 'bd7', 'bf2', 'bf7', 'bf9', 'bl4', 'bl7', 'bp2', 'bp4', 'br9', 'bv8', 'bw9', 'by5', 'by6', 'bz1', 'bz2', 'ca4', 'cb3', 'cd6', 'cf9', 'ci2', 'cj5', 'cl3', 'cz2', 'cz4', 'dc0', 'di7', 'dk6', 'dm8', 'dq9', 'du9', 'dw2', 'ei2', 'ei8', 'eo1', 'eq4', 'es4', 'et4', 'ev6', 'ev9', 'ff2', 'fg8', 'fi1', 'fj4', 'fk8', 'fo4', 'fq5', 'fw7', 'ga3', 'gb4', 'gf5', 'gl2', 'gm1', 'go8', 'gt0', 'gv3', 'gw0', 'gx5'], 'Spanish': ['bi4', 'bj2', 'br2', 'cm9', 'cv7', 'dc6', 'df4', 'dk0', 'eo8', 'fa2', 'fx7', 'fy1', 'gq4', 'gs6', 'gu1', 'gu9']}