#  Data analysis for Lexical Richness

In [1]:
#importing libraries
import os
import nltk
import numpy as np
from nltk.tokenize import RegexpTokenizer
import pandas as pd

# Functions

In [26]:
#binary search for strings
def binarySearchArr(arr, x):
    l = 0
    r = len(arr)
    while (l <= r):
        m = l + ((r - l) // 2)
 
        res = (x == arr[m])
        # Check if x is present at mid
        if (res == True):
            return m
 
        # If x greater, ignore left half
    #problem is here
        elif (res == False):
            if (x>arr[m]):
                l = m+1
            elif (x<arr[m]):
                r=m-1
        # If x is smaller, ignore right half
    return -1

In [27]:
#This function removes all of the rows that contain a string in the passed column
def rmStr (df, col):
    row_index=0
    row_ind=[]
    for i in df[col]:
        try:
            int(i)
        except:
            row_ind.append(row_index)
        row_index+=1
    return df.drop(labels=row_ind,axis=0)

In [28]:
# function that finds the unique values in a list
def get_uniques(x):
    return list(x.unique())

In [29]:
# reference code from previous research, tokinizes essays
# NEEDS UPDATING TO FIT CSV FILES

#function that does this
def calculate_tokens(file):
    essay = ''

    with open(file, 'r') as f: #used bc it's a file
        essay = f.read().lower()
        
    tokenizer = RegexpTokenizer(r'[0-9a-zA-Z_\-]+')
    tokenized = tokenizer.tokenize(essay)
    unique = np.unique(tokenized)
    
    return {
        'total': len(tokenized),
        'unique': len(unique)
    }

# Adding DFs

In [8]:
loose=pd.read_csv('original-sheets\Responses-Loose.csv')
student_info=pd.read_csv('corpus-files\student_information.csv')
course=pd.read_csv('corpus-files\course.csv')
answer_df=pd.read_csv('answer.csv',index_col = 'answer_id', low_memory=False)

In [3]:
course_=course.drop(columns=['class_id','semester','section'])

student=student_info.drop(columns=['birth_year','language_used_at_home','non_native_language_1','yrs_of_study_lang1',
                                  'study_in_classroom_lang1','ways_of_study_lang1','non_native_language_2','study_in_classroom_lang2',
                                  'ways_of_study_lang2','non_native_language_3','yrs_of_study_lang3','study_in_classroom_lang3',
                                  'ways_of_study_lang3','yrs_of_english_learning','yrs_in_english_environment','yrs_of_study_lang2'])
answer_=answer_df[['question_id','anon_id','course_id','version','text_len','text','tokens']].reset_index()

In [10]:
loose.head()
#use text3 for word count?
#use text3_len for number of tokes, but doesn't actually get the tokens
#tokenize text3

,3Langs,Item,answer_id,anon_id,L1,gender,course_id,level_id,class_id,question_id,version,text1_len,text2_len,text3_len,text1,"text2 (line breaks/extra spaces removed, spaces added to reach 60)",text3 (edits made to fix word counts),Judgement,Notes
0,Y,C12,141.0,aj8,Chinese,Male,118.0,5.0,w,17.0,1.0,121.0,114.0,114.0,"\n\n\n Today, I am going to describe one of my...","Today, I am going to describe one of my classm...","Today, I am going to describe one of my classm...",1.0,NaN
1,Y,C13,143.0,az8,Chinese,Female,118.0,5.0,w,17.0,1.0,96.0,95.0,95.0,My niece is 3 years old who is my younger brot...,My niece is 3 years old who is my younger brot...,My niece is 3 years old who is my younger brot...,1.0,NaN
2,Y,K9,133.0,az2,Korean,Male,118.0,5.0,w,17.0,1.0,130.0,128.0,128.0,"When I was in Germany, I met a friend who was ...","When I was in Germany, I met a friend who was ...","When I was in Germany, I met a friend who was ...",1.0,NaN
3,Y,K11,135.0,at8,Korean,Female,118.0,5.0,w,17.0,3.0,104.0,105.0,105.0,my friend is ANON_NAME_0. she is a my ELI frie...,my friend is ANON_NAME_0. she is a my ELI frie...,my friend is ANON_NAME_0. she is a my ELI frie...,1.0,NaN
4,Y,K20,188.0,eh9,Korean,Male,118.0,5.0,w,17.0,1.0,98.0,97.0,97.0,Younghun is my best friend. His facial appeara...,Younghun is my best friend. His facial appeara...,Younghun is my best friend. His facial appeara...,1.0,NaN

In [11]:
#Cleaning the answer df
col='course_id'
answer=rmStr(answer_, col) #removes strings from answer_.course_id

In [12]:
# Merging the datasets

merge_ans=answer[['anon_id','course_id']] #sets answer df up for merging 
student_merge=student.drop(columns=['course_history']) #set student df up for merging

student_ans=student_merge.merge(answer,on='anon_id').astype({'course_id':'int64'}) #merges student and answers

stu_ans_crs=student_ans.merge(course_, on='course_id') #merges the student-answers df with course df

In [13]:
stu_ans_crs

,anon_id,gender,native_language,age,answer_id,question_id,course_id,version,text_len,text,tokens,level_id
0,do6,Female,Russian,31.0,150,4,117,1,299,Some people prefer eat out and some like doing...,"['Some', 'people', 'prefer', 'eat', 'out', 'an...",5
1,do6,Female,Russian,31.0,1221,97,117,1,288,My opinion is that a person does need educatio...,"['My', 'opinion', 'is', 'that', 'a', 'person',...",5
2,do6,Female,Russian,31.0,1957,189,117,1,321,There are two national rooms in the Cathedral ...,"['There', 'are', 'two', 'national', 'rooms', '...",5
3,do6,Female,Russian,31.0,2164,190,117,1,464,There are two nation rooms in the Cathedral of...,"['There', 'are', 'two', 'nation', 'rooms', 'in...",5
4,bv5,Male,Arabic,21.0,151,4,117,1,315,"""Not all learning takes place in the classroom...","['``', 'Not', 'all', 'learning', 'takes', 'pla...",5
...,...,...,...,...,...,...,...,...,...,...,...,...
46225,cy7,Female,Korean,NaN,47682,6066,1034,1,10,1. emphasis\n2. appropriate\n3. requires\n4. a...,"['1', '.', 'emphasis', '2', '.', 'appropriate'...",3
46226,fp7,Female,Turkish,NaN,47823,6066,1034,1,10,1.emphasis \n2.appropriate\n3.requires\n4.anal...,"['1', '.', 'emphasis', '2', '.', 'appropriate'...",3
46227,fq6,Male,Chinese,NaN,47824,6066,1034,1,10,1.emphasis\n2.appropriate\n3.requires\n4.analy...,"['1', '.', 'emphasis', '2', '.', 'appropriate'...",3
46228,di6,Male,Chinese,NaN,47787,6066,1034,1,10,1 emphasis\n2 normal\n3 requires\n4 analyze\n5...,"['1', 'emphasis', '2', 'normal', '3', 'require...",3
46229,fm3,Unknown,Arabic,NaN,47725,6066,1034,1,10,1- emphasis\n2- appropriate\n3- requires\n4- a...,"['1', '-', 'emphasis', '2', '-', 'appropriate'...",3

# Getting Ids of participants in all three of Whole Dataset

In [22]:
sac_lvls

      anon_id native_language  level_id
0         do6         Russian         5
1         do6         Russian         5
2         do6         Russian         5
3         do6         Russian         5
4         bv5          Arabic         5
...       ...             ...       ...
46225     cy7          Korean         3
46226     fp7         Turkish         3
46227     fq6         Chinese         3
46228     di6         Chinese         3
46229     fm3          Arabic         3

[46230 rows x 3 columns]

In [23]:
sac_lvls=stu_ans_crs[['anon_id','native_language','level_id']]
sac_lvls

index=0
for i in sac_lvls['native_language']:
    if (i != 'Korean' or i != 'Spanish' or i != 'Chinese'):
        sac_lvls.drop(index)
    index+=1

sac_lvls

      anon_id native_language  level_id
0         do6         Russian         5
1         do6         Russian         5
2         do6         Russian         5
3         do6         Russian         5
4         bv5          Arabic         5
...       ...             ...       ...
46225     cy7          Korean         3
46226     fp7         Turkish         3
46227     fq6         Chinese         3
46228     di6         Chinese         3
46229     fm3          Arabic         3

[46230 rows x 3 columns]

In [ ]:
# allows us to see what levels each anon_id participated in 
lvl_list=sac_lvls.groupby('anon_id').agg(n_uniq=('level_id','nunique'), lvl_nums=('level_id',get_uniques))
lvl_list=lvl_list.reset_index()

In [18]:
lvl_list

     anon_id  n_uniq lvl_nums
0        aa0       1      [5]
1        aa1       2   [4, 3]
2        aa2       2   [4, 3]
3        aa3       1      [4]
4        aa5       1      [4]
...      ...     ...      ...
1172     hb7       2   [5, 4]
1173     hb8       2   [3, 4]
1174     hb9       2   [5, 4]
1175     hc0       2   [4, 5]
1176     hc1       1      [5]

[1177 rows x 3 columns]

In [17]:
# will create a list of only the ids that have levels 3, 4, and 5 in their lvl_nums column
all_three=[]
ind=0
for i in lvl_list.anon_id:
    if ((3 in lvl_list.iat[ind,2]) and (4 in lvl_list.iat[ind,2]) and (5 in lvl_list.iat[ind,2])
       and ()):
        append=lvl_list.at[ind, 'anon_id']
        all_three.append(append)
    ind+=1

all_three.sort()
len(all_three)

143

In [24]:
all_anon=[]
for i in sac_lvls.anon_id:
    all_anon.append(i)
len(all_anon)
all_anon.sort()

sorted_sac=sac_lvls.sort_values(by=['anon_id']).reset_index(drop=True)
print(sorted_sac)

      anon_id native_language  level_id
0         aa0         Spanish         5
1         aa0         Spanish         5
2         aa0         Spanish         5
3         aa0         Spanish         5
4         aa0         Spanish         5
...       ...             ...       ...
46225     hc1          Korean         5
46226     hc1          Korean         5
46227     hc1          Korean         5
46228     hc1          Korean         5
46229     hc1          Korean         5

[46230 rows x 3 columns]

In [45]:
lang_dict_all={}
for i in all_three:
    df_ind=binarySearchArr(all_anon,i)
    key=sorted_sac.at[df_ind,'native_language']
    val=sorted_sac.at[df_ind,'anon_id']
    
    if key in lang_dict_all:
        lang_dict_all[key].append(val)
    else:
        lang_dict_all[key]=[val]
    
print(lang_dict_all)

{'Japanese': ['ad8', 'am9', 'ay3', 'bs1', 'fw1', 'hb2'], 'Thai': ['af0', 'eu0', 'gy1'], 'Arabic': ['af3', 'ag5', 'ai1', 'am1', 'am7', 'ao4', 'ar2', 'au7', 'aw4', 'aw9', 'ax3', 'ba0', 'bd4', 'bf0', 'bi3', 'bi6', 'bm8', 'bn5', 'bn7', 'br8', 'bs5', 'bv2', 'bw4', 'cb8', 'cj2', 'ck1', 'ck2', 'cl5', 'co0', 'co4', 'cp4', 'cp5', 'cp6', 'cr1', 'cs0', 'cs7', 'ct4', 'cy2', 'db4', 'de1', 'di2', 'dj9', 'do1', 'dp7', 'ds6', 'dv1', 'dw0', 'ed3', 'ek1', 'ek6', 'el2', 'en4', 'eq1', 'et5', 'et8', 'ex9', 'ez6', 'fd3', 'fe2', 'fh1', 'fm5', 'fm9', 'fo0', 'fp1', 'ft9', 'fv4', 'fx8', 'gc0', 'gg0', 'gk4', 'go4', 'gw1', 'hb0'], 'Korean': ['ag9', 'an5', 'as0', 'ay1', 'be7', 'bv9', 'bz5', 'cc4', 'cj8', 'co5', 'cv3', 'cw0', 'dp5', 'ea4', 'eq8', 'es9', 'fj7', 'fp5', 'fs0', 'fu6', 'gc2', 'gg6', 'gq8', 'gz2', 'hb4'], 'Turkish': ['ah4', 'bs8', 'ch1', 'dp2', 'dx4', 'em0', 'fu1'], 'Chinese': ['aq1', 'ar8', 'bf7', 'bl4', 'bl7', 'bp4', 'bz2', 'cb3', 'cf9', 'cz4', 'dk6', 'eq4', 'ev9', 'fi1', 'fj4', 'fw7', 'gb4', 'gx5'], 'Russian': ['ax9', 'cm8'], 'English': ['ay4'], 'Spanish': ['bj2', 'cm9', 'fa2', 'fy1'], 'Suundi': ['cl9'], 'Italian': ['cx8'], 'Farsi': ['db5'], 'Portuguese': ['ff3']}

In [46]:
remove=[]
just_rks=lang_dict_all
for key in just_rks.keys():
    if (key != 'Korean' and key != 'Chinese' and key != 'Spanish'):
        remove.append(key)


for i in remove:
        just_rks.pop(i)
    
print(just_rks)

{'Korean': ['ag9', 'an5', 'as0', 'ay1', 'be7', 'bv9', 'bz5', 'cc4', 'cj8', 'co5', 'cv3', 'cw0', 'dp5', 'ea4', 'eq8', 'es9', 'fj7', 'fp5', 'fs0', 'fu6', 'gc2', 'gg6', 'gq8', 'gz2', 'hb4'], 'Chinese': ['aq1', 'ar8', 'bf7', 'bl4', 'bl7', 'bp4', 'bz2', 'cb3', 'cf9', 'cz4', 'dk6', 'eq4', 'ev9', 'fi1', 'fj4', 'fw7', 'gb4', 'gx5'], 'Spanish': ['bj2', 'cm9', 'fa2', 'fy1']}

# Getting distributions of Loose Dataset

In [47]:
# dropping the columns that aren't needed for what we're doing right now
dropped_loose=loose.drop(columns=['3Langs','Item','answer_id','gender','course_id','class_id','question_id','version','text1_len',
                                     'text2_len','text3_len','text1','text2 (line breaks/extra spaces removed, spaces added to reach 60)',
                                     'text3 (edits made to fix word counts)','Judgement','Notes'])
final_loose=dropped_loose.dropna()

In [48]:
# this code gets how many times an id appeared (n_anon_ids) as well as an array of what levels they participated in (lvl_nums)
clean_ids_lvl_loose=final_loose.groupby('anon_id').agg(
    n_anon_ids_loose=('level_id', 'nunique'),
    lvl_nums_loose=('level_id', get_uniques)
)

#changes the clean_ids_lvl's index so we can access the anon_id easier
ind_loose= clean_ids_lvl_loose.reset_index()
ind_loose

    anon_id  n_anon_ids_loose lvl_nums_loose
0       aa0                 1          [5.0]
1       aa3                 1          [4.0]
2       aa8                 2     [4.0, 5.0]
3       aa9                 2     [3.0, 4.0]
4       ab6                 1          [4.0]
..      ...               ...            ...
278     gz2                 2     [4.0, 5.0]
279     gz5                 1          [4.0]
280     gz7                 1          [4.0]
281     ha0                 1          [5.0]
282     ha2                 2     [4.0, 5.0]

[283 rows x 3 columns]

In [49]:
# for loop that checks if lvl_nums has all three levels in it (3,4, and 5)
# if there are three values in lvl_nums, the anon_id is appended to the all_three list
ind=0
all_three_loose=[]
append=''
for i in ind_loose.anon_id:
    if ind_loose.iat[ind, 1]==3:
        append=ind_loose.at[ind,'anon_id']
        all_three_loose.append(append)
    ind=ind+1

len(all_three_loose)

8

In [ ]:
# creates list of participants in loose sheet that are in level 3 and 4
ind=0
in34_loose=[]
append=''
for i in ind_loose.anon_id:
    if ind_loose.iat[ind, 1]==2:
        if (3 in ind_loose.iat[ind,2] and 4 in ind_loose.iat[ind,2]):
            append=ind_loose.at[ind,'anon_id']
            in34_loose.append(append)
    elif ind_loose.iat[ind,1]==3:
        append=ind_loose.at[ind,'anon_id']
        in34_loose.append(append)
    ind=ind+1
print(in34_loose)
print(len(in34_loose))

In [ ]:
# creates list of participants in limited sheet that are in level 4 and 5
ind=0
in45_loose=[]
append=''
for i in ind_loose.anon_id:
    if ind_loose.iat[ind, 1]==2:
        if (4 in ind_loose.iat[ind,2] and 5 in ind_loose.iat[ind,2]):
            append=ind_loose.at[ind,'anon_id']
            in45_loose.append(append)
    elif ind_loose.iat[ind,1]==3:
        append=ind_loose.at[ind,'anon_id']
        in45_loose.append(append)
    ind=ind+1
print(in45_loose)
print(len(in45_loose))

# Tokinizing Essays for Loose

In [ ]:
# reference code from previous research

#function that does this
def calculate_tokens(file):
    essay = ''

    with open(file, 'r') as f:
        essay = f.read().lower()
        
    tokenizer = RegexpTokenizer(r'[0-9a-zA-Z_\-]+')
    tokenized = tokenizer.tokenize(essay)
    unique = np.unique(tokenized)
    
    return {
        'total': len(tokenized),
        'unique': len(unique)
    }


# don't show this code to anyone else, i'm a bad boy
directories = ['limited', 'loose', 'strictest']
tokenize_results = { 'filename': [], 'total_tokens': [], 'unique_tokens': [] }

for directory in directories:
    for file in os.listdir(f'./data/in/{directory}'):
        results = calculate_tokens(f'./data/in/{directory}/{file}')
        tokenize_results['filename'].append(file)
        tokenize_results['total_tokens'].append(results['total'])
        tokenize_results['unique_tokens'].append(results['unique'])

pd.DataFrame(data=tokenize_results)