# Data Analysis for entire dataset

In [1]:
#importing libaries
%matplotlib inline
import numpy as np              
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
student_info=pd.read_csv('corpus-files\student_information.csv')
course=pd.read_csv('corpus-files\course.csv')
answer_df=pd.read_csv('answer.csv',index_col = 'answer_id', low_memory=False)

In [31]:
course_=course.drop(columns=['class_id','semester','section'])

student=student_info.drop(columns=['birth_year','language_used_at_home','non_native_language_1','yrs_of_study_lang1',
                                  'study_in_classroom_lang1','ways_of_study_lang1','non_native_language_2','study_in_classroom_lang2',
                                  'ways_of_study_lang2','non_native_language_3','yrs_of_study_lang3','study_in_classroom_lang3',
                                  'ways_of_study_lang3','yrs_of_english_learning','yrs_in_english_environment','yrs_of_study_lang2'])
answer_=answer_df[['question_id','anon_id','course_id','version','text_len','text','tokens']]
answer=answer_.astype({'course_id':'int64'}).dtypes
answer.info()

ValueError: invalid literal for int() with base 10: " 'NNS')"

In [33]:
answer_=answer_df[['question_id','anon_id','course_id','version','text_len','text','tokens']]
#answer=answer_.astype({'course_id':'int64'}).dtypes
answer_.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46317 entries, 1 to 48420
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   question_id  46317 non-null  object
 1   anon_id      46316 non-null  object
 2   course_id    46316 non-null  object
 3   version      46316 non-null  object
 4   text_len     46316 non-null  object
 5   text         46316 non-null  object
 6   tokens       46316 non-null  object
dtypes: object(7)
memory usage: 2.8+ MB

In [40]:
tests=answer_
row_index=0
for i in answer_.course_id:
    try:
        int(i)
    except:
        tests.drop(row_index, axis=0)
    row_index+=1   

tests.info

KeyError: '[8054] not found in axis'

# Binary Search Algorithm

In [4]:
#binary search for strings
def binarySearchArr(arr, x):
    l = 0
    r = len(arr)
    while (l <= r):
        m = l + ((r - l) // 2)
 
        res = (x == arr[m])
        # Check if x is present at mid
        if (res == True):
            return m
 
        # If x greater, ignore left half
    #problem is here
        elif (res == False):
            if (x>arr[m]):
                l = m+1
            elif (x<arr[m]):
                r=m-1
        # If x is smaller, ignore right half
    return -1

# Defining Functions

In [5]:
# function that finds the unique values in a list
def get_uniques(x):
    return list(x.unique())

# Seperating anon_ids by language

In [6]:
# creating a list of all the different languages
langs=[]
for i in student.native_language:
    lang=i
    if lang not in langs:
        langs.append(lang)

In [7]:
#This groups the anon_ids by their native language
count=0
lang_ids={}
for y in langs:
    count=0
    ids=[]
    key=y
    for i in student.anon_id:
        if (student.at[count, 'native_language'] == y):
            val=i
            ids.append(val)
        count=count+1
    lang_ids.update({key: ids})

In [8]:
#shows how many particpants are in each language
lang_counts=student.groupby('native_language').count().drop(columns=['gender','course_history','age'])
lang_counts.head()

                 anon_id
native_language
Arabic               465
Azerbaijani            2
Chinese              249
English                2
Farsi                  4

In [9]:
len(lang_ids)

31

# Merging the two datasets

In [10]:
course_.head()

   course_id  level_id
0          1         2
1          2         3
2          3         4
3          4         4
4          5         4

In [11]:
merge_ans=answer[['anon_id','course_id']]

In [13]:
student_merge=student.drop(columns=['course_history'])

     anon_id   gender native_language   age
0        ez9     Male          Arabic  27.0
1        gm3     Male          Arabic  25.0
2        fg5     Male          Nepali  66.0
3        ce5   Female          Korean  21.0
4        fi7   Female          Korean  23.0
...      ...      ...             ...   ...
1308     cu2  Unknown         Spanish   NaN
1309     fj2  Unknown          Arabic   NaN
1310     fm3  Unknown          Arabic   NaN
1311     gf9  Unknown          Arabic   NaN
1312     gg7  Unknown          Arabic   NaN

[1313 rows x 4 columns]

In [ ]:
#Merging the datasets

metric=play_rate.merge(art_rate, on='index')
final_metric=metric.merge(signs_rate, on='index')

final_metric.head()

In [16]:
student_ans=student_merge.merge(answer,on='anon_id')

In [17]:
student_ans

,anon_id,gender,native_language,age,question_id,course_id,version,text_len,text,tokens,tok_lem_POS
0,do6,Female,Russian,31.0,4,117,1,299,Some people prefer eat out and some like doing...,"['Some', 'people', 'prefer', 'eat', 'out', 'an...","[('Some', 'some', 'DT'), ('people', 'people', ..."
1,do6,Female,Russian,31.0,97,117,1,288,My opinion is that a person does need educatio...,"['My', 'opinion', 'is', 'that', 'a', 'person',...","[('My', 'my', 'PRP$'), ('opinion', 'opinion', ..."
2,do6,Female,Russian,31.0,189,117,1,321,There are two national rooms in the Cathedral ...,"['There', 'are', 'two', 'national', 'rooms', '...","[('There', 'there', 'EX'), ('are', 'be', 'VBP'..."
3,do6,Female,Russian,31.0,190,117,1,464,There are two nation rooms in the Cathedral of...,"['There', 'are', 'two', 'nation', 'rooms', 'in...","[('There', 'there', 'EX'), ('are', 'be', 'VBP'..."
4,bv5,Male,Arabic,21.0,4,117,1,315,"""Not all learning takes place in the classroom...","['``', 'Not', 'all', 'learning', 'takes', 'pla...","[('``', '``', '``'), ('Not', 'not', 'RB'), ('a..."
...,...,...,...,...,...,...,...,...,...,...,...
46225,gg7,Unknown,Arabic,NaN,5664,946,1,13,"As soon as I finish my study, I will look for ...","['As', 'soon', 'as', 'I', 'finish', 'my', 'stu...","[('As', 'as', 'RB'), ('soon', 'soon', 'RB'), (..."
46226,gg7,Unknown,Arabic,NaN,5665,946,1,14,"Once I get an admission, I will ask ANON_NAME_...","['Once', 'I', 'get', 'an', 'admission', ',', '...","[('Once', 'once', 'RB'), ('I', 'I', 'PRP'), ('..."
46227,gg7,Unknown,Arabic,NaN,5666,946,1,9,"Before I leave Pittsburgh, I will visit carneg...","['Before', 'I', 'leave', 'Pittsburgh', ',', 'I...","[('Before', 'before', 'IN'), ('I', 'I', 'PRP')..."
46228,gg7,Unknown,Arabic,NaN,5667,946,1,15,"Although I do not like volunteering, I will vo...","['Although', 'I', 'do', 'not', 'like', 'volunt...","[('Although', 'although', 'IN'), ('I', 'I', 'P..."
46229,gg7,Unknown,Arabic,NaN,5693,943,1,212,Cell Phones in the Classroom\n\nOver the past ...,"['Cell', 'Phones', 'in', 'the', 'Classroom', '...","[('Cell', 'Cell', 'NNP'), ('Phones', 'Phones',..."

In [25]:
stu_ans_crs=student_ans.merge(course_, on='course_id')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [23]:
stu_ans_crs=pd.concat([student_ans,course])

In [26]:
course.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1066 entries, 0 to 1065
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   course_id  1066 non-null   int64
 1   class_id   1066 non-null   object
 2   level_id   1066 non-null   int64
 3   semester   1066 non-null   object
 4   section    1066 non-null   object
dtypes: int64(2), object(3)
memory usage: 41.8+ KB

In [27]:
student_ans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46230 entries, 0 to 46229
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   anon_id          46230 non-null  object
 1   gender           46230 non-null  object
 2   native_language  46230 non-null  object
 3   age              37293 non-null  float64
 4   question_id      46230 non-null  object
 5   course_id        46230 non-null  object
 6   version          46230 non-null  object
 7   text_len         46230 non-null  object
 8   text             46230 non-null  object
 9   tokens           46230 non-null  object
 10  tok_lem_POS      46230 non-null  object
dtypes: float64(1), object(10)
memory usage: 4.2+ MB

In [66]:
course_ids={}
count=0
for i in student.anon_id:
    key=student.at[count,'anon_id']
    val=student.at[count,'course_history'].split(';')
    course_ids.update({key:val})
    count=count+1
course_ids

AttributeError: 'float' object has no attribute 'split'

In [15]:
course_id=student.at[0,'course_history'].split(';')
course_id

['6', '12', '18', '24', '30']