# Data Analysis for entire dataset

In [2]:
#importing libaries
%matplotlib inline
import numpy as np              
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
student_info=pd.read_csv('student_information.csv')
course=pd.read_csv('course.csv')

In [4]:
course_=course.drop(columns=['class_id','semester','section'])

student=student_info.drop(columns=['birth_year','language_used_at_home','non_native_language_1','yrs_of_study_lang1',
                                  'study_in_classroom_lang1','ways_of_study_lang1','non_native_language_2','study_in_classroom_lang2',
                                  'ways_of_study_lang2','non_native_language_3','yrs_of_study_lang3','study_in_classroom_lang3',
                                  'ways_of_study_lang3','yrs_of_english_learning','yrs_in_english_environment','yrs_of_study_lang2'])

# Binary Search Algorithm

In [5]:
#binary search for strings
def binarySearchArr(arr, x):
    l = 0
    r = len(arr)
    while (l <= r):
        m = l + ((r - l) // 2)
 
        res = (x == arr[m])
        # Check if x is present at mid
        if (res == True):
            return m
 
        # If x greater, ignore left half
    #problem is here
        elif (res == False):
            if (x>arr[m]):
                l = m+1
            elif (x<arr[m]):
                r=m-1
        # If x is smaller, ignore right half
    return -1

# Defining Functions

In [6]:
# function that finds the unique values in a list
def get_uniques(x):
    return list(x.unique())

# Merging the two datasets

In [15]:
course_.head()

   course_id  level_id
0          1         2
1          2         3
2          3         4
3          4         4
4          5         4

In [14]:
student.head()

  anon_id  gender native_language    course_history   age
0     ez9    Male          Arabic     6;12;18;24;30  27.0
1     gm3    Male          Arabic     6;12;24;30;38  25.0
2     fg5    Male          Nepali             18;24  66.0
3     ce5  Female          Korean  6;12;24;30;38;56  21.0
4     fi7  Female          Korean     6;12;24;30;38  23.0

In [16]:
type(student.course_history)

pandas.core.series.Series

In [17]:
type(student.gender)

pandas.core.series.Series

In [9]:
course_ids=[]
for i in student.at[0,'course_history']:
    if (i != ';'):
        course_ids.append(i)
course_ids

['6', '1', '2', '1', '8', '2', '4', '3', '0']