# Data Analysis for entire dataset

In [1]:
#importing libaries
%matplotlib inline
import numpy as np              
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
student_info=pd.read_csv('corpus-files\student_information.csv')
course=pd.read_csv('corpus-files\course.csv')
answer_df=pd.read_csv('answer.csv',index_col = 'answer_id', low_memory=False)

In [4]:
course_=course.drop(columns=['class_id','semester','section'])

student=student_info.drop(columns=['birth_year','language_used_at_home','non_native_language_1','yrs_of_study_lang1',
                                  'study_in_classroom_lang1','ways_of_study_lang1','non_native_language_2','study_in_classroom_lang2',
                                  'ways_of_study_lang2','non_native_language_3','yrs_of_study_lang3','study_in_classroom_lang3',
                                  'ways_of_study_lang3','yrs_of_english_learning','yrs_in_english_environment','yrs_of_study_lang2'])
answer=answer_df[['question_id','anon_id','course_id','version','text_len','text','tokens','tok_lem_POS']]

# Binary Search Algorithm

In [5]:
#binary search for strings
def binarySearchArr(arr, x):
    l = 0
    r = len(arr)
    while (l <= r):
        m = l + ((r - l) // 2)
 
        res = (x == arr[m])
        # Check if x is present at mid
        if (res == True):
            return m
 
        # If x greater, ignore left half
    #problem is here
        elif (res == False):
            if (x>arr[m]):
                l = m+1
            elif (x<arr[m]):
                r=m-1
        # If x is smaller, ignore right half
    return -1

# Defining Functions

In [6]:
# function that finds the unique values in a list
def get_uniques(x):
    return list(x.unique())

# Seperating anon_ids by language

In [5]:
# creating a list of all the different languages
langs=[]
for i in student.native_language:
    lang=i
    if lang not in langs:
        langs.append(lang)

In [6]:
#This groups the anon_ids by their native language
count=0
lang_ids={}
for y in langs:
    count=0
    ids=[]
    key=y
    for i in student.anon_id:
        if (student.at[count, 'native_language'] == y):
            val=i
            ids.append(val)
        count=count+1
    lang_ids.update({key: ids})

In [7]:
#shows how many particpants are in each language
lang_counts=student.groupby('native_language').count().drop(columns=['gender','course_history','age'])
lang_counts.head()

                 anon_id
native_language
Arabic               465
Azerbaijani            2
Chinese              249
English                2
Farsi                  4

In [54]:
len(lang_ids)

31

# Merging the two datasets

In [15]:
course_.head()

   course_id  level_id
0          1         2
1          2         3
2          3         4
3          4         4
4          5         4

In [14]:
student.head()

  anon_id  gender native_language    course_history   age
0     ez9    Male          Arabic     6;12;18;24;30  27.0
1     gm3    Male          Arabic     6;12;24;30;38  25.0
2     fg5    Male          Nepali             18;24  66.0
3     ce5  Female          Korean  6;12;24;30;38;56  21.0
4     fi7  Female          Korean     6;12;24;30;38  23.0

In [16]:
type(student.course_history)

pandas.core.series.Series

In [17]:
type(student.gender)

pandas.core.series.Series

In [66]:
course_ids={}
count=0
for i in student.anon_id:
    key=student.at[count,'anon_id']
    val=student.at[count,'course_history'].split(';')
    course_ids.update({key:val})
    count=count+1
course_ids

AttributeError: 'float' object has no attribute 'split'

In [15]:
course_id=student.at[0,'course_history'].split(';')
course_id

['6', '12', '18', '24', '30']