# L2SCA Analysis

In [3]:
#importing libraries
import os
import numpy as np
import pandas as pd

In [12]:
#importing metrics_SCA files
lchin34=pd.read_csv('metrics_SCA-files\lchin34_metrics_SCA.csv')
lchin45=pd.read_csv('metrics_SCA-files\lchin45_metrics_SCA.csv')
lchin35=pd.read_csv('metrics_SCA-files\lchin35_metrics_SCA.csv')

lkor34=pd.read_csv('metrics_SCA-files\lkor34_metrics_SCA.csv')
lkor45=pd.read_csv('metrics_SCA-files\lkor45_metrics_SCA.csv')
lkor35=pd.read_csv('metrics_SCA-files\lkor35_metrics_SCA.csv')

lspan34=pd.read_csv('metrics_SCA-files\lspan34_metrics_SCA.csv')
lspan45=pd.read_csv('metrics_SCA-files\lspan45_metrics_SCA.csv')
lspan35=pd.read_csv('metrics_SCA-files\lspan35_metrics_SCA.csv')

wchin34=pd.read_csv('metrics_SCA-files\wchin34_metrics_SCA.csv')
wchin35=pd.read_csv('metrics_SCA-files\wchin35_metrics_SCA.csv')

wkor35=pd.read_csv('metrics_SCA-files\wkor35_metrics_SCA.csv')

wspan34=pd.read_csv('metrics_SCA-files\wspan34_metrics_SCA.csv')
wspan45=pd.read_csv('metrics_SCA-files\wspan45_metrics_SCA.csv')
wspan35=pd.read_csv('metrics_SCA-files\wspan35_metrics_SCA.csv')



#wchin451=pd.read_csv('metrics_SCA-files\wchin45\0-444metrics_SCA.csv')
# wchin45, wkor34, wkor45 are folders

In [60]:
awchin45=pd.read_csv('metrics_SCA-files\wchin45_0-444metrics_SCA.csv')
bwchin45=pd.read_csv('metrics_SCA-files\wchin45_445_800metrics_SCA.csv')
cwchin45=pd.read_csv('metrics_SCA-files\wchin45_801-1300metrics_SCA.csv')
dwchin45=pd.read_csv('metrics_SCA-files\wchin45_1301-1700metrics_SCA.csv')

In [63]:
wchin45=awchin45.join(bwchin45)
wchin45

ValueError: columns overlap but no suffix specified: Index(['Unnamed: 0', 'W', 'S', 'VP', 'C', 'T', 'DC', 'CT', 'CP', 'CN', 'MLS',
       'MLT', 'MLC', 'C/S', 'VP/T', 'C/T', 'DC/C', 'DC/T', 'T/S', 'CT/T',
       'CP/T', 'CP/C', 'CN/T', 'CN/C'],
      dtype='object')

In [ ]:
awkor34
bwkor34
cwkor34
dwkor34

In [ ]:
awkor45
bwkor45
cwkor45
dwkor45

# Finding Averages

In [13]:
# averages of loose datasets
lchin34m=lchin34.mean()
lchin45m=lchin45.mean()
lchin35m=lchin35.mean()

lspan34m=lspan34.mean()
lspan45m=lspan45.mean()
lspan35m=lspan35.mean()

lkor34m=lkor34.mean()
lkor45m=lkor45.mean()
lkor35m=lkor35.mean()

In [14]:
# averages of most whole datasets

wchin34m=wchin34.mean()
wchin35m=wchin35.mean()

wkor35m=wkor35.mean()

wspan34m=wspan34.mean()
wspan45m=wspan45.mean()
wspan35m=wspan35.mean()

# Loose Chinese Averages

In [47]:
lchin34a=pd.DataFrame(lchin34m)
lchin34a

               0
W     170.750000
S      13.781250
VP     27.078125
C      21.734375
T      15.656250
DC      5.671875
CT      4.843750
CP      3.953125
CN     16.296875
MLS    12.796739
MLT    11.098692
MLC     7.982547
C/S     1.642438
VP/T    1.821059
C/T     1.432575
DC/C    0.257572
DC/T    0.405263
T/S     1.156741
CT/T    0.336972
CP/T    0.247759
CP/C    0.188850
CN/T    1.023841
CN/C    0.748242

In [49]:
lchin45a=pd.DataFrame(lchin45m)
lchin45a

               0
W     221.901639
S      14.773770
VP     33.809836
C      25.868852
T      16.613115
DC      8.826230
CT      6.904918
CP      5.209836
CN     22.626230
MLS    15.291833
MLT    13.693514
MLC     8.592133
C/S     1.820120
VP/T    2.124038
C/T     1.621888
DC/C    0.336682
DC/T    0.596670
T/S     1.121268
CT/T    0.450177
CP/T    0.312297
CP/C    0.200223
CN/T    1.416717
CN/C    0.882801

In [ ]:
lchin3a=pd.DataFrame(lchin35m)
lchin35a

# Loose Spanish Averages

In [ ]:
lspan34a=pd.DataFrame(lspan34m)
lspan34a

In [ ]:
lspan45a=pd.DataFrame(lspan45m)
lsapn45a

In [ ]:
lspan35a=pd.DataFrame(lspan35m)
lspan35a

# Loose Korean Averages

In [ ]:
lkor34a=pd.DataFrame(lkor34m)
lkor34a

In [ ]:
lkor45a=pd.DataFrame(lkor45m)
lkor45a

In [ ]:
lkor35a=pd.DataFrame(lkor35m)
lkor35a

# Whole Chinese Averages

# Whole Spanish Averages

# Whole Korean Averages